<%
  if @resource[:class].typus_field_options_for(:required).to_s.include?(attribute)
    label_text << " #{typus_required_badge}"
  end

  if @item.send("#{attribute}?")
    message = _("Remove %{attribute}", :attribute => @item.class.human_attribute_name(attribute).downcase)
    label_text << <<-HTML
 <small>#{link_to message, { :action => 'detach', 
                             :id => @item, 
                             :attachment => attribute }, 
                             :confirm => _("Are you sure?")}</small>
    HTML
  end
%>

<li>
  <% content = capture do %>
    <%= form.label attribute, label_text.html_safe %>
    <%= render_tip(attribute) %>
    <%= form.file_field attribute, options %>
    <%= typus_preview(@item, attribute) %>
  <% end %>

  <% if @item.send(attribute).file_missing? %>
    <div class="missing-file">
      <h3>This file is missing!</h3>
      <%= content %>
    </div>
  <% else %>
    <%= content %>
  <% end %>
</li>
