<% content_for :javascript do %>
  <%= hyly_script context: @community %>
<% end %>

<div class="row">
  <div class="cty-contact-hdr-left">
    <h2 class="hdr-primary">Have a question? Reach out. We’ll reach back.</h2>

    <p id="community-contact-note">
      <%= raw(@page.try(:contact_form_note)).presence || 'Fill out the form below to let us know how we can help.' %>
    </p>
  </div>

  <div class="cty-contact-hdr-right">
    <% if @community.phone_number.present? %>
      <p class="cty-contact-call-us">
        Call Us
        <%= dnr_phone_number(@community, dnr_ad_source, height: 21) %>
      </p>
    <% end %>

    <% if @page.try(:schedule_appointment_url).present? %>
      <p class="cty-contact-schedule-appointment">
        <%= link_to 'Schedule an Appointment', @page.schedule_appointment_url %>
      </p>
    <% end %>
  </div>
</div>

<%= hyly_form redirect_to: thank_you_apartment_community_contact_url %>
