<h3>Ready to speak with a leasing consultant?</h3>

<p>Fill out the form below for availability and specials.</p>

<%= error_messages_for :submission %>

<%= form_for :submission do |f| %>      
  <h3>Contact Information</h3>
  <%= f.text_field :first_name, :placeholder => 'Your First Name' %>
  <%= f.text_field :last_name, :placeholder => 'Your Last Name' %>
  <%= f.text_field :email, :placeholder => 'Your Email' %>

  <h3>Comments</h3>
  <%= f.text_area :comments, :rows => 8, :cols => 37, :placeholder => 'Your Message' %>

  <input type="submit" name="contact-submit" class="submit contact-submit" value="Submit" />
<% end %>
