<div class="row">
  <div class="cty-contact-hdr-left">
    <h2 class="hdr-primary">This is an upcoming community.</h2>

    <%= if_present?(@community.contact_configuration) do |config| %>
      <% if config.upcoming_intro_text.present? && config.upcoming_intro_text.length > 10 %>
        <div id="community-contact-note">
          <%= raw(config.upcoming_intro_text) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="cty-contact-hdr-right">
    <% if @community.phone_number.present? %>
      <p class="cty-contact-call-us">
        Call Us
        <%= dnr_phone_number(@community, dnr_ad_source, :height => 21) %>
      </p>
    <% end %>

    <% if @page.try(:schedule_appointment_url).present? %>
      <p class="cty-contact-schedule-appointment">
        <%= link_to 'Schedule an Appointment', @page.schedule_appointment_url %>
      </p>
    <% end %>
  </div>
</div>


<div id="community-contact-form">
  <%= error_messages_for :submission %>

  <%= form_for :submission, :html => { :class => "required-form" } do |f| -%>
    <fieldset>
      <h3>Contact Information</h3>
      <p>
        <%= f.label :first_name, 'First Name*' %>
        <%= f.text_field :first_name, :class => 'required' %>
      </p>
      <p>
        <%= f.label :last_name, 'Last Name*' %>
        <%= f.text_field :last_name, :class => 'required' %>
      </p>
      <p>
        <%= f.label :address, 'Address' %>
        <%= f.text_field :address %>
      </p>
      <p>
        <%= f.label :address_2, 'Address (cont.)' %>
        <%= f.text_field :address_2 %>
      </p>
      <p>
        <%= f.label :city, 'City' %>
        <%= f.text_field :city %>
      </p>
      <p>
        <%= f.label :state, 'State' %>
        <%= f.text_field :state %>
      </p>
      <p>
        <%= f.label :zip_code, 'Zip Code' %>
        <%= f.text_field :zip_code %>
      </p>
      <p>
        <%= f.label :phone_number, 'Phone Number*' %>
        <%= f.text_field :phone_number, :class => 'required' %>
      </p>
      <p>
        <%= f.label :email, 'E-Mail*' %>
        <%= f.text_field :email, :class => 'required email' %>
      </p>
      <p>
        <%= f.label :comments, 'Comments' %>
        <%= f.text_area :comments, :rows => 8 %>
      </p>
    </fieldset>

    <p class="submit">
      <%= submit_tag 'Submit' %>
    </p>

  <% end -%>
</div>
