<% content_for :javascript do %>
  <%= hyly_script :context => @community %>
<% end %>

<div class="row">
  <div class="cty-contact-hdr-left">
    <h2 class="hdr-primary">This is an upcoming community.</h2>

    <%= if_present?(@community.contact_configuration) do |config| %>
      <% if config.upcoming_intro_text.present? && config.upcoming_intro_text.length > 10 %>
        <div id="community-contact-note">
          <%= raw(config.upcoming_intro_text) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="cty-contact-hdr-right">
    <% if @community.phone_number.present? %>
      <p class="cty-contact-call-us">
        Call Us
        <%= dnr_phone_number(@community, dnr_ad_source, :height => 21) %>
      </p>
    <% end %>

    <% if @page.try(:schedule_appointment_url).present? %>
      <p class="cty-contact-schedule-appointment">
        <%= link_to 'Schedule an Appointment', @page.schedule_appointment_url %>
      </p>
    <% end %>
  </div>
</div>

<%= hyly_form :redirect_to => thank_you_apartment_community_contact_url %>
