<h3>This property is under construction.</h3>

<% @community.contact_configuration.if_present? do |config| %>
  <% if config.upcoming_intro_text.present? && config.upcoming_intro_text.length > 10 %>
    <div id="community-contact-note">
      <%= raw(config.upcoming_intro_text) %>
    </div>
  <% end %>
<% end %>

<br />

<%= error_messages_for :submission, :header_message => nil %>

<br />

<% form_for :submission do |f| %>      
  <h3>Contact Information</h3>
  <%= f.text_field :first_name, :placeholder => 'Your First Name' %>
  <%= f.text_field :last_name, :placeholder => 'Your Last Name' %>
  <%= f.text_field :email, :placeholder => 'Your Email' %>
  <%= f.text_field :phone_number, :placeholder => 'Your Phone Number' %>

  <input type="submit" name="contact-submit" class="submit contact-submit" value="Submit" />
<% end %>
