<% content_for :javascript do %>
  <%= double_click_community_request_info_script(@community) %>
<% end %>

<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>

<% if flash[:apartment_contact_email] -%>
  <div class="notice">
    Thanks for contacting us about <%= @community.title %>! We will reply to you soon.  
  </div>
<% end -%>

<% if @community.under_construction? %>
  <%= render :partial => 'under_construction_form' %>
<% elsif @community.show_lead_2_lease? -%>
  <%= render :partial => 'lead_2_lease_form' %>
<% end -%>

<div id="community-contact-text">
  <%= @page.content.try(:html_safe) if @page %>  
</div>


<% content_for :javascript do %>
  <script type="text/javascript" src="http://js.washingtonpost.com/wp-adv/units/wp-plus/895696/Retargeting_1_Shopping_Cart_/tag.js"></script>
<% end %>
