<% render_meta(@page) if @page %>

<div class="section page-title">
  <div class="content">
    <h2>Email Us</h2>
    <%= link_to @community.title, community_url(@community), :class => 'go-back' %>
  </div>
</div>

<% if @community.under_construction? || @community.show_lead_2_lease? %>
  <div class="section">
    <div class="content">
      <% if flash[:email_sent] -%>
        <div class="notice">
          <p>Thanks for contacting us about <%= @community.title %>! We will reply to you soon.</p>
        </div>
      <% end -%>

      <% if @community.under_construction? %>
        <%= render :partial => 'under_construction_form' %>
      <% elsif @community.show_lead_2_lease? %>
        <%= render :partial => 'lead_2_lease_form' %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @page %>
<div class="section">
  <div class="content">
    <%= @page.content.try(:html_safe) %>
  </div>
</div>
<% end %>
