<% content_for :javascript do %>
  <%= double_click_community_request_info_script(@community) %>
<% end %>

<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>

<% if flash[:apartment_contact_email] -%>
  <div class="notice">
    Thanks for contacting us about <%= @community.title %>! We will reply to you soon.
  </div>
<% end -%>

<div class="city-contact-grid">
  <div class="city-contact-grid-form">
    <% if @community.under_construction? %>
      <%= render :partial => 'under_construction_form' %>
    <% elsif @community.show_lead_2_lease? -%>
      <%= render :partial => 'lead_2_lease_form' %>
    <% end -%>
  </div>
  <div class="city-contact-grid-sidebar">
    <%= @page.content.try(:html_safe) if @page %>
  </div>
</div>

<div id="community-contact-text">
  <% if @community.address.present? %>
    <h2><strong>Address</strong></h2>
    <p><%= @community.title %></p>
    <p><%== @community.address("<br>") + " #{@community.zip_code}" %></p>
  <% end %>

  <% if !@community.note.nil? %>
    <p id="community-contact-note">*<%= @community.note %></p>
  <% end %>

  <% if @page.try(:local_phone_number).present? || @community.phone_number.present? %>
    <h2><strong>Phone Number</strong></h2>
    <p><%= @page.try(:local_phone_number).presence || @community.phone_number %></p>
  <% end %>

  <% if @community.office_hours.any? %>
    <h2><strong>Office Hours</strong></h2>
    <% @community.office_hours.each do |office_hour| %>
      <p><%= office_hour %></p>
    <% end %>
  <% end %>
</div>
