<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>

<div id="thank-you-text">
  <% config = @community.contact_configuration %>

  <% if flash[:contact_form] == 'under_construction' &&
        config.present? &&
        config.upcoming_thank_you_text.present? &&
        config.upcoming_thank_you_text.length > 10 %>
    <%= raw(config.upcoming_thank_you_text) %>
  <% else %>
    <%= raw(@page.try(:thank_you_text)).presence || snippet('Apartments Thank You Text') %>
  <% end %>
</div>

<%= apartment_contact_simplifi_code %>
<%= value_click_apartment_thank_you_code %>
<%= facebook_apartment_thank_you_code %>

<%= lead_2_lease_mediaplex_code(@community) %>
<%= apartment_contact_mediaplex_code(@community) %>
<%= master_conversion_mediaplex_code %>

<%- content_for :javascript do -%>
  <%= double_click_community_thank_you_script(@community) %>

  <!-- Clickable Conversion Tracking -->
  <script type="text/javascript">
    var _cctq = _cctq || [];
    _cctq.push(['cct_setConversionValue', '0']);
    _cctq.push(['cct_log', '0420-9Lce7a7d1049282c429f9e6ca039944ae073']);
    (function() {
      var cctjs = document.createElement('script'); cctjs.type = 'text/javascript'; cctjs.async = true;
      cctjs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cn.clickable.net/js/cct.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cctjs, s);
    })();
  </script>
  <!-- End Clickable Conversion Tracking -->

  <!-- Start Quantcast Tag -->
  <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
      var elem = document.createElement('script');
      elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + "https://quantserve.com/s/zNkRBgILpLEJcz";
      elem.async = true;
      elem.type = "text/javascript";
      var scpt = document.getElementsByTagName('script')[0];
      scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
      {qacct:"p-hdFx0hWaF1Gkm",labels:"_fp.event.Lead Form Conversion",orderid: <%= apartment_community.hyly_id %>,event:"refresh"}
    );
  </script>
  <noscript>
      <img src="https://quantserve.com/s/rxdaB6sDEDdOTv" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
  </noscript>
  <!-- End Quantcast tag -->
<%- end -%>
