<% if @community.show_lasso_form? -%>
  <h3>Ready to speak with a sales consultant?</h3>

  <p id="community-contact-note">Fill out the form below for availability and specials.</p>

  <p><em>* required</em></p>

  <div id="community-contact-form">
    <form method="post" id="lasso-form" class="required-form" action="http://www.mylasso.com/registrant_signup.php">
      <%= lasso_hidden_fields(@community) %>

      <%= text_field_tag 'FirstName', nil, :placeholder => '* Your First Name' %>
      <%= text_field_tag 'LastName', nil, :placeholder => '* Your Last Name' %>
      <%= text_field_tag 'Emails[Primary]', nil, :placeholder => '* Your Email' %>
      <%= text_field_tag 'Address', nil, :placeholder => 'Your Address' %>
      <%= text_field_tag 'City', nil, :placeholder => 'Your City' %>
      <%= text_field_tag 'Province', nil, :placeholder => 'Your State' %>
      <%= text_field_tag 'PostalCode', nil, :placeholder => 'Your ZIP Code' %>
      <%= text_field_tag 'Phones[Home]', nil, :placeholder => 'Your Phone Number' %>
      <%= text_area_tag 'Comments', nil, :rows => 8, :cols => 37, :placeholder => 'Your Comments' %>

      <input type="submit" name="contact-submit" class="submit contact-submit" value="Submit" />
    </form>
  </div>
<% end -%>
