<% render_meta(@page) if @page %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
  <%= lasso_contact_js(@community) %>
  <%= double_click_community_request_info_script(@community) %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2>Email Us</h2>
    <%= link_to @community.title, community_url(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content">
    <% if @community.id == 323 %>
      <%= render :partial => 'custom_contact_form_323' %>
    <% elsif @community.id == 556 %>
      <%= render :partial => 'custom_contact_form_556' %>
    <% elsif @community.id == 758 %>
      <%= render :partial => 'custom_contact_form_758' %>
    <% else %>
      <%= render :partial => 'lasso_form' %>
    <% end %>
  </div>
</div>
