<% content_for :body_class do %>community property features<% end %>
<% render_meta(@page) if @page %>
<%- render_mediaplex_code community_contact_thank_you_mediaplex_code(@community, @email) -%>

<% if @community.contact_mediamind_id.present? %>
  <% content_for :end_of_body do %>
    <%= mediamind_activity_code(@community.contact_mediamind_id) %>
  <% end %>
<% end %>

<% @community.conversion_configuration.try(:google_contact_label).if_present? do |code| %>
  <% content_for :end_of_body do %>
    <%= google_conversion_code(code) %>
  <% end %>
<% end %>

<% @community.conversion_configuration.try(:bing_contact_action_id).if_present? do |action_id| %>
  <% content_for :end_of_body do %>
    <%= bing_conversion_code(action_id) %>
  <% end %>
<% end %>


<div id="thank-you-text">
  <%= snippet('Homes Thank You Text') %>
</div>

<%= home_contact_form_mediaplex_code(@community, @email) %>
<%= double_click_community_thank_you_script(@community) %>
<%= master_conversion_mediaplex_code(@email) %>
