<% render_meta(@page) if @page %>

<div class="section page-title">
  <div class="content">
    <h2>Thank You</h2>
    <%= link_to @community.title, community_url(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content">
    <div id="thank-you-text">
      <%= snippet('Homes Thank You Text') %>
    </div>

    <%= home_contact_form_mediaplex_code(@community, @email) %>
    <%= double_click_community_thank_you_script(@community) %>
    <%= master_conversion_mediaplex_code(@email) %>
  </div>
</div>

<!-- Start Quantcast Tag -->
<script type="text/javascript">
  var _qevents = _qevents || [];

  (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + "https://quantserve.com/s/zNkRBgILpLEJcz";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
  })();

  _qevents.push(
    {qacct:"p-hdFx0hWaF1Gkm",labels:"_fp.event.Lead Form Conversion",orderid: <%= @community.hyly_id %>,event:"refresh"}
  );
</script>
<noscript>
    <img src="https://quantserve.com/s/rxdaB6sDEDdOTv" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->
