<% content_for :body_class do %>page<% end %>

<% render_meta(@page) %>

<% breadcrumb_item(link_to @page.title, page_path(@section, @page)) %>
<% breadcrumb_item(@community.title) %>

<% breadcrumb_title(@community.title) %>


<%= render 'pages/masthead' %>

<div id="main-content">
  <div class="container">
    <div class="content-left-padded">
      <div class="header row">
        <h2 class="hdr-w-cta">
          <span class="hdr">
            Save
            <span class="percent-savings"
                  data-savings="<%= number_to_percentage(@green_package.annual_savings, :precision => 0) %>"
                  data-savings-with-ultra-green="<%= number_to_percentage(@green_package.annual_savings_with_ultra_green, :precision => 0) %>">
              <%= number_to_percentage(@green_package.annual_savings, :precision => 0) %>
            </span>
            Annually at
          </span>

          <span class="info-bubble-control">
            <%= link_to @community.title, green_home_path(@community), :class => 'hdr' %>

            <% if all_green_home_communities.any? %>
              <div class="info-bubble">
                <div class="info-bubble-inner">
                  <strong class="info-bubble-hdr">Select Another Bozzuto Community:</strong>

                  <ul class="community-select">
                    <% all_green_home_communities.each do |community| %>
                      <li <%= 'class="current"'.html_safe if @community == community %>>
                        <%= link_to green_home_path(community) do %>
                          <strong><%= community.title %></strong>
                          <em><%= community.city %></em>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </span>
        </h2>

        <%= link_to 'Visit This Community', home_community_path(@community), :class => 'cta' %>
      </div>

      <div class="green-features row">
        <div class="data">
          <h3>Included Green Home Features</h3>

          <% if @green_package.has_ultra_green_features? %>
            <div class="form-inline">
              <input type="checkbox" id="ultra-green-package" />
              <label for="ultra-green-package">Include optional Ultra Green Package features</label>
            </div>
          <% end %>

          <table class="hotspot-table">
            <thead>
              <tr>
                <th scope="col">Home Features</th>
                <th scope="col" class="amount">Estimated Annual Savings</th>
              </tr>
            </thead>
            <tbody>
              <% @green_package.green_package_items.each_with_index do |item, i| %>
                <tr <%= raw('class="ultra-green"') if item.ultra_green? %> id="hotspot-row-<%= i + 1 %>" data-hotspot="<%= i + 1 %>">
                  <td><%= item.green_feature %></td>
                  <td class="amount"><%= number_to_currency(item.savings, :precision => 0) %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td>Total Savings</td>
                <td class="amount">
                  <%= number_to_currency(@green_package.total_savings, :precision => 0) %>/year*
                </td>
              </tr>
              <tr class="ultra-green">
                <td>Total Savings</td>
                <td class="amount">
                  <%= number_to_currency(@green_package.total_savings_with_ultra_green, :precision => 0) %>/year*
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="interactive">
          <%= image_tag(@green_package.photo.url, :alt => "", :height => 551, :width => 498) %>

          <ul id="hotspots">
            <% @green_package.green_package_items.each_with_index do |item, i| %>
              <li <%= raw('class="ultra-green"') if item.ultra_green? %>>
                <%= link_to('BH_TEST', :class          => 'hotspot',
                                      :id             => "hotspot-#{i + 1}",
                                      :'data-hotspot' => i + 1,
                                      :style          => "left: #{item.x - 11}px; top: #{item.y - 11}px;") do %>
                  <span class="hotspot-name">
                    <%= item.green_feature %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>

          <div id="hotspot-details">
            <% @green_package.green_package_items.each_with_index do |item, i| %>
              <div class="hotspot-details" id="hotspot-detail-<%= i + 1 %>">
                <div class="row">
                  <%= image_tag item.green_feature.photo.url, :width => 170, :height => 170 %>

                  <h3><%= item.green_feature %></h3>

                  <%= raw(item.green_feature.description) %>
                </div>

                <strong class="savings">
                  Saves <%= number_to_currency(item.savings, :precision => 0) %> annually
                </strong>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="content-box content-box-horiz-padded row">
        <%= image_tag('energy-star.png', :alt => "Energy Star", :class => 'align-left', :height => 81, :width => 80) %>
        <div class="content">
          <h3>Bozzuto new homes have been awarded the ENERGY STAR</h3>
          <p>Products/Homes/Buildings that earn the ENERGY STAR prevent greenhouse gas emissions by meeting strict energy efficiency guidelines set by the U.S. Environmental Protection Agency and the U.S. Department of Energy.</p>
        </div>
      </div>


      <% if @green_package.has_graph? %>
        <div class="content-box content-box-last row">
          <h3 class="hdr-spaced">
            <%= @green_package.graph_title %>

            <% @green_package.graph_tooltip.if_present? do |tooltip| %>
              <a href="BH_TEST" class="info-bubble-control"><em class="i">i</em>
                <div class="info-bubble">
                  <%= tooltip.html_safe %>
                </div>
              </a>
            <% end %>
          </h3>

          <%= image_tag(@green_package.graph.url, :alt => "", :width => 948, :height => 294) %>
        </div>
      <% end %>


      <p><em>*<%= @green_package.disclaimer %></em></p>
    </div>
  </div>
</div>
