<% content_for :body_class do %>about leadership<% end %>

<% if @page.present? %>
  <% render_meta(@page) %>
  <%= render :partial => 'pages/masthead_slideshow', :locals => { :slideshow => @page.masthead_slideshow } %>
<% end %>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <div class="partner-portrait">
        <ul class="partner-portrait-links">
          <li class="portrait-steve-s">
            <% link_to leader_path('steve-strazzella') do %>
              <span class="hit1">Steve Strazzella</span>
            <% end %>
          </li>
          <li class="portrait-john-b">
            <% link_to leader_path('john-b-slidell') do %>
              <span class="hit1">John B. Slidell</span>
            <% end %>
          </li>
          <li class="portrait-thomas-a">
            <% link_to leader_path('thomas-a-baum') do %>
              <span class="hit1">Thomas A. Baum</span>
            <% end %>
          </li>
          <li class="portrait-thomas-s">
            <% link_to leader_path('thomas-s-bozzuto') do %>
              <span class="hit1">Thomas S. Bozzuto</span>
            <% end %>
          </li>
          <li class="portrait-daniel-c">
            <% link_to leader_path('daniel-c-murphy') do %>
              <span class="hit1">Daniel C. Murphy</span>
            <% end %>
          </li>
          <li class="portrait-toby-s">
            <% link_to leader_path('toby-s-bozzuto') do %>
              <span class="hit1">Toby S. Bozzuto</span>
            <% end %>
          </li>
          <li class="portrait-julie-a">
            <% link_to leader_path('julie-a-smith') do %>
              <span class="hit1">Julie A. Smith</span>
            <% end %>
          </li>
          <li class="portrait-richard-l">
            <% link_to leader_path('richard-l-mostyn') do %>
              <span class="hit1">Richard L. Mostyn</span>
            <% end %>
          </li>
          <li class="portrait-michael-a">
            <% link_to leader_path('mike-schlegel') do %>
              <span class="hit1">Michael A. Schlegel</span>
              <span class="hit2"></span>
              <span class="hit3"></span>
            <% end %>
          </li>
        </ul>

      </div>

      <% @leadership_groups.each do |group| -%>
        <h2><%= group.name %></h2>
        <ul class="partners">
          <% group.leaders.each do |leader| -%>
            <li>
                <% link_to leader_path(leader) do %>
                  <span class="partner-name"><%= leader.name %></span>
                  <span class="partner-title"><%= leader.title %></span>
                  <span class="partner-group"><%= leader.company %></span>
                <% end %>
              </a>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  </div>
</div>
