<% content_for :body_class do %>leader bio<% end %>

<% if @page.present? %>
  <% render_meta(@page) %>
  <%= render :partial => 'pages/masthead_slideshow', :locals => { :slideshow => @page.masthead_slideshow } %>
<% end %>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <div class="column-main col">
        <div class="leader-meta row">
          <%= image_tag @leader.image.url %>

          <h3 class="leader-name"><%= @leader.name %></h3>

          <span class="leader-title"><%= @leader.title %></span>
          <span class="leader-group"><%= @leader.company %></span>
        </div>

        <div class="leader-bio">
          <p><%= @leader.bio %></p>
        </div>
      </div>

    </div>
  </div>
</div>
