<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item(link_to 'News & Press', news_and_press_path(@section)) %>
<% breadcrumb_item('Rankings') %>

<% breadcrumb_title('Rankings') %>


<div class="publications">
  <% @publications.each do |publication| %>
    <% if publication.rank_categories.any? %>
      <div class="publication row">
        <h2><%= publication.name %></h2>

        <% if publication.description? %>
          <div class="description">
            <%= raw(publication.description) %>
          </div>
        <% end %>

        <%= image_tag publication.image.url %>

        <% publication.rank_categories.each do |category| %>
          <% if category.ranks.any? %>
            <div class="rank-category">
              <h3><%= category.name %></h3>

              <ul class="rankings">
                <% category.ranks.each do |rank| %>
                  <li>
                    <strong><%= rank.year %></strong>
                    #<%= rank.rank_number %>
                    <%= rank.description if rank.description? %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
