<% if items.any? %>
  <%= form_tag :action => "destroy_multiple" do %>
    <table class="typus multi-destroy">
      <thead>
        <%= typus_table_header(UnderConstructionLead, fields).html_safe %>
      </thead>

      <tbody>
        <%- items.each do |item| -%>
          <tr class="<%= cycle('even', 'odd') %> <%= item.class.name.underscore %>" id="<%= item.to_dom %>" name="item_<%= item.id %>">
            <%= render_table_fields(item, fields, link_options).html_safe %>

            <td width="10px">
              <%= link_to '<div class="sprite trash">Trash</div>'.html_safe, { :action => 'destroy', :id => item.id },
                :title => _("Remove"),
                :confirm => _("Remove entry?") if @current_user.can?('destroy', UnderConstructionLead) %>
            </td>

            <td width="10px">
              <%= check_box_tag "ids[]", item.id, false, :class => 'multi-destroy-checkbox' %>
            </td>
          </tr>
        <%- end -%>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6">
            <label class="multi-destroy-label">
              <input type="checkbox" class="multi-destroy-select-all" />
              <span class="multi-destroy-text">Select All</span>
            </label>

            <%= submit_tag "Destroy Selected Leads", :class => 'multi-destroy-button' %>
          </td>
        </tr>
      </tfoot>
    </table>
  <%- end -%>
<% end %>
