<div class="footer">
  <div class="content">
    <ul class="disclaimers">
      <li class="full-site">
        <%= link_to 'Full Site', url_for(:full_site => 1) %>
      </li>
      <li class="contact-us">
        <%= link_to 'Contact Us', contact_path %>
      </li>
    </ul>

    <ul class="disclaimers">
      <li class="privacy-policy">
        <%= link_to 'Privacy Policy', '/pages/privacy-policy' %>
      </li>
      <li class="website-disclaimer">
        <%= link_to 'Website Disclaimer', '/pages/website-disclaimer' %>
      </li>
    </ul>
    <div class="copy-and-eho">
      <span class="copyright">&copy; <%= Time.now.year %> Bozzuto</span>
      <%= link_to 'Equal Housing Opportunity', '/about-us/housing-for-all', :class => 'eho' %>
    </div>
  </div>
</div>

<%= value_click_tracking_code unless viget_ip? %>
