
<% medical_neighborhoods_assets %>

<%= render 'breadcrumb',
           :title       => region.region_name,
           :items       => [region],
           :description => region.detail_description %>

<div id="main-content">
  <div class="nh-container">
    <%#= render 'banner_image', :place => metro %>

    <%= render 'map', :places => hospitals, :communities => region.communities %>

    <div class="nh-tiles row">
      <% hospitals.in_groups_of(3, false).each_with_index do |group, index| %>
        <div class="row">
          <% group.each do |hospital| %>
            <%= render 'listing', :hospital => hospital %>
          <% end %>
          <% if group.length < 3 && region.hospital_blog %>
            <%= render 'blog_block', blog: region.hospital_blog %>
          <% end %>
        </div>
        <% if group.length == 3 && (hospitals.in_groups_of(3, false).length-1) == index && region.hospital_blog %>
          <div class="row">
            <%= render 'blog_block', blog: region.hospital_blog %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

