<% content_for :body_class do %>secondary landing<% end %>
<% render_meta(@page) %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide">
          <div class="section">
            <h1><%= @page.title %></h1>

            <%= raw(@page.masthead_body) %>
          </div>

          <% if @page.masthead_image? %>
            <div class="figure">
              <%= link_to image_tag(@page.masthead_image.url), '#' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      
      <div id="sidebar" class="col">
        <h2>Map Key</h2>
        <ul class="mapkey">
          <li class="apartments"><span>Apartments for Rent</span></li>
          <li class="homes-condominiums"><span>Homes &amp; Condominiums</span></li>
          <li class="upcoming-projects"><span>Upcoming Projects</span></li>
        </ul>
      </div>

      <div id="content" class="col">
        <div class="areamap row">
          <%= render :partial => 'map' %>
          
          <% if @page.popular_properties.any? %>
            <div class="col areamap-popular-properties">
              <h2>Popular Properties</h2>
              
              <% @page.popular_properties.take(3).each do |property| %>
                <div class="section <%= popular_property_class(property) %>">
                  <h4>
                    <%= link_to property.short_title || property.title, property_path(property) %>
                  </h4>
                  <% if property.listing_title.present? %>
                    <p><%= property.listing_title %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        
        <div id="properties-by-type">
          <div class="header">
            <ul class="nav">
              <% if @page.home_communities.any? %>
                <li><a href="#homes-condominiums">Homes &amp; Condominiums</a></li>
              <% end %>
              <% if @page.apartment_communities.any? %>
                <li><a href="#apartments-for-rent">Apartments For Rent</a></li>
              <% end %>
              <% if @page.featured_apartment_communities.any? %>
                <li><a href="#featured-apartments">Featured Apartments</a></li>
              <% end %>
            </ul>
          </div>
          
          <% if @page.home_communities.any? %>
            <div id="homes-condominiums" class="section">
              <ul>
                <%= render :partial => 'home_communities/listing', :collection => @page.home_communities, :as => :community %>
              </ul>
            </div>
          <% end %>
          
          <% if @page.apartment_communities.any? %>
            <div id="apartments-for-rent" class="section">
              <ul>
                <%= render :partial => 'apartment_communities/listing', :collection => @page.apartment_communities, :as => :community %>
              </ul>
            </div>
          <% end %>

          <% if @page.featured_apartment_communities.any? %>
            <div id="featured-apartments" class="section">
              <ul>
                <%= render :partial => 'apartment_communities/listing', :collection => @page.featured_apartment_communities, :as => :community %>
              </ul>
            </div>          
          <% end %>
        </div>

        <div id="apartments-by-area">
          <div class="header">
            <ul class="nav">
              <li class="current">
                <a href="#apartments-by-city">Apartments By City</a>
              </li>
              <li class="last">
                <a href="#apartments-by-county">Apartments By County</a>
              </li>
            </ul>
          </div>

          <div id="apartments-by-city" class="section listings listings-count">
            <h2>Apartments for Rent in <%= @state.name %> By City</h2>

            <% @state.cities.ordered_by_name.in_groups_of(4, false) do |cities| %>
              <ul class="row">
                <% cities.each do |city| %>
                  <li>
                    <%= link_to city.name, '#' %>
                    <span class="count"><%= city.apartment_communities.published.count %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div id="apartments-by-county" class="section listings listings-count">
            <h2>Apartments for Rent in <%= @state.name %> By County</h2>

            <% @state.counties.ordered_by_name.in_groups_of(4, false) do |counties| %>
              <ul class="row">
                <% counties.each do |county| %>
                  <li>
                    <%= link_to county.name, '#' %>
                    <span class="count"><%= county.apartment_communities.published.count %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>          
        </div>
        
        <% if @page.projects.any? %>
          <div class="section listings">
            <h2>Upcoming Projects in <%= @state.name %></h2>

            <% @page.projects.in_groups_of(4, false) do |projects| %>
              <ul class="row">
                <% projects.each do |project| %>
                  <li>
                    <%= link_to project.title, property_path(project) %>
                    <%= project.city %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>

        <% if @page.secondary_title.present? %>
          <div class="section seo-text">
            <h2><%= @page.secondary_title %></h2>
            
            <%= raw(@page.secondary_body) %>
          </div>
        <% end %>
      </div>

      <%= property_icon_descriptions %>
    </div>
  </div>
</div>

