<% content_for :body_class do %>secondary landing<% end %>
<% render_meta(@page) %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide">
          <div class="section">
            <h1><%= @page.title %></h1>

            <%= raw(@page.masthead_body) %>
          </div>

          <% if @page.masthead_image? %>
            <div class="figure">
              <% if @page.masthead_image_url.present? %>
                <%= link_to image_tag(@page.masthead_image.url), @page.masthead_image_url, :rel => 'external' %>
              <% else %>
                <%= image_tag(@page.masthead_image.url) %>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">

      <div id="sidebar" class="col">
        <h2>Map Key</h2>
        <ul class="mapkey">
          <% if apartment_communities.any? %>
            <li class="apartments"><span>Apartments for Rent</span></li>
          <% end %>

          <% if home_communities.any? %>
            <li class="homes-condominiums"><span>Homes &amp; Condominiums</span></li>
          <% end %>

          <% if projects.any? %>
            <li class="upcoming-projects"><span>Upcoming Projects</span></li>
          <% end %>
        </ul>
      </div>

      <div id="content" class="col">
        <div class="areamap row">
          <%= render :partial => 'map' %>

          <% if popular_properties.any? %>
            <div class="col areamap-popular-properties">
              <h2>Popular Properties</h2>

              <% popular_properties.take(3).compact.each do |property| %>
                <div class="section <%= popular_property_class(property) %>">
                  <h4>
                    <%= link_to property.short_name, property_path(property) %>
                  </h4>
                  <% if property.overview_bullet_1.present? %>
                    <p><%= property.overview_bullet_1 %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if @page.promo.present? %>
          <%= render :partial => 'shared/promo', :object => @page.promo %>
        <% end %>

        <div id="properties-by-type">
          <div class="header">
            <ul class="nav">
              <% if home_communities.any? %>
                <li><a href="#homes-condominiums">Homes &amp; Condominiums</a></li>
              <% end %>

              <% if apartment_communities.any? %>
                <li><a href="#apartments-for-rent">Apartments For Rent</a></li>
              <% end %>

              <% if featured_apartment_communities.any? %>
                <li><a href="#featured-apartments">Featured Apartments</a></li>
              <% end %>

              <li><a href="#local-updates">Local<br />Updates</a></li>
            </ul>
          </div>


          <% if home_communities.any? %>
            <div id="homes-condominiums" class="section">
              <ul>
                <%= render_homes_listings home_communities.sort_for(@page), :use_dnr => true %>
              </ul>
            </div>
          <% end %>

          <% if apartment_communities.any? %>
            <div id="apartments-for-rent" class="section">
              <ul>
                <%= render_apartments_listings apartment_communities.sort_for(@page), :use_dnr => true %>
              </ul>
            </div>
          <% end %>

          <% if featured_apartment_communities.any? %>
            <div id="featured-apartments" class="section">
              <ul>
                <%= render_apartments_listings featured_apartment_communities.sort_for(@page), :use_dnr => true %>
              </ul>
            </div>
          <% end %>

          <div id="local-updates" class="section">
            <%= render :partial => 'local_updates' %>
          </div>
        </div>

        <% if @page.show_apartments_by_area? %>
          <div id="apartments-by-area">
            <div class="header">
              <ul class="nav">
                <li class="current">
                  <a href="#apartments-by-region">Apartments By Region</a>
                </li>
                <li>
                  <a href="#apartments-by-city">Apartments By City</a>
                </li>
                <li class="last">
                  <a href="#apartments-by-county">Apartments By County</a>
                </li>
              </ul>
            </div>

            <%= apartments_by_region %>

            <%= apartments_by('City') %>

            <%= apartments_by('County') %>
          </div>
        <% end %>

        <% if @page.projects.any? %>
          <div class="section listings">
            <h2>Upcoming Projects in <%= @state.name %></h2>

            <% @page.projects.order_by_completion_date.in_groups_of(4, false) do |projects| %>
              <ul class="row">
                <% projects.each do |project| %>
                  <li>
                    <%= link_to project.title, property_path(project) %>
                    <%= project.city %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>

        <% if @page.secondary_title.present? %>
          <div class="section seo-text">
            <h2><%= @page.secondary_title %></h2>

            <%= raw(@page.secondary_body) %>
          </div>
        <% end %>
      </div>

      <%= property_icon_descriptions %>
    </div>
  </div>
</div>

