<% content_for :body_class do %>community property features<% end %>
<% render_meta(@community.contact_page) if @community.contact_page %>


<% if @community.apartment_community? && @community.send_to_friend_mediamind_id.present? %>
  <% content_for :end_of_body do %>
    <%= mediamind_activity_code(@community.send_to_friend_mediamind_id) %>
  <% end %>
<% end %>

<% if @community.home_community? %>
  <%= if_present?(@community.conversion_configuration.try(:google_send_to_friend_label)) do |code| %>
    <% content_for :end_of_body do %>
      <%= google_conversion_code(code) %>
    <% end %>
  <% end %>

  <%= if_present?(@community.conversion_configuration.try(:bing_send_to_friend_action_id)) do |action_id| %>
    <% content_for :end_of_body do %>
      <%= bing_conversion_code(action_id) %>
    <% end %>
  <% end %>
<% end %>


<div id="thank-you-text">
  <%= snippet('Send To Friend Thank You Text') %>
</div>

<%= send_to_friend_mediaplex_code(@community, flash[:send_listing_email]) %>
