<% content_for :body_class do %>community property features<% end %>
<% render_meta(@community.contact_page) if @community.contact_page %>

<% if @community.home_community? %>
  <%= if_present?(@community.conversion_configuration.try(:google_send_to_friend_label)) do |code| %>
    <% content_for :end_of_body do %>
      <%= google_conversion_code(code) %>
    <% end %>
  <% end %>

  <%= if_present?(@community.conversion_configuration.try(:bing_send_to_friend_action_id)) do |action_id| %>
    <% content_for :end_of_body do %>
      <%= bing_conversion_code(action_id) %>
    <% end %>
  <% end %>
<% end %>


<div id="thank-you-text">
  <%= snippet('Send To Friend Thank You Text') %>
</div>

<%= send_to_friend_mediaplex_code(@community, flash[:send_listing_email]) %>

<!-- Start Quantcast Tag -->
<script type="text/javascript">
  var _qevents = _qevents || [];

  (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + "https://quantserve.com/s/zNkRBgILpLEJcz";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
  })();

  _qevents.push(
    {qacct:"p-hdFx0hWaF1Gkm",labels:"_fp.event.Lead Form Conversion",orderid: <%= @community.hyly_id %>,event:"refresh"}
  );
</script>
<noscript>
    <img src="https://quantserve.com/s/rxdaB6sDEDdOTv" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->
