<% breadcrumb_item(link_to 'News & Press', news_and_press_path(@section)) %>
<% breadcrumb_item('News') %>
<% breadcrumb_title('News') %>


<h2>Latest News</h2>

<% if page_number == 1 %>
  <%= render :partial => 'shared/news_contact_info' %>
<% end %>

<div class="press-listing">
  <% @news_posts.each do |post| %>
    <div class="press-item row">
      <h3>
        <%= link_to post.title, news_post_path(@section, post.slug) %>
      </h3>

      <p class="press-item-date">
        <%= post.published_at.to_formatted_s(:month_day_year) %>
      </p>

      <% if post.image? %>
        <p class="figure">
          <%= link_to image_tag(post.image.url), news_post_path(@section, post.slug) %>
        </p>
      <% end %>

      <%= truncate_html(post.body, length: 600, omission: "&hellip; #{link_to('Continue reading', news_post_path(@section, post.slug))}") %>
    </div>
  <% end %>

  <%= will_paginate @news_posts %>
</div>
