<div class="section">
  <div class="content">
    <h2>Contact Us</h2>
  </div>
</div>

<div class="section contact">
  <div class="content">
    <h3>Contact Our Corporate Offices</h3>

    <ul class="contact-list">
      <li>
        <%= link_to corporate_office_map_uri, :class => 'btn directions' do %>
          <span>Directions</span> Greenbelt, MD
        <% end %>
      </li>
      <li>
        <%= link_to_phone_number '(301) 220-0100', :class => 'btn call-us' do %>
          <span>Call Us</span> (301) 220-0100
        <% end %>
      </li>
      <li>
        <%= link_to 'mailto:feedback@bozzuto.com', :class => 'btn email-us' do %>
            <span>Email Us</span> feedback@bozzuto.com
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="section contact-form">
  <div class="content">
    <%= error_messages_for :submission %>

    <%= form_for @submission, :url => contact_path(:topic => @topic), :html => { :class => 'required-form', 'data-track-event-delay' => 'General,Contact Form Details' } do |f| %>
      <%= f.text_field :name, :class => 'contact-name', :placeholder => 'Your Name' %>

      <%= f.text_field :email, :class => 'contact-name', :placeholder => 'Your Email' %>

      <%= f.select :topic_id, ContactTopic.all.map { |topic| [topic.topic, topic.id] } %>

      <%= f.text_area :message, :rows => 8, :cols => 37, :placeholder => 'Your message' %>

      <input type="submit" name="contact-submit" class="submit contact-submit" value="Submit" />
    <% end %>
  </div>
</div>
