<% content_for :javascript do %>
  <%= hyly_script_for 'Bozzuto' %>
<% end %>

<div class="section">
  <div class="content">
    <h2>Contact Us</h2>
  </div>
</div>

<div class="section contact">
  <div class="content">
    <h3>Contact Our Corporate Offices</h3>

    <ul class="contact-list">
      <li>
        <%= link_to corporate_office_map_uri, :class => 'btn directions' do %>
          <span>Directions</span> Greenbelt, MD
        <% end %>
      </li>
      <li>
        <%= link_to_phone_number '(301) 220-0100', :class => 'btn call-us' do %>
          <span>Call Us</span> (301) 220-0100
        <% end %>
      </li>
      <li>
        <%= link_to 'mailto:feedback@bozzuto.com', :class => 'btn email-us' do %>
            <span>Email Us</span> feedback@bozzuto.com
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= hyly_form :redirect_to => thank_you_contact_url %>
