<% content_for :body_class do %>contact<% end %>

<% breadcrumb_item('Contact') %>
<% breadcrumb_title('Contact') %>

<% if @topic.present? %>
  <%= raw(@topic.body) %>
<% end %>

<%= error_messages_for :submission %>

<%= form_for @submission, :url => contact_path(:topic => @topic), :html => { :class => 'required-form', 'data-track-event-delay' => 'General,Contact Form Details' } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "required" %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => "required email" %>
  </p>

  <p>
    <%= f.label :topic_id, 'What would you like to ask us about?' %>
    <%= f.select :topic_id, ContactTopic.all.map { |topic| [topic.topic, topic.id] } %>
  </p>

  <p>
    <%= f.label :message %>
    <%= f.text_area :message, :rows => 20, :cols => 52, :class => "required contact" %>
  </p>
  
  <p class="submit">
    <input type="submit" value="Submit" />
  </p>
<% end %>
