<% content_for :body_class do %>generic contact<% end %>

<% breadcrumb_item('Contact') %>
<% breadcrumb_title('Contact') %>

<h2>Contact Bozzuto</h2>

<%= error_messages_for :submission %>

<% form_for @submission, :url => contact_path, :html => { :class => "required-form" } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "required" %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => "required email" %>
  </p>

  <p>
    <%= f.label :topic, 'What would you like to ask us about?' %>
    <%= f.select :topic, ContactSubmission::TOPICS %>
  </p>

  <p>
    <%= f.label :message %>
    <%= f.text_area :message, :rows => 20, :cols => 52, :class => "required contact" %>
  </p>
  
  <p class="submit">
    <input type="submit" value="Submit" />
  </p>
<% end %>


<% content_for :aside do %>
  <div class="latest-news">
    <h3><a href="#">Training &amp; Development</a></h3>

    <div class="article">
      <div class="news-post section first">
        <p>Lorem ipsum dolor sit amet lorem sinsectutor dolorum ipsum sin sit sinsectutor dolor slorem. Lorem ipsum dolor sit amet lorem sinsectutor dolor sinsectutor alorum adipscing lorem.</p>
      </div>
      <div class="news-post section">
        <h4><a href="#">This is the headline of a recent news story</a></h4>
        <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
      </div>

      <div class="news-post section">
        <h4><a href="#">This is the headline of a recent news story</a></h4>
        <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
      </div>

      <div class="news-post section last">
        <h4><a href="#">This is the headline of a recent news story</a></h4>
        <p class="date"><span class="month">04.</span><span class="day">27.</span></p>
      </div>
    </div>
  </div>
<% end %>
