<% content_for :body_class do %>page<% end %>

<% if @page.present? %>
  <% render_meta(@page) %>
  <%= render :partial => 'pages/masthead_slideshow', :locals => { :slideshow => @page.masthead_slideshow, :custom_class_name => 'careers-masthead' } %>
<% end %>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <% if @page.present? && @page.body_slideshow.present? %>
        <%= render 'pages/body_slideshow', :slideshow => @page.body_slideshow %>
      <% end %>

      <% if @page.present? && @page.carousel.present? && @page.carousel.panels.any? %>
        <%= render 'pages/carousel', :carousel => @page.carousel %>
      <% end %>

      <div class="row">
        <div class="column-main col <%= "no-sidebar" unless @page.try(:show_sidebar?) %>">
          <%= if_present?(@page.try(:snippet)) do |snippet| %>
            <%= snippet.body.html_safe %>
          <% end %>
        </div>

        <% if @page.try(:show_sidebar?) %>
          <div id="aside" class="col">
            <%= render_aside %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

