<% content_for :body_class do %>landing secondary<% end %>

<div id="masthead">
  <div class="container">
    <div class="section">
      <h1>Bozzuto in <%= @state.name %></h1>
      <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati ullamco laboris ut aliquip ex ea commodo consequat. Officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet sinse ctutorex ea commodo consequat consectetur adipisicing elit.</p>
    </div>
    <div class="aside">
      <a href="#">
        <img src="/images/landing/maryland.jpg" alt="" height="223" width="230" />
        <div class="screen-reader">
          <h2>Interested in Our Construction Services?</h2>
          <strong>Contact Bozzuto Construction</strong>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      
      <div id="sidebar" class="col">
        <h2>Map Key</h2>
        <ul class="mapkey">
          <li class="apartments"><span>Apartments for Rent</span></li>
          <li class="homes-condominiums"><span>Homes &amp; Condominiums</span></li>
          <li class="upcoming-projects"><span>Upcoming Projects</span></li>
        </ul>
      </div>

      <div id="content" class="col">
        
        <div class="areamap row">

          <div class="col areamap-map">
            <img src="/images/landing/landing-map.jpg" width="540" height="403" />            
          </div>
          
          <div class="col areamap-popular-properties">
            <h2>Popular Properties</h2>
            
            <div class="section apartments">
              <h4>
                <a href="#">The Addison</a>
              </h4>
              <p>
                <strong>Just minutes from</strong> the Lorem 
                Capitol Heights, MD<br />
                Starting from the $XXXs
              </p>
            </div>
            
            <div class="section homes-condominiums">
              <h4>
                <a href="#">The Addison</a>
              </h4>
              <p>
                <strong>Just minutes from</strong> the Lorem 
                Capitol Heights, MD<br />
                Starting from the $XXXs
              </p>
            </div>
            
            <div class="section upcoming-projects section-last">
              <h4>
                <a href="#">The Addison</a>
              </h4>
              <p>
                <strong>Just minutes from</strong> the Lorem 
                Capitol Heights, MD<br />
                Starting from the $XXXs
              </p>
            </div>
          </div>
        </div>
        
        <a href="#" class="promo">
          <img src="/images/promos/internal-fpo.jpg" width="466" height="66" />
        </a>
        
        <div id="properties-by-type">
          <div class="header">
            <ul class="nav">
              <li class="current">
                <a href="#homes-condominiums">Homes &amp; Condominiums</a>
              </li>
              <li>
                <a href="#apartments-for-rent">Apartments For Rent</a>
              </li>
              <li class="last">
                <a href="#featured-apartments">Featured Apartments</a>
              </li>
            </ul>
            <p>
              <%= @state.communities.count %> Apartment Communities
            </p>
          </div>
          
          <div class="section listings" id="homes-condominiums">

            <ul class="row first">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy</a>
                Arlington, VA
              </li>          
            </ul>
            <ul class="row">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>          
            </ul>
            <ul class="row">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>          
            </ul>
            <ul class="row">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>          
            </ul>
            <ul class="row">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy</a>
                Arlington, VA
              </li>          
            </ul>
            <ul class="row last">
              <li>
                <a href="#">Concord</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">Normandy House</a>
                Arlington, VA
              </li>
              <li>
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>
              <li class="last">
                <a href="#">London/Normandy House</a>
                Arlington, VA
              </li>          
            </ul>
          </div>
          
          <div class="section listings" id="apartments-for-rent">
            Apartments for rent
          </div>

          <div class="section listings" id="featured-apartments">
            Featured
          </div>          
        </div>

        <div id="apartments-by-area">
          <div class="header">
            <ul class="nav">
              <li class="current">
                <a href="#apartments-by-city">Apartments By City</a>
              </li>
              <li class="last">
                <a href="#apartments-by-county">Apartments By County</a>
              </li>
            </ul>
            <p>
              <%= @state.communities.count %> Apartment Communities
            </p>
          </div>

          <div id="apartments-by-city" class="section listings listings-count">
            <h2>Apartments for Rent in Maryland By City</h2>

            <% @cities.in_groups_of(4, false) do |cities| %>
              <ul class="row">
                <% cities.each do |city| %>
                  <li>
                    <%= link_to city.name, '#' %>
                    <span class="count"><%= city.communities.count %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div id="apartments-by-county" class="section listings listings-count">
            <h2>Apartments for Rent in Maryland By County</h2>

            <% @counties.in_groups_of(4, false) do |counties| %>
              <ul class="row">
                <% counties.each do |county| %>
                  <li>
                    <%= link_to county.name, '#' %>
                    <span class="count"><%= county.communities.count %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>          
        </div>
        
        <div class="section listings">
          <h2>Upcoming Projects in Maryland</h2>

          <ul class="row first last">
            <li>
              <a href="#">Concord</a>
              Arlington, VA
            </li>
            <li>
              <a href="#">Normandy House</a>
              Arlington, VA
            </li>
            <li>
              <a href="#">London/Normandy</a>
              Arlington, VA
            </li>
            <li class="last">
              <a href="#">London/Normandy</a>
              Arlington, VA
            </li>          
          </ul>
        </div>
        
        <div class="section seo-text">
          <h2>SEO Headline</h2>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
          
          <a href="#" class="more">Learn More</a>
        </div>
        
        <div class="section seo-links">
          <% @counties.in_groups(4, false) do |counties| %>
            <ul>
              <% counties.each do |county| %>
                <li>
                  <%= link_to "#{county.name} Apartments", '#' %>
                </li>
              <% end %>
            </ul>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>

