<% if @recently_viewed.present? -%>
  <div id="recently-viewed">
    <h3>
      Recently Viewed
    </h3>

    <% @recently_viewed.in_groups_of(4, false) do |communities| %>
      <ul class="row">
        <% communities.each do |community| -%>
          <li>
            <%= link_to community.title, community %>
            <%= community.city %>
          </li>
        <% end -%>
      </ul>
    <% end %>

    <% if @recently_viewed.any? %>
      <ul class="recently-viewed-actions">
        <li>
          <a href="#">Email me this property list</a>

          <div class="popup">
            <% form_for RecurringEmail.new, :url => email_recently_viewed_path, :html => { :class => (flash[:recently_viewed_errors] ? 'errors' : nil) } do |f| %>
              <p>
                <label>
                  <strong>
                    Enter your email address and we will send you the details and contact information for these properties.
                  </strong>
                </label>
              </p>

              <p class="fields">
                <%= f.text_field :email_address, :type => :email %>
                <button type="submit">Send</button>
              </p>

              <p class="checkbox">
                <%= check_box_tag 'bozzuto_buzz' %>
                <label for="bozzuto_buzz">Sign me up for Bozzuto's e-newsletter</label>
              </p>

              <% @recently_viewed.each do |recent| %>
                <%= hidden_field_tag 'recurring_email[property_ids][]', recent.id %>
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>

  </div>
<% end -%>
