<div id="sub-content" class="row">
  <%= render :partial => 'properties/recently_viewed' %>

  <div class="row">
    <% if property.is_a?(ApartmentCommunity) -%>
      <div id="renting-from-bozzuto" class="col">
        <h2>Renting From Bozzuto</h2>

        <%= snippet("Renting From Bozzuto") %>
      </div>
    <% else -%>
      <div id="why-buy-from-bozzuto" class="col">
        <h2>Why Buy from Bozzuto?</h2>
        <%= snippet("Why Buy from Bozzuto?") %>
      </div>
    <% end -%>

    <div id="about-bozzuto" class="col">
      <h2>About Bozzuto Management Company</h2>

      <%= snippet("About Bozzuto Management Company") %>
    </div>
  </div>

  <% if property.county.present? %>
    <div id="sub-listing">
      <ul>
        <% property.county.cities.each do |city| %>
          <li>
            <%= link_to "#{city.name} #{property.is_a?(ApartmentCommunity) ? 'Apartments' : 'Homes'}", property %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
