<% render_meta(@community, :floor_plans) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @group.name %></h2>
    <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <ul>
      <% @plans.each do |plan| %>
        <li>
          <div class="floor-plan">
            <%= link_to apartment_community_floor_plan_group_layout_path(@community, @group, plan), :class => 'info' do %>
              <span class="name"><%= plan.name %></span>
              <span class="pricing">
                <%= square_feet(plan.min_square_feet) %>
                <span class="price"><%= dollars(plan.min_rent) %></span>
              </span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <h3>More Floor Plans</h3>
    <ul>
      <%= render_floor_plan_group_mobile_listings(@community, @group) %>
    </ul>
  </div>
</div>
