<% render_meta(@community, :floor_plans) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @group.name %></h2>
    <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community), :class => 'go-back' %>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <ul>
      <% @plans.each do |plan| %>
        <li>
          <div class="floor-plan">
            <%# TODO: Link to single floor plan %>
            <% link_to '#', :class => 'info' do %>
              <span class="name"><%= plan.name %></span>
              <span class="pricing">
                Starting from <%= square_feet_of_largest_floor_plan(@plans) %>
                <span class="price"><%= price_of_cheapest_floor_plan(@plans) %></span>
              </span>
            <% end %>

            <%= link_to_phone_number(format_phone_number(@community.phone_number), @community.phone_number, :class => 'tel') %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="section floor-plans">
  <div class="content">
    <h3>More Floor Plans</h3>
    <ul>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">Studios</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">2 Bedrooms</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
      <li>
        <div class="floor-plan">
          <a href="#" class="info">
            <span class="name">3 Bedrooms</span>
            <span class="pricing">Starting from 650 Sq Ft <span class="price">$1,935</span></span>
          </a>
          <a href="tel:18005555555" class="tel">1-800-555-5555</a>
        </div>
      </li>
    </ul>
  </div>
</div>
