<% render_meta(@community, :floor_plans) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @plan.name %></h2>

    <% link_to apartment_community_floor_plan_group_layouts_path(@community, @group), :class => 'go-back' do %>
      <%= @group.name.pluralize %>
    <% end %>
  </div>
</div>

<div class="section floor-plan-detail">
  <div class="content">
    <% sq_ft = @plan.min_square_feet %>
    <% min_rent = @plan.min_rent %>

    <% if sq_ft || min_rent %>
      <h3>
        <% if sq_ft.present? %>
          <%= square_feet(sq_ft) %>
        <% end %>

        <% if min_rent.present? %>
          <span class="price"><%= dollars(min_rent) %></span>
        <% end %>
      </h3>
    <% end %>

    <% if @plan.actual_image.present? %>
      <%= image_tag @plan.actual_image, :width => 280, :alt => "#{@plan.name} floor plan" %>
    <% end %>

    <% if @plan.availability_url? %>
      <% link_to @plan.availability_url, :class => 'btn', 'data-track-event' => "Apartments,#{ga_escape(@community.title)},Availability" do %>
        <span>Check Availability</span>
      <% end %>

      <% link_to @community.availability_url, :class => 'btn submit', 'data-track-event' => "Apartments,#{ga_escape(@community.title)},Reserve" do %>
        <span>Reserve Now</span>
      <% end %>
    <% end %>
  </div>
</div>
