<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to "New Homes", '/new-homes' %></li>
      <li><%= link_to "Communities", home_communities_path %></li>
      <li><%= link_to @community.state.name, @community.state %></li>
      <li><%= link_to @community.city.name, "#" %></li>
      <li class="last"><%= @community.title %></li>
    </ul>
  </div>
</div>
