<li class="property-listing home-listing">
  <div class="photos">
    <% if community.listing_image? %>
      <p>
        <%= link_to image_tag(community.listing_image.url), home_community_path(community) %>
      </p>
    <% end %>
    <%= content_tag :p, link_to(image_tag(community.listing_promo.url), home_community_path(community)) if community.listing_promo? %>
  </div>

  <div class="info">
    <div class="overview">
      <h2><%= link_to community.title, home_community_path(community) %></h2>

      <% if community.listing_title.present? %>
        <p class="intro">
          <%= community.listing_title.try(:html_safe) %>
        </p>
      <% end %>

      <%= raw(community.listing_text) %>

      <p class="call-to-action">
        <%= link_to 'Learn More', home_community_path(community) %>
      </p>
    </div>

    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', home_community_path(community) %>
      </h2>

      <% if community.video_url.present? %>
        <p class="watch-video">
          <%= link_to 'Watch Video', community.video_url %>
        </p>
      <% end %>

      <p>
        <% if community.street_address.present? %>
          <%= community.street_address %><br />
        <% end %>
        <%= community.city %>
      </p>

      <% if community.phone_number.present? %>
        <p>
          <% if use_dnr %>
            <%= dnr_phone_number(community) %>
          <% else %>
            <%= community.phone_number %>
          <% end %>
        </p>
      <% end %>

      <%= property_icons(community) %>
    </div>
  </div>
</li>
