<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="property-nav">
        <li class="<%= current_if :controller => 'home_communities', :action => 'show' %>">
          <%= link_to @community.title, @community %>
        </li>
        <li class="<%= current_if :controller => 'features' %>">
          <%= link_to 'Features & Amenities', home_community_features_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'community_media' %>">
          <%= link_to 'Photos & Videos', home_community_media_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'homes' %>">
          <%= link_to 'Homes', home_community_homes_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'neighborhoods' %>">
          <%= link_to 'Neighborhood', home_community_neighborhood_path(@community) %>
        </li>
        <li class="last <%= current_if :controller => 'lasso_submissions' %>">
          <%= link_to 'Contact Info', home_community_lasso_submissions_path(@community) %>
          <% if @community.id == 81 %>
            <script type="text/javascript">
              replaceNumber("8883060824", "xxx.xxx.xxxx", "2891386", "2891488", "Bozzuto.com", "Bozzuto.com"); 
            </script>
          </span>
          <% else %>
            <% if @community.phone_number.present? %>
              <%= dnr_phone_number(@community) %>
            <% end %>
          <% end %>
        </li>
      </ul>

      <ul id="remote-nav">
        <% if @community.website_url.present? %>
          <li>
            <%= link_to 'Visit Community Website', website_url(@community.website_url), :target => '_blank' %>
          </li>
        <% end %>
        <% if brochure_link(@community) %>
          <li class="last">
            <%= brochure_link(@community) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if params[:controller] == 'community_media' %>
      <%= render :partial => 'community_media/slideshow' %>
    <% else %>
      <%= render :partial => 'properties/slideshow', :locals => { :property => @community } %>
    <% end %>
  </div>
</div>
