<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="property-nav">
        <li class="<%= current_if 'show' %>">
          <%= link_to @community.title, @community %>
        </li>
        <li class="<%= current_if 'features' %>">
          <%= link_to 'Features & Amenities', features_home_community_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'community_media' %>">
          <%= link_to 'Photos & Videos', home_community_media_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'homes' %>">
          <%= link_to 'Homes', home_community_homes_path(@community) %>
        </li>
        <li class="<%= current_if 'neighborhood' %>">
          <%= link_to 'Neighborhood', neighborhood_home_community_path(@community) %>
        </li>
        <li class="<%= current_if 'promotions' %>">
          <%= link_to 'Special Offers', promotions_home_community_path(@community) %>
        </li>
        <li class="last <%= current_if 'contact' %>">
          <%= link_to 'Contact Info', contact_home_community_path(@community) %>
          <% if @community.phone_number.present? %>
            <span class="phone-number"><%= phone_number(@community.phone_number) %></span>
          <% end %>
        </li>
      </ul>

      <ul id="remote-nav">
        <% if @community.website_url.present? %>
          <li>
            <%= link_to 'Visit Website', website_url(@community.website_url), :target => '_blank' %>
          </li>
        <% end %>
        <% if brochure_link(@community) %>
          <li class="last">
            <%= brochure_link(@community) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if params[:controller] == 'community_media' %>
      <%= render :partial => 'community_media/slideshow' %>
    <% else %>
      <%= render :partial => 'properties/slideshow', :locals => { :property => @community } %>
    <% end %>
  </div>
</div>
