<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="secondary-nav">
        <li class="<%= current_if 'show' %>">
          <%= link_to @community.title, @community %>
        </li>
        <li class="<%= current_if 'features' %>">
          <%= link_to 'Features & Amenities', '#' %>
        </li>
        <li class="<%= current_if 'media' %>">
          <%= link_to 'Photos & Videos', '#' %>
        </li>
        <li class="<%= current_if :controller => 'homes' %>">
          <%= link_to 'Homes', home_community_homes_path(@community) %>
        </li>
        <li class="<%= current_if 'neighborhood' %>">
          <%= link_to 'Neighborhood', '#' %>
        </li>
        <li class="<%= current_if 'promotions' %>">
          <%= link_to 'Special Promotions', '#' %>
        </li>
        <li class="last <%= current_if 'contact' %>">
          <%= link_to 'Contact Info<br />&amp; Office Hours'.html_safe, '#' %>
        </li>
      </ul>

      <ul id="remote-nav">
        <% if @community.website_url.present? %>
          <li>
            <%= link_to 'Visit Website', website_url(@community.website_url) %>
          </li>
        <% end %>
        <li class="last">
          <%= link_to 'Download E-Brochure', '#' %>
        </li>
      </ul>
    </div>

    <%= render :partial => 'properties/slideshow', :locals => { :property => @community } %>
  </div>
</div>
