<% content_for :body_class do %>homes homes-search<% end %>

<% if @page.present? %>
  <% render_meta(@page) %>

  <%= render :partial => 'pages/masthead_slideshow', :locals => { :slideshow => @page.masthead_slideshow } %>
<% end %>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <div class="header">
        <ul>
          <li class="current">
            <%= link_to 'View as List', home_communities_path, :class => 'list' %>
          </li>
          <li>
            <%= link_to 'View on Map', map_home_communities_path, :class => 'map' %>
          </li>
        </ul>
      </div>
      
      <div id="view-as-list">
        <ul>
          <%= render :partial => 'listing', :collection => @communities, :as => :community %>
        </ul>
        <%= property_icon_descriptions %>

        <%= will_paginate(@communities) %>
      </div>
      
      <div id="view-as-map">
        
      </div>
    </div>
    
  </div>
</div>
