<% content_for :body_class do %>homes homes-search<% end %>

<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <li class="slide">
          <div class="section">
            <h1>Home Lorem Ipsum</h1>

            <p>
              <strong>Duis aute irure dolor in reprehenderit</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="call-to-action">
              <a href="#">Learn More About Bozzuto Homes</a>
            </p>
          </div>

          <div class="figure">
            <p><img src="/images/fpo/homes-search-slideshow-1.jpg" /></p>
            
            <p>
              <strong>360 State Street, New Haven, CT</strong><br />
              Luxury apartments in a LEED&reg;<br />
              Platinum building. 
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div id="sidebar" class="col">
      <%= render :partial => 'pages/secondary_nav' %>
    </div>

    <div id="content" class="col">
      <div class="header">
        <ul>
          <li>
            <%= link_to 'View as List', home_communities_path, :class => 'list' %>
          </li>
          <li class="current">
            <%= link_to 'View on Map', map_home_communities_path, :class => 'map' %>
          </li>
        </ul>
      </div>
      
      <div id="view-as-map">
        <div id="homes-map" style="width: 100%; height: 600px;"></div>

        <div id="map-properties">
          <% @communities.each do |community| %>
            <div class="property" data-jmapping="<%= community.to_jmapping %>">
              <div class="info-box">
                <h4><%= link_to community.title, property_path(community) %></h4>

                <% if community.listing_title.present? %>
                  <p><%= community.listing_title %></p>
                <% end %>

                <p><%= link_to 'Learn More', property_path(community) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
