<% render_meta(@community) %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
  <%= live_person_mobile_js %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2><%= @community.title %></h2>

    <% if @community.first_home_neighborhood.present? %>
      <%= link_to @community.first_home_neighborhood, home_neighborhood_path(@community.first_home_neighborhood), :class => 'go-back' %>
    <% end %>
  </div>
</div>

<div class="section community-overview">
  <div class="content">
    <% if @community.slideshow.present? %>
      <div class="banner <%= 'scavenger-hunt' if @code.present? %>">
        <%= image_tag @community.slideshow.slides.first.image.url(:mobile_thumb) %>
      </div>
    <% end %>

    <p class="address"><%= @community.address %></p>

    <ul class="contact contact-list">
      <%= if_present?(@community.mobile_phone_number) do |phone_number| %>
        <li>
          <%= link_to_phone_number phone_number, :class => 'btn call-us' do %>
            <span>Call Us</span> <%= format_phone_number(phone_number) %>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to mobile_map_url(@community), :class => 'btn directions' do %>
          <span>Directions</span> <%= @community.city %>
        <% end %>
      </li>

      <%- if @community.show_lasso_form? -%>
        <li>
          <%= link_to home_community_contact_path(@community), :class => 'btn email-us' do %>
            <span>Email Us</span>
          <% end %>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>

<div class="section community-info">
  <div class="content">
    <h3>Community Info</h3>

    <ul>
			<%- if @community.features_page? -%>
				<li>
	        <%= link_to 'Features & Amenities', home_community_features_path(@community), :class => 'btn' %>
	      </li>
			<%- end -%>
			<%- if @community.photos.any? || @community.tours360s.any? -%>
	      <li>
	        <%= link_to 'Photos', home_community_media_path(@community), :class => 'btn' %>
	      </li>
			<%- end -%>
			<%- if @community.homes.any? -%>
	      <li>
	        <%= link_to 'Homes', home_community_homes_path(@community), :class => 'btn' %>
	      </li>
			<%- end -%>
			<%- if @community.neighborhood_page? -%>
	      <li>
	        <%= link_to 'Neighborhood', home_community_neighborhood_path(@community), :class => 'btn' %>
	      </li>
			<%- end -%>
      <%- if @community.contact_page? -%>
        <li>
          <%= link_to 'Office Hours', home_community_office_hours_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <% if @community.has_active_promo? %>
        <li>
          <%= link_to 'Specials', home_community_specials_path(@community), :class => 'btn' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
