<% content_for :body_class do %>community property<% end %>

<div class="row">
  <div id="content" class="col">
    <div id="overview">
      <%= property_icons(@community) %>

      <% if @community.overview_title.present? %>
        <h2><%= @community.overview_title %></h2>
      <% end %>

      <div class="intro">
        <%= @community.overview_text.try(:html_safe) %>
      </div>

      <%= property_bullets %>

      <p>
        <%= link_to 'Read More', features_home_community_path(@community) %>
      </p>

      <%= property_icon_descriptions %>
    </div>

    <% if @community.promo_image? %>
      <div class="promo">
        <p>
          <%= link_to @community.promo_url, image_tag(@community.promo_image) %>
        </p>
      </div>
    <% end %>

    <% unless @community.homes.empty? %>
      <div id="apartments">
        <h2>Homes</h2>

        <table>
          <tbody>
            <% @community.homes.each do |home| %>
              <tr>
                <td>
                  <%= home.name %>
                </td>
                <td>
                  <%= bedrooms(home) %> / <%= bathrooms(home) %>
                </td>
                <td class="availability">
                  <%= link_to 'View Floor Plan', home_community_homes_path(@community, :anchor => dom_id(home)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% unless @community.featured_homes.empty? %>
      <% home = @community.featured_homes.first %>

      <div id="featured-floor-plans">
        <h2>Featured Home</h2>

        <h3><%= home.name %></h3>

        <p>
          <%= bedrooms(home) %> | <%= bathrooms(home) %>
        </p>

        <% home.floor_plans.in_groups_of(3, false) do |plans| %>
          <ul class="row">
            <% plans.each do |plan| %>
              <li class="floor-plan">
                <h4><%= plan.name %></h4>

                <%= link_to image_tag(plan.image.url(:thumb), :width => 160), plan.image.url, :class => 'floor-plan-view' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'sidebar' %>
</div>

