<% render_meta(@community) %>

<% content_for(:body_class, 'community property') %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
  <%= live_person_js %>
<% end %>

<%- render_mediaplex_code community_homepage_mediaplex_code(@community) -%>

<div class="row">
  <div id="content" class="col">
    <%= community_contact_callout(@community) %>

    <div id="overview">
      <%= property_icons(@community) %>

      <% if @community.overview_title.present? %>
        <h2><%= @community.overview_title %></h2>
      <% end %>

      <% if @community.overview_text.present? %>
        <div class="intro" id="intro-partial">
          <%= truncate(@community.overview_text, length: 350, omission: "&hellip;", escape: false) %>
        </div>

        <% if @community.overview_text.length > 350 %>
          <div class="intro" id="intro-full">
            <% if @community.overview_text.present? -%>
              <%= @community.overview_text.try(:html_safe) %>
            <% end -%>
          </div>

          <p class="intro-link">
            <a href="#intro-full" class="expand-and-disappear" data-to-hide="#intro-partial">Read More</a>
          </p>
        <% end %>
      <% end %>

      <%= property_bullets %>
    </div>

    <% if @community.has_active_promo? %>
      <%= render :partial => 'shared/promo', :object => @community.promo %>
    <% end %>

    <% unless @community.homes.empty? %>
      <div id="apartments">
        <h2>Homes</h2>

        <table>
          <tbody>
            <% @community.homes.each do |home| %>
              <tr>
                <td>
                  <%= home.name %>
                </td>
                <td>
                  <%= bedrooms(home) %> / <%= bathrooms(home) %>
                  <%= "/ #{home.square_feet} sq. ft." if home.square_feet %>
                </td>
                <td class="availability">
                  <%= link_to 'View Floor Plan', home_community_homes_path(@community, :anchor => dom_id(home)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% unless @community.featured_homes.empty? %>
      <% home = @community.featured_homes.first %>

      <div id="featured-floor-plans">
        <h2>Featured Home</h2>

        <h3><%= home.name %></h3>

        <p>
          <%= bedrooms(home) %> | <%= bathrooms(home) %>
          <%= "| #{home.square_feet} sq. ft." if home.square_feet %>
        </p>

        <% home.floor_plans.in_groups_of(3, false) do |plans| %>
          <ul class="row">
            <% plans.each do |plan| %>
              <li class="floor-plan">
                <h4><%= plan.name %></h4>

								<%= floor_plan_image(plan) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'sidebar' %>

  <%= tracking_pixels(@community) %>
</div>

