<div class="property">
  <%= link_to community, :class => 'info' do %>
    <span class="name"><%=h community.title %></span>

    <span class="address"><%= community.address %></span>

    <%= if_present?(community.neighborhood_description) do |description| %>
      <span><%= description %></span>
    <% end %>
  <% end %>

  <%= if_present?(community.mobile_phone_number) do |phone_number| %>
    <%= link_to_phone_number(format_phone_number(phone_number), phone_number, :class => 'tel') %>
  <% end %>
</div>
