<%= render 'head', :title => @community.short_name, :has_shadow => true %>

<tr>
  <td>
    <h2 style="margin:25px 0;">
      <span style="color:#7f7b7a;font-size:28px;font-family:Helvetica,Arial;font-weight:300;">
        <%= @community.title %>
      </span>
    </h2>

    <% if @community.slideshow.present? && @community.slideshow.slides.first.present? %>
      <%= image_tag @community.slideshow.slides.first.image.url, :class => 'image_fix', :width => 600, :height => 258 %>
      <br />
    <% end %>

  <td>
</tr>

<tr>
  <td>
    <h3>
      <span style="color:#7f7b7a;font-size:22px;font-family:Helvetica,Arial;font-weight:300;margin-left:20px;margin-top:10px;">
        <%= @community.short_name %>
      </span>
    <h3>
  <td>
</tr>

<tr>
  <td>

    <table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
      <tr>
        <td width="20"></td>
        <td width="360" valign="top" style="line-height:1.3em;">
          <div style="font-family:Helvetica,Arial;font-size:14px;line-height:1.3em;color:#7f7b7a;">
            <% if @community.overview_text.present? -%>
              <%= truncate_html(@community.overview_text, length: 200, omission: "&hellip;") %>
            <% end -%>

            <% if @community.overview_bullets.any? %>
              <ul style="margin:0;padding:10px 30px 20px;">
                <% @community.overview_bullets.each do |bullet| %>
                  <li><%= bullet %></li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <table cellpadding="0" cellspacing="0" border="0" width="350" style="padding-bottom:10px;border-bottom:1px solid #e1e1e1;margin-bottom:15px;">
            <tr>
              <td colspan="2" style="line-height:1.3em;">
                <p style="line-height:1.3em;font-family:Helvetica,Arial;font-size:12px;color:#7f7b7a;">
                  <%= @community.address %>
                  <br />
                  <%= link_to @community.phone_number, tel_url(@community.phone_number), :style => 'color:#178af8;' %>
                </p>
              </td>
            </tr>

            <% if @community.apartment? %>
              <tr>
                <td width="150" valign="top">
                  <ul style="margin:0;padding:0 5px 6px 14px;list-style:none;">
                    <% ApartmentFloorPlanGroup.all.each do |group| %>
                      <% if @community.plan_count_in_group(group) > 0 %>
                        <li style="color:#7f7b7a;font-family:Helvetica,Arial;font-size:12px;">
                          <strong><%= group.name %></strong>
                          <% price = @community.cheapest_price_in_group(group) %>
                          <% if price.present? %>
                            from <%= dollars(price) %>
                          <% end %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </td>

                <td width="200" valign="top">
                  <% if @community.overview_bullet_1.present? %>
                    <ul style="margin:0;padding:0 20px 6px;">
                      <li style="color:#7f7b7a;font-family:Helvetica,Arial;font-size:11px;">
                        <%= @community.overview_bullet_1 %>
                      </li>
                    </ul>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>

        <td width="240" valign="top" style="line-height:1.3em;">
          <ul style="list-style:none;margin:0;padding:0 0 0 17px;">
            <li style="border-top:1px solid #e8e8e8;line-height:1.3em;display:block;color:#7f7b7a;font-family:Helvetica,Arial;font-size:11px;">
              <%= link_to @community, :style => 'font-weight:700;color:#7f7b7a;text-decoration:none;line-height:1.3em;display:block;text-transform:uppercase;padding:5px 0;' do %>
                <span style="font-size:15px;color:#aaaaaa;padding:0 2px 0 4px;">&rsaquo;</span>
                Visit Website
              <% end %>
            </li>

            <% if @community.street_address.present? %>
              <li style="border-top:1px solid #e8e8e8;line-height:1.3em;display:block;color:#7f7b7a;font-family:Helvetica,Arial;font-size:11px;">
                <%= link_to "http://maps.google.com/maps?q=#{@community.address}", :style => 'font-weight:700;color:#7f7b7a;text-decoration:none;line-height:1.3em;display:block;text-transform:uppercase;padding:5px 0;' do %>
                  <span style="font-size:15px;color:#aaaaaa;padding:0 2px 0 4px;">&rsaquo;</span>
                  Click for Directions
                <% end %>
              </li>
            <% end %>

            <li style="border-top:1px solid #e8e8e8;line-height:1.3em;display:block;color:#7f7b7a;font-family:Helvetica,Arial;font-size:11px;">
              <%= link_to floor_plans_url(@community), :style => 'font-weight:700;color:#7f7b7a;text-decoration:none;line-height:1.3em;display:block;text-transform:uppercase;padding:5px 0;' do %>
                <span style="font-size:15px;color:#aaaaaa;padding:0 2px 0 4px;">&rsaquo;</span>
                View Pricing &amp; Availability
              <% end %>
            </li>

            <% if @community.twitter_handle.present? %>
              <li style="border-top:1px solid #e8e8e8;line-height:1.3em;display:block;color:#7f7b7a;font-family:Helvetica,Arial;font-size:11px;">
                <%= link_to "http://twitter.com/#{@community.twitter_handle}", :style => 'font-weight:700;color:#7f7b7a;text-decoration:none;line-height:1.3em;display:block;text-transform:uppercase;padding:5px 0;' do %>
                  <span style="font-size:15px;color:#aaaaaa;padding:0 2px 0 4px;">&rsaquo;</span>
                  Follow on Twitter
                  <%= image_tag 'community_listing/ico-twitter.png', :class => 'image_fix', :alt => 'Follow on Twitter', :style => 'display:inline;position:relative;top:3px;left:3px;', :width => 16, :height => 16 %>
                <% end %>
              </li>
            <% end %>

            <% if @community.phone_number.present? %>
              <li style="border-top:1px solid #e8e8e8;">
                <p style="line-height:1.3em;font-family:Helvetica,Arial;font-size:12px;color:#7f7b7a;">
                  Call us!
                  <%= link_to @community.phone_number, tel_url(@community.phone_number), :style => 'color:#178af8;' %>
                </p>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </td>
</tr>


<%
  footer_text = if @community.apartment?
                  'You are receiving this email through the &ldquo;Send property listing&rdquo; feature on Bozzuto.com. This email address has not been added to a database and with not receive future emails.'
                elsif @community.home?
                  'You are receiving this email because your friend thought it would be of interest to you. This email address has not been added to a database and will not receive future emails.'
                end
%>

<%= render 'footer', :footer_text => footer_text %>
