<% unless latest_awards.empty? %>
  <div class="latest-awards">
    <h3><%= link_to 'Latest Awards', awards_path(@section) %></h3>

    <div class="article">
      <% latest_awards.each_with_index do |award, i| %>
        <div class="award section row <%= 'first' if i == 0 %>">
          <p class="figure"><img src="/images/about-award.jpg"></p>

          <h4>
            <%= link_to award.title, award_path(@section, award) %>
          </h4>

          <p class="date"><%= month_and_day(award.published_at) %></p>

          <%= truncate_html(raw(award.body), :length => 50) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
