<div class="section nav">
  <div class="content">
    <ul>
      <li>
        <%= link_to 'Who We Are', '/careers/who-we-are', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Why Work At Bozzuto', '/careers/why-work-at-bozzuto', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Our Hiring Process', '/careers/our-hiring-process', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'College Recruiting &amp; Internships'.html_safe, '/careers/college-recruiting-internships', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Military Recruiting', '/careers/military-recruiting', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Learning and Development', '/careers/learning-and-development', :class => 'btn' %>
      </li>
      <li>
        <%= link_to 'Benefits', '/careers/benefits', :class => 'btn' %>
      </li>
    </ul>
  </div>
</div>
