<div id="masthead">
  <div class="container">
    <div id="masthead-slideshow">
      <ul class="slides">
        <% slideshow.slides.each do |slide| %>
          <li class="slide">
            <div class="section">
              <%= raw(slide.body) %>
            </div>

            <% if slide.uses_image? %>

              <div class="figure">
                <%= link_to image_tag(slide.image.url), slide.image_link %>
              </div>

            <% elsif slide.uses_text? %>

              <div class="aside">
                <%= raw(slide.sidebar_text) %>
              </div>

            <% elsif slide.uses_featured_property? %>

              <% property = slide.featured_property %>
              <div class="figure">
                <% if property.mini_slideshow.present? %>
                  <p>
                    <%= link_to image_tag(property.mini_slideshow.slides.first.image.url), property_path(property) %>
                  </p>

                  <p>
                    <strong><%= property.address %></strong><br />
                    <%= raw(property.subtitle) %>
                  </p>
                <% end %>
              </div>

            <% end %>
          </li>
        <% end %>
      </ul>      
    </div>
  </div>
</div>
