<div id="sidebar" class="col">
  <ul id="secondary-nav">
    <%= pages_tree(@section.pages) %>

    <% unless @section.news_posts.count.zero? %>
      <li class="<%= current_if :controller => 'news' %>">
        <%= link_to 'News & Press', news_posts_path(@section) %>
      </li>
    <% end %>

    <% unless @section.testimonials.count.zero? %>
      <li class="<%= current_if :controller => 'testimonials' %>">
        <%= link_to 'Testimonials', testimonials_path(@section) %>
      </li>
    <% end %>
  </ul>
</div>
