<ul id="secondary-nav">
  <%= pages_tree(@section.pages.published) %>

  <%= news_and_press_secondary_nav(@section, @news_section) %>

  <% unless section_testimonials.count.zero? %>
    <li class="<%= current_if :controller => 'testimonials' %>">
      <%= link_to 'Testimonials', testimonials_path(@section) %>
    </li>
  <% end %>

  <% if @section.about? %>
    <li class="<%= current_if :controller => 'contact_submissions' %>">
      <%= link_to 'Contact', contact_path %>
    </li>
  <% end %>
</ul>
