<ul>
  <li>
    <%= link_to 'Management', '/services/management', :class => 'btn' %>
  </li>
  <li>
    <%= link_to 'Homebuilding', '/services/homebuilding', :class => 'btn' %>
  </li>
  <li>
    <%= link_to 'Construction', '/services/construction', :class => 'btn' %>
  </li>
  <li>
    <%= link_to 'Acquisitions', '/services/acquisitions', :class => 'btn' %>
  </li>
  <li>
    <%= link_to 'Land', '/services/land', :class => 'btn' %>
  </li>
</ul>
