<ul id="secondary-nav">
  <li class="first">
    <%= link_to 'Management', '/services/management' %>
  </li>
  <li>
    <%= link_to 'Homebuilding', '/services/homebuilding' %>
  </li>
  <li>
    <%= link_to 'Construction', '/services/construction' %>
  </li>
  <li>
    <%= link_to 'Development', '/services/development' %>
  </li>
  <li>
    <%= link_to 'Acquisitions', '/services/acquisitions' %>
  </li>
  <li>
    <%= link_to 'Land', '/services/land' %>
  </li>
</ul>
