<% render_meta(@page) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @page.first? ? @section.title : @page.title %></h2>

    <%= mobile_back_link_for(@section, @page) %>
  </div>
</div>

<div class="section services">
  <div class="content">
    <%= @page.body.try(:html_safe) %>

    <% if @page.section.cached_slug == 'services' && @page.first? %>
      <ul>
        <li>
          <%= link_to 'Management', '/services/management', :class => 'btn' %>
        </li>
        <li>
          <%= link_to 'Homebuilding', '/services/homebuilding', :class => 'btn' %>
        </li>
        <li>
          <%= link_to 'Construction', '/services/construction', :class => 'btn' %>
        </li>
        <li>
          <%= link_to 'Acquisitions', '/services/acquisitions', :class => 'btn' %>
        </li>
        <li>
          <%= link_to 'Land', '/services/land', :class => 'btn' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
