<% render_meta(@page) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @page.first? ? @section.title : @page.title %></h2>

    <%= mobile_back_link_for(@section, @page) %>
  </div>
</div>

<div class="section main">
  <div class="content">
    <%= @page.mobile_body.try(:html_safe) %>

    <% if @section.cached_slug == 'apartments' && @page.first? %>
      <%= link_to 'Find an Apartment', community_search_path, :class => 'btn submit find-an-apartment' %>
    <% end %>

    <% if @section.cached_slug == 'new-homes' && @page.first? %>
      <%= link_to 'Buy a Home', home_communities_path, :class => 'btn submit buy-a-home' %>
    <% end %>

    <% if @section.cached_slug == 'services' && @page.first? %>
      <%= link_to 'Featured Projects', featured_projects_path, :class => 'btn submit featured-projects' %>
    <% end %>
  </div>
</div>

<% if @page.mobile_body_extra.present? && @page.mobile_body_extra.length > 15 %>
  <div class="section at-a-glance">
    <div class="content">
      <%= raw(@page.mobile_body_extra) %>
    </div>
  </div>
<% end %>


<% if @section.cached_slug == 'services' && @page.first? %>
  <%= render 'services_nav' %>
<% end %>

<% if @section.cached_slug == 'apartments' && @page.first? %>
  <%= render 'apartments_secondary_nav' %>
<% end %>

<% if @section.cached_slug == 'new-homes' && @page.first? %>
  <%= render 'homes_secondary_nav' %>
<% end %>

<% if @section.service? && @page.first? && @section.projects.any? %>
  <div class="section services">
    <div class="content">
      <ul>
        <li>
          <%= link_to 'Our Work', service_section_projects_path(@section), :class => 'btn' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
