<% render_meta(@page) %>


<div class="section page-title">
  <div class="content">
    <h2><%= @page.first? ? @section.title : @page.title %></h2>

    <%= mobile_back_link_for(@section, @page) %>
  </div>
</div>

<div class="section main">
  <div class="content">
    <%= @page.mobile_body.try(:html_safe) %>
    <% if @page.section.cached_slug == 'apartments' && @page.first? %>
      <%= link_to 'Find an Apartment', community_search_path, :class => 'btn submit find-an-apartment' %>
    <% end %>
  </div>
</div>

<% if @page.mobile_body_extra.present? %>
  <div class="section at-a-glance">
    <div class="content">
      <%= @page.mobile_body_extra.try(:html_safe) %>
    </div>
  </div>
<% end %>

<% if @page.section.cached_slug == 'services' && @page.first? %>
  <div class="section services">
    <div class="content">
      <%= render 'services_nav' %>
    </div>
  </div>
<% end %>

<% if @page.section.cached_slug == 'apartments' && @page.first? %>
  <div class="section nav">
    <div class="content">
      <%= render 'secondary_nav' %>
    </div>
  </div>
<% end %>
