<% content_for :body_class do %>community property floor-plans<% end %>
<% render_meta(@community, :floor_plans) %>

<% @community.floor_plans_by_group.each do |group, plans_in_group| %>
  <div id="<%= dom_id(group) %>" class="floor-plan-group">
    <h2><%= floor_plan_group_pluralize(plans_in_group.count, group.name) %></h2>

    <% plans_in_group.in_groups_of(4, false).each_with_index do |plans_group, i| %>
      <ul class="row" <% if i >= 2 %> style="display: none;" <% end %>>
        <% plans_group.each do |plan| %>
          <li class="floor-plan">
            <h4><%= plan.name %></h4>

            <p>
              <% sq_ft = plan.min_square_feet %>
              <% if sq_ft.present? %>
                <% if plan.rolled_up? %>
                  Starting from
                <% end %>
                <%= square_feet(plan) %>
              <% end %>

              <% min_rent = plan.min_rent %>
              <% if min_rent.present? %>
                | <%= floor_plan_price(min_rent) %>
              <% end %>

              <% if sq_ft || min_rent %>
                <br />
              <% end %>

              <% if plan.availability_url.present? %>
                <%= link_to 'Reserve', plan.availability_url, :rel => 'external' %>
              <% end %>
            </p>

            <%= floor_plan_image(plan) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
