<% content_for :sidebar do %>
  <%= typus_block :location => @resource[:self], :partial => 'sidebar' %>
  <%= actions %>
  <%= search %>
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to @resource[:pluralized], :action => 'index' %> &rsaquo;
  <span><%= _("Edit") %></span>
<% end %>

<%= display_link_to_previous if params[:back_to] %>

<%= typus_block :location => @resource[:self], :partial => 'edit' %>

<%
  options = { :action => 'update',
             :id => @item.id ,
             :back_to => params[:back_to],
             :resource => params[:resource],
             :resource_id => params[:resource_id]}
  button = _("Save %{resource}", :resource => @resource[:human_name])
%>

<%= typus_render :partial => "form", :options => options, :button => button %>

<%= typus_relationships %>
