<% content_for :body_class do %>generic<% end %>

<% breadcrumb_item(link_to 'News & Press', news_and_press_path(@section)) %>
<% breadcrumb_item('Awards') %>

<% breadcrumb_title('Awards') %>


<h2>Awards</h2>

<% if page_number == 1 %>
  <%= render :partial => 'shared/news_contact_info' %>
<% end %>

<div class="press-listing">
  <% @awards.each do |award| %>
    <div class="press-item row">
      <% if award.image? %>
        <% link_to award_path(@section, award) do %>
          <%= image_tag(award.image.url, :width => 100, :height => 100) %>
        <% end %>
      <% end %>

      <h3>
        <%= link_to award.title, award_path(@section, award) %>
      </h3>

      <p class="press-item-date">
        <%= award.published_at.to_formatted_s(:month_day_year) %>
      </p>

      <%= truncate_html(award.body, :length => 600).try(:html_safe) %>
    </div>
  <% end %>

  <%= will_paginate @awards %>
</div>
