<li class="property-listing apartment-listing" <%= jmapping(community) %>>
  <p class="photos">
    <% if community.listing_image? %>
      <%= link_to community do %>
        <%= image_tag(community.listing_image.url) %>

        <% if community.under_construction? %>
          <strong class="upcoming">Upcoming</strong>
        <% elsif community.featured? %>
          <strong class="featured">Featured</strong>
        <% end %>
      <% end %>
    <% end %>
  </p>

  <div class="info">
    <div class="overview">
      <h2><%= link_to community.title, community %></h2>

      <p class="address-info">
        <%= community.address %><br/>
        <% if use_dnr %>
          <%= dnr_phone_number(community, dnr_ad_source) %>
        <% else %>
          <%= community.phone_number %>
        <% end %>
      </p>

      <% if community.listing_text.present? && community.listing_text.length > 10 %>
        <div class="listing-text">
          <%= raw(community.listing_text) %>
        </div>
      <% end %>

      <ul>
        <% floor_plan_presenter(community).groups.each do |group| %>
          <% if group.has_plans? %>
            <li>
              <strong><%= group.name %></strong>

							<%= if_nonzero?(group.cheapest_rent) do |price| %>
                from <%= dollars(price) %>
							<% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <%= if_present?(community.overview_bullet_1) do |bullet| %>
        <p class="description"><%= bullet %></p>
      <% end %>
    </div>

    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', community %>
      </h2>

      <% if community.availability_url.present? %>
        <p><%= link_to 'Availability',
          community.availability_url,
          :rel               => 'external',
          :class             => 'fl-record-click',
          'data-cat'         => 'va01',
          'data-prop'        => community.title,
          'data-track-event' => "Apartments,#{ga_escape(community.title)},Availability" %>
        </p>
      <% end %>

      <%= property_icons(community) %>
    </div>
  </div>
</li>
