<li class="property-listing apartment-listing" data-jmapping="<%= community.to_jmapping %>">
  <p class="photos">
    <% if community.listing_image? %>
      <% link_to community do %>
        <%= image_tag(community.listing_image.url) %>

        <% if community.featured? %>
          <strong>Featured</strong>
        <% end %>
      <% end %>
    <% end %>
  </p>

  <div class="info">
    <div class="overview">
      <h2><%= link_to community.title, community %></h2>

      <p class="address-info">
        <%= community.address %><br/>
        <% if use_dnr %>
          <%= dnr_phone_number(community) %>
        <% else %>
          <%= community.phone_number %>
        <% end %>
      </p>

      <ul>
        <% [['Studio', 'studio'], ['1 Bedrooms', '1_bedroom'], ['2 Bedrooms', '2_bedroom'], ['3 or More Bedrooms', '3_bedroom'], ['Penthouses', 'penthouse']].each do |group| %>
          <% if community.send("cheapest_#{group[1]}_price").present? %>
            <li>
              <strong><%= group[0] %></strong>
              from
              <%= floor_plan_price(community.send("cheapest_#{group[1]}_price")) %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if community.overview_bullet_1.present? %>
        <p class="description"><%= community.overview_bullet_1 %></p>
      <% end %>
    </div>

    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', community %>
      </h2>

      <% if community.availability_url.present? %>
        <p><%= link_to 'Availability', community.availability_url, :rel => 'external' %></p>
      <% end %>

      <%= property_icons(community) %>
    </div>
  </div>
</li>
