<li class="property-listing apartment-listing" data-jmapping="<%= community.to_jmapping %>">
  <p class="photos">
    <% if community.listing_image? %>
      <% link_to community do %>
        <%= image_tag(community.listing_image.url) %>

        <% if community.under_construction? %>
          <strong class="upcoming">Upcoming</strong>
        <% elsif community.featured? %>
          <strong class="featured">Featured</strong>
        <% end %>
      <% end %>
    <% end %>
  </p>

  <div class="info">
    <div class="overview">
      <h2><%= link_to community.title, community %></h2>

      <p class="address-info">
        <%= community.address %><br/>
        <% if use_dnr %>
          <%= dnr_phone_number(community) %>
        <% else %>
          <%= community.phone_number %>
        <% end %>
      </p>

      <% if community.listing_text.present? && community.listing_text.length > 10 %>
        <div class="listing-text">
          <%= raw(community.listing_text) %>
        </div>
      <% end %>

      <ul>
        <% ApartmentFloorPlanGroup.all.each do |group| %>
          <% if community.plan_count_in_group(group) > 0 %>
            <li>
              <strong><%= group.name %></strong>
              <% community.cheapest_price_in_group(group).if_present? do |price| %>
                from
                <%= floor_plan_price(price) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if community.overview_bullet_1.present? %>
        <p class="description"><%= community.overview_bullet_1 %></p>
      <% end %>
    </div>

    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', community %>
      </h2>

      <% if community.availability_url.present? %>
        <p><%= link_to 'Availability', community.availability_url, :rel => 'external', 'data-track-event' => "Apartments,#{ga_escape(community.title)},Availability" %></p>
      <% end %>

      <%= property_icons(community) %>
    </div>
  </div>
</li>
