<li>
  <div class="property">
    <% link_to community, :class => 'info' do %>
      <span class="name"><%=h community.title %></span>

      <span class="address"><%= community.address %></span>

      <span class="floorplans"><%= list_of_floor_plan_group_names_for(community) %></span>

      <span class="price">Pricing from <%= apartment_community_price_range(community) %></span>
    <% end %>

    <% if community.phone_number? %>
      <%= link_to_phone_number(format_phone_number(community.phone_number), community.phone_number, :class => 'tel') %>
    <% end %>
  </div>
</li>
