<li class="property-listing apartment-listing" data-jmapping="<%= community.to_jmapping %>">
  <p class="photos">
    <% if community.listing_image? %>
      <%= image_tag community.listing_image.url %>
    <% end %>
  </p>

  <div class="info">
    <div class="overview">
      <h2><%= community.title %></h2>

      <p class="address-info">
        <%= community.address %><br/>
        <%= phone_number(community.phone_number) %>
      </p>

      <ul>
        <% ApartmentFloorPlanGroup.all.each do |group| %>
          <% plans_in_group = community.floor_plans.in_group(group) %>
          <% unless plans_in_group.empty? %>
            <li>
              <strong><%= group.name %></strong>
              <%= cheapest_floor_plan_price_in_group(plans_in_group).downcase %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if community.overview_bullet_1.present? %>
        <p class="description"><%= community.overview_bullet_1 %></p>
      <% end %>
    </div>

    <div class="learn-more">
      <h2>
        <%= link_to 'Learn More', community %>
      </h2>

      <% if community.availability_url.present? %>
        <p><%= link_to 'Availability', community.availability_url, :rel => 'external' %></p>
      <% end %>

      <%= property_icons(community) %>
    </div>
  </div>
</li>
