<div id="content" class="col">
<div class="header">
  <ul>
    <li>
      <%= link_to 'View as List', apartment_communities_path(:search => params[:search]), :class => 'list' %>
    </li>
    <li class="current">
      <%= link_to 'View on Map', map_apartment_communities_path(:search => params[:search]), :class => 'map' %>
    </li>
  </ul>
  <p>
    <%= pluralize(@communities.sum {|state, communities| communities.count}, 'Apartment Community') %>
  </p>
</div>

<% content_for :javascript do %>
  <%= google_maps_javascript_tag %>

  <script type="text/javascript">
    var markers = new Array();
    <% @communities.each do |state, communities| %>
      <% communities.each do |community| %>
        <% if community.latitude.present? %>
          markers.push({
            latlng: new GLatLng(<%= community.latitude %>, <%= community.longitude %>),
            title: "<%= h community.title %>",
            url: "<%= apartment_community_path(community) %>"
          });
        <% end %>
      <% end %>
    <% end %>

    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("search-results-map"));
        map.setCenter(new GLatLng(39.740986, -75.673828), 6);


        $.each(markers, function(index, marker) {
          var new_marker = new GMarker(marker.latlng, {
            clickable: true,
            map: map,
            flat: true,
            title: marker.title
          });

          GEvent.addListener(new_marker, 'click', function() {
            location.href = marker.url;
          });

          map.addOverlay(new_marker);
        });

        map.setUIToDefault();

      }
    }

    document.body.onload = initialize();
  </script>
<% end %>

<div id="search-results-map"></div>
</div>