<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="property-nav">
        <li class="<%= current_if :controller => 'apartment_communities', :action => 'show' %>">
          <%= link_to @community.title, @community %>
        </li>
        <li class="<%= current_if 'features' %>">
          <%= link_to 'Features & Amenities', features_apartment_community_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'community_media' %>">
          <%= link_to 'Photos & Videos', apartment_community_media_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'apartment_floor_plan_groups' %>">
          <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community) %>
        </li>
        <li class="<%= current_if :controller => 'neighborhoods' %>">
          <%= link_to 'Neighborhood', apartment_community_neighborhood_path(@community) %>
        </li>
        <li class="last <%= current_if :controller => 'lead2_lease_submissions' %>">
          <%= link_to 'Contact Us', apartment_community_lead2_lease_submissions_path(@community) %>
          <% if @community.phone_number.present? %>
            <%= phone_number(@community.phone_number) %>
          <% end %>
        </li>
      </ul>

      <ul id="remote-nav">
        <% if @community.resident_link_text.present? && @community.resident_link_url.present? %>
          <li>
            <%= link_to @community.resident_link_text, website_url(@community.resident_link_url), :target => "_blank" %>
          </li>
        <% end %>
        <% if @community.website_url.present? %>
          <li>
            <%= link_to 'Visit Community Website', website_url(@community.website_url), :target => "_blank" %>
          </li>
        <% end %>
        <% if brochure_link(@community) %>
          <li class="last">
            <%= brochure_link(@community) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if params[:controller] == 'community_media' %>
      <%= render :partial => 'community_media/slideshow' %>
    <% else %>
      <%= render :partial => 'properties/slideshow', :locals => { :property => @community } %>
    <% end %>
  </div>
</div>
