<div id="masthead">
  <div class="container">
    <div class="nav">
      <ul id="property-nav">
        <li class="<%= current_if :controller => 'apartment_communities', :action => 'show' %>">
          <%= link_to @community.title, @community %>
        </li>
        <%- if @community.features_page? -%>
          <li class="<%= current_if :controller => 'features' %>">
            <%= link_to 'Features & Amenities', apartment_community_features_path(@community) %>
          </li>
        <%- end -%>
        <%- if @community.has_media? -%>
          <li class="<%= current_if :controller => 'community_media' %>">
            <%= link_to 'Photos & Videos', apartment_community_media_path(@community) %>
          </li>
        <%- end -%>
        <%- if @community.floor_plans.present? -%>
          <li class="<%= current_if :controller => 'apartment_floor_plan_groups' %>">
            <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community) %>
          </li>
        <%- end -%>
        <%- if @community.neighborhood_page? -%>
          <li class="<%= current_if :controller => 'neighborhoods' %>">
            <%= link_to 'Neighborhood', apartment_community_neighborhood_path(@community) %>
          </li>
        <%- end -%>
        <%- if @community.retail_page? -%>
          <li class="<%= current_if :controller => 'retail' %>">
            <%= link_to 'Retail', apartment_community_retail_path(@community) %>
          </li>
        <%- end -%>
        <%- if @community.contact_page? || @community.show_lead_2_lease? || @community.under_construction? -%>
          <li class="last <%= current_if :controller => 'apartment_contact_submissions' %>">
            <%= link_to 'Contact Info', apartment_community_contact_path(@community) %>
          </li>
        <%- end -%>
      </ul>

      <ul id="remote-nav">
        <% if @community.resident_link_text.present? && @community.resident_link_url.present? %>
          <li>
            <%= link_to @community.resident_link_text, website_url(@community.resident_link_url), {
                :rel => 'external'
              }.merge(double_click_data_attrs(@community.title, 'readp083'))
            %>
          </li>
        <% end %>

        <% if @community.website_url.present? %>
          <li>
            <%= link_to (@community.website_url_text.presence || 'Visit Community Website'), website_url(@community.website_url), {
                :rel               => 'external',
                :class             => 'fl-record-click',
                'data-track-event' => "Apartments,#{ga_escape(@community.title)},Visit Community Website"
              }.merge(double_click_data_attrs(@community.title, 'visit764'))
            %>
          </li>
        <% end %>

        <%= if_present?(brochure_link(@community, double_click_data_attrs(@community.title, 'digit734'))) do |link| %>
          <li class="last">
            <%= link %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if params[:controller] == 'community_media' %>
      <%= render :partial => 'community_media/slideshow' %>
    <% elsif params[:controller] == 'property_pages/retail' %>
      <%= render :partial => 'property_pages/retail/slideshow' %>
    <% else %>
      <%= render :partial => 'properties/slideshow', :locals => { :property => @community } %>
    <% end %>
  </div>
</div>
