<div id="content" class="col">
<div class="header">
  <ul>
    <li class="current">
      <%= link_to 'View as List', apartment_communities_path(:search => params[:search]), :class => 'list' %>
    </li>
    <li>
      <%= link_to 'View on Map', map_apartment_communities_path(:search => params[:search]), :class => 'map' %>
    </li>
  </ul>
  <p>
    <%= pluralize(@communities.sum {|state, communities| communities.count}, 'Apartment Community') %>
  </p>
</div>

<ul class="results">
  <% @communities.keys.sort.each do |state| %>
    <% communities = @communities[state] %>
    <li class="<%= 'closed' unless state == @communities.keys.sort.first %>">
      <div class="header">
        <h2><%= state %></h2>
        <p><%= pluralize communities.count, 'Apartment Community' %></p>
      </div>
      <ul class="location-filters">
        <li>
          <div class="header">
            <h3>Cities</h3>
          </div>
          <ul>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          </ul>
        </li>
        <li>
          <div class="header">
            <h3>Counties</h3>
          </div>
          <ul>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
            <li class="alt"><a href="#"><strong>Annapolis</strong> <em>4</em></a></li>
          </ul>
        </li>
      </ul>
      <div class="results">
        <ul>
          <%= render :partial => 'detail', :collection => communities, :as => :community %>
        </ul>

        <!-- <ul class="pagination">
          <li><a href="#" class="first">First</a></li>
          <li>1</li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">11</a></li>
          <li><a href="#" class="last">Last</a></li>
        </ul> -->
      </div>
    </li>
  <% end %>
</ul>
</div>