<% content_for :body_class do %>community property features<% end %>

<%= render :partial => 'breadcrumb' %>

<%= render :partial => 'masthead' %>

<div id="main-content">
  <div class="container">

    <% (1..3).each do |i| %>
      <% if @community.send("features_#{i}_title").present? %>
        <div class="row feature">
          <h2><%= @community.send("features_#{i}_title") %></h2>

          <%= raw(@community.send("features_#{i}_text")) %>
        </div>
      <% end %>
    <% end %>

    <%= render :partial => 'properties/sub_content', :locals => { :property => @community } %>
  </div>
</div>

<%= render :partial => 'properties/special_nav' %>
