<% content_for :body_class do %>community property features<% end %>

<%= render :partial => 'breadcrumb' %>

<%= render :partial => 'masthead' %>

<div id="main-content">
  <div class="container">
    <%= @community.features_text.try(:html_safe) %>

    <%= render :partial => 'properties/sub_content', :locals => { :property => @community } %>
  </div>
</div>

<%= render :partial => 'properties/special_nav' %>
