<% content_for :body_class do %>search<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><a href="#">Apartments</a></li>
      <li><a href="#">Find an Apartment</a></li>
      <li>Maryland</li>
    </ul>
    <h1>Find an Apartment in Maryland</h1>
    <img class="aside" src="/images/search-results-masthead.jpg" />
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        <h2>Search By</h2>
        <% form_for @search do |f| %>
          <fieldset id="bedrooms" class="">
            <h3>Bedrooms</h3>
            <ul>
              <% FloorPlanGroup.all.each do |fpg| %>
                <li>
                  <%= f.check_box :with_floor_plan_groups, {:name => 'search[with_floor_plan_groups][]', :id => fpg.name.tableize}, fpg.id.to_s, nil %>
                  <label for="<%= fpg.name.tableize %>"><%= fpg.name %></label>
                </li>
              <% end %>
            </ul>
          </fieldset>

          <fieldset id="price" class="">
            <h3>Price</h3>
            <ul>
              <li>
                <select name="price_min" id="price_min">
                  <option>Choose Minimum...</option>
                </select>
              </li>
              <li>
                <select name="price_max" id="price_max">
                  <option>Choose Maximum...</option>
                </select>
              </li>
            </ul>
          </fieldset>

          <fieldset id="special_promotion" class="">
            <h3>Special Promotion</h3>
            <ul>
              <li>
                <%= f.check_box :promotions_text_not_null, :id => 'search_special_promotions' %>
                <%= f.label :special_promotions, 'Show only properties that have special promotions' %>
              </li>
            </ul>
          </fieldset>

          <fieldset id="features_amenities" class="">
            <h3>Most Searched Features &amp; Amenities</h3>
            <ul>
              <li>
                <%= f.check_box :fitness_center %>
                <%= f.label :fitness_center, 'Fitness Center' %>
              </li>
              <li>
                <%= f.check_box :metro_access %>
                <%= f.label :metro_access, 'Metro Access' %>
              </li>
              <li>
                <%= f.check_box :pet_friendly %>
                <%= f.label :pet_friendly, 'Pet-Friendly' %>
              </li>
              <li>
                <%= f.check_box :washer_and_dryer %>
                <%= f.label :washer_and_dryer, 'Washer &amp; Dryer' %>
              </li>
              <li>
                <%= f.check_box :brand_new %>
                <%= f.label :brand_new, 'Brand New' %>
              </li>
            </ul>
          </fieldset>

          <%= f.submit %>
        <% end %>
      </div>

      <div id="content" class="col">
        <div class="header">
          <ul>
            <li class="current">
              <a href="#view-as-list" class="list">View as List</a>
            </li>
            <li>
              <a href="#view-as-directory" class="directory">View as Directory</a>
            </li>
            <li>
              <a href="#view-as-map" class="map">View on Map</a>
            </li>
          </ul>
          <p>
            <%= pluralize(@communities.count, 'Apartment Community') %>
          </p>
        </div>

        <%= render :partial => "apartment_communities/#{@partial_template}" %>
      </div>

    </div>


    <div id="sub-content" class="row">
      <div class="row">
        <div id="renting-from-bozzuto" class="col">
          <h2>Renting From Bozzuto</h2>

          <p>
            <strong>Our goal is to provide you with an unparalleled living experience</strong> during your stay at a Bozzuto Community. We want you to relax and enjoy your new home while leaving the heavy lifting to us.
          </p>

          <p class="call-to-action">
            <a href="#">Read More</a>
          </p>
        </div>

        <div id="about-bozzuto" class="col">
          <h2>About Bozzuto Management Company</h2>

          <p>
            <strong>Recognized by the National Association of Home Builders</strong> in both 2009 and 200 as the nation&rsquo;s best residential management company, Bozzuto Management has assembled a portfolio of apartment communities and commercial properties in locations throughout the East Coast.
          </p>

          <p class="call-to-action">
            <a href="#">Learn More About Bozzuto Management</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
