<% content_for :body_class do %>search
<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to 'Apartments', '/apartments' %></li>
      <% if @geographic_filter -%>
        <li><%= link_to "Find an Apartment", apartment_communities_path %></li>
        <li><%= @geographic_filter.name %> <%= "County" if @geographic_filter.is_a?(County) %></li>
      <% else -%>
        <li>Find an Apartment</li>
      <% end -%>
    </ul>
    <h1>
      Find an Apartment
      <% if @geographic_filter -%>
        in <%= @geographic_filter.name %> <%= "County" if @geographic_filter.is_a?(County) %>
      <% end -%>
    </h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        <h2>
          Search By
          <%= image_tag 'spinner.gif', :style => 'display: none', :id => 'spinner' %>
        </h2>
        <% form_for @search, :method => :get, :html => {:id => 'apartment-search-form'} do |f| %>
          <fieldset id="bedrooms" class="">
            <h3>Bedrooms</h3>
            <ul>
              <% ApartmentFloorPlanGroup.all.each do |fpg| %>
                <li>
                  <%= f.check_box :with_floor_plan_groups, {:name => 'search[with_floor_plan_groups][]', :id => fpg.name.tableize}, fpg.id.to_s, nil %>
                  <label for="<%= fpg.name.tableize %>"><%= fpg.name %></label>
                </li>
              <% end %>
            </ul>
          </fieldset>

          <fieldset id="price" class="">
            <h3>Price</h3>
            <ul>
              <li>
                <%= f.select :with_min_price, [['Choose Minimum...', '']] + search_prices %>
              </li>
              <li>
                <%= f.select :with_max_price, [['Choose Maximum...', '']] + search_prices %>
              </li>
            </ul>
          </fieldset>

          <fieldset id="special_promotion" class="">
            <h3>Special Promotions</h3>
            <ul>
              <li>
                <%= f.check_box :promo_id_not_blank, :id => 'search_special_promotions' %>
                <%= f.label :special_promotions, 'Show only properties that have special promotions' %>
              </li>
            </ul>
          </fieldset>

          <fieldset id="features_amenities" class="">
            <h3>Most Searched Features &amp; Amenities</h3>
            <ul>
              <% PropertyFeature.all(:conditions => {:show_on_search_page => true}).each do |feature| -%>
                <li>
                  <%= f.check_box :with_property_features, {:name => 'search[with_property_features][]', :id => feature.name.tableize}, feature.id.to_s, nil %>
                  <label for="<%= feature.name.tableize %>"><%= feature.name %></label>
                </li>
              <% end -%>
            </ul>
          </fieldset>
        <% end %>
      </div>

      <%= render :partial => "apartment_communities/#{@partial_template}" %>

    </div>


    <div id="sub-content" class="row">
      <div class="row">
        <div id="why-is-bozzuto-the-leader" class="col">
          <h2>Why is Bozzuto the Leader?</h2>
          <%= snippet("Why is Bozzuto the Leader?") %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">
    $('#apartment-search-form').attachSearchForm();
  </script>
<% end %>
