<%= render 'apartment_communities/redesign/slideshow', :community => @community %>

<%= render 'apartment_communities/redesign/breadcrumb', :community => @community %>

<div class="cty-left-col">
  <% if @community.overview_title.present? %>
    <h3 class="cty-headline">
      <%= @community.overview_title %>
    </h3>
  <% end %>

  <%= render 'apartment_communities/redesign/intro',                  :community => @community %>
  <%= render 'apartment_communities/redesign/key_features',           :community => @community %>
  <%= render 'apartment_communities/redesign/overview',               :community => @community %>
  <%= render 'apartment_communities/redesign/features_and_amenities', :community => @community %>
  <%= render 'apartment_communities/redesign/floor_plans',            :community => @community %>
  <%= render 'apartment_communities/redesign/recently_viewed',        :recently_viewed => @recently_viewed %>
</div>

<div class="cty-right-col">
  <%= render 'apartment_communities/redesign/sidebar', :community => @community %>
</div>
