<!doctype html>
<html>
<head>
  <meta charset="utf8">
  <title>Bozzuto</title>

  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%= stylesheet_link_tag 'pages/community', :media => 'screen' %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <div id="site-wrapper">
    <header>
      <h1 class="h-logo"><%= link_to 'Bozzuto', '/' %></h1>

      <div class="h-search">
        <form>
          <%= text_field_tag :q, params[:q], :class => 'in-text' %>
          <button type="submit">
            <i class="ico" aria-hidden="true">p</i> Submit
          </button>
        </form>
      </div>

      <nav>
        <ul class="n-main">
          <li class="n-main-item">
            <%= link_to 'Apartments', '/apartments', :class => 'n-main-item-link' %>
          </li>
          <li class="n-main-item">
            <%= link_to 'New Homes', '/new-homes', :class => 'n-main-item-link' %>
          </li>
          <li class="n-main-item">
            <%= link_to 'About Us', '/about-us', :class => 'n-main-item-link' %>
            <div class="dropdown">
              <ul class="col">
                <li><span><a href="/about-us/values">Values</a></span></li>
                <li><span><a href="/careers">Careers</a></span></li>
                <li><span><a href="/about-us/leadership">Leadership</a></span></li>
              </ul>
              <ul class="col">
                <li><span><a href="/about-us/news-and-press">News &amp; Press</a></span></li>
                <li><span><a href="/about-us/testimonials">Testimonials</a></span></li>
                <li><span><a href="/about-us/news-and-press/awards">Awards</a></span></li>
              </ul>
            </div>
          </li>
          <li class="n-main-item">
            <%= link_to 'Our Services', '/services', :class => 'n-main-item-link' %>
            <div class="dropdown">
              <ul class="col">
                <li class="first"><%= link_to 'Management', '/services/management' %></li>
                <li><%= link_to 'Homebuilding', '/services/homebuilding' %></li>
                <li><%= link_to 'Construction', '/services/construction' %></li>
              </ul>
              <ul class="col">
                <li class="first"><%= link_to 'Development', '/services/development' %></li>
                <li><%= link_to 'Acquisitions', '/services/acquisitions' %></li>
                <li><%= link_to 'Land', '/services/land' %></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <div id="main-content" class="main-content">
      <div class="cty-slideshow">
        <h2 class="cty-slideshow-title"><%= @community.short_name %></h2>

        <% @community.slideshow.slides.first.tap do |slide| %>
          <%= image_tag slide.image.url %>
        <% end %>

        <div class="cty-slideshow-track">
          <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-prev' %>
          <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-next' %>

          <div class="cty-slideshow-thumbs">
            <div class="cty-slideshow-thumbs-inner">
              <% @community.slideshow.slides.each do |slide| %>
                <%= link_to image_tag('http://placekitten.com/55/55'), '#' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="cty-breadcrumb">
        <%= link_to "Apartments", "/apartments" %>
        &gt;
        <%= link_to "Find an Apartment", apartment_communities_path %>
        &gt;
        <%= link_to @community.state.name, state_apartment_search_path(@community.state) %>
        &gt;
        <%= link_to @community.city.name, city_apartment_search_path(@community.city) %>
        &gt;
        <%= @community.title %>
      </div>

      <div class="cty-left-col">
        <% if @community.overview_title.present? %>
          <h3 class="cty-headline">
            <%= @community.overview_title %>
          </h3>
        <% end %>

        <!-- Intro Content -->
        <div class="cty-intro">
          <div class="grid-row">
            <div class="grid-12">
              <h4 class="cty-intro-headline">
                <%= @community.title %>
              </h4>

              <p class="cty-intro-address">
                <%= @community.address('<br />').html_safe %>
                <% @community.zip_code.if_present? do |zip| %>
                  <%= zip %>
                <% end %>
                <br />

                <strong><%= format_phone_number(@community.phone_number) %></strong>
              </p>

              <p class="cty-intro-links">
                <% links = [] %>

                <% if @community.website_url.present? %>
                  <% links << link_to('Visit the Website', website_url(@community.website_url), {
                      :rel => 'external',
                      :'data-track-event' => "Apartments,#{ga_escape(@community.title)},Visit Community Website"
                    }.merge(double_click_data_attrs(@community.title, 'visit764')))
                  %>
                <% end %>

                <% if @community.resident_link_text.present? && @community.resident_link_url.present? %>
                  <% links << link_to(@community.resident_link_text, website_url(@community.resident_link_url), {
                      :rel => 'external'
                    }.merge(double_click_data_attrs(@community.title, 'readp083')))
                  %>
                <% end %>

                <%= links.join(' | ').html_safe %>
              </p>
            </div>

            <% if @community.contact_page? || @community.show_lead_2_lease || @community.under_construction? %>
              <div class="grid-offset-1 grid-7">
                <%= link_to 'Request Info', apartment_community_contact_path(@community), :class => 'btn btn-large-blue' %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Key Features -->
        <div class="cty-features">
          <div class="grid-row">
            <div class="grid-10">
              <h4 class="cty-features-headline">Key Features</h4>

              <%= property_bullets %>
            </div>

            <div class="grid-6">
              <h4 class="cty-features-headline">Watch the Videos</h4>

              <div class="cty-features-videos">
                <% link_to '#' do %>
                  <%= image_tag 'http://placekitten.com/g/55/55' %>
                <% end %>

                <% link_to '#' do %>
                  <%= image_tag 'http://placekitten.com/g/55/55' %>
                <% end %>
              </div>
            </div>

            <% @community.property_features.if_present? do |features| %>
              <div class="grid-4">
                <ul>
                  <% features.each do |feature| %>
                    <li><%= feature.name %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Page Links -->
        <p class="cty-page-links">
          <%= link_to('Apartments Overview', @community, :class => 'current') %>

          <% if @community.features_page? %>
            |
            <%= link_to 'Features & Amenities', apartment_community_features_path(@community) %>
          <% end %>

          <% if @community.floor_plans.present? %>
            |
            <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community) %>
          <% end %>

          <% if @community.contact_page? || @community.show_lead_2_lease || @community.under_construction? %>
            |
            <%= link_to 'Request Information', apartment_community_contact_path(@community) %>
          <% end %>
        </p>

        <!-- Apartments Overview -->
        <div class="cty-section">
          <div class="cty-section-header">
            <h3 class="hdr-narrow">Apartments Overview</h3>
          </div>

          <div class="cty-section-content">
            <% if @community.floor_plans_by_group.any? { |group, plans| plans.length > 0 } %>
              <table class="cty-table">
                <tr>
                  <th class="cty-table-bedrooms" scope="col">
                    Bedrooms
                  </th>
                  <th class="cty-table-floor-plans" scope="col">
                    Floor Plans
                  </th>
                  <th class="cty-table-size" scope="col">
                    Size
                  </th>
                  <th class="cty-table-price" scope="col">
                    Amount
                  </th>
                  <th class="cty-table-avail" scope="col"></th>
                </tr>

                <% @community.floor_plans_by_group.each do |group, plans| %>
                  <tr>
                    <td class="cty-table-bedrooms">
                      <% link_to apartment_community_floor_plan_groups_path(@community, :anchor => dom_id(group)) do %>
                        <%= floor_plan_group_pluralize(plans.count, group.name) %>
                      <% end %>
                    </td>
                    <td class="cty-table-floor-plans">
                      <%= pluralize(plans.count, 'Floor Plan') %>
                    </td>
                    <td class="cty-table-size">
                      <%= square_feet_of_largest_floor_plan(plans) %>
                    </td>
                    <td class="cty-table-price">
                      <% cheapest_price = price_of_cheapest_floor_plan(plans).if_present? do |price| %>
                        From <%= price %>
                      <% end %>
                    </td>
                    <td class="cty-table-avail">
                      <%= link_to 'Check Availability', (@community.availability_url.presence || apartment_community_contact_path(@community)) %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>

            <% if @community.overview_text.present? %>
              <%= @community.overview_text.html_safe %>
            <% end %>
          </div>
        </div>

        <!-- Features & Amenities -->
        <div class="cty-section">
          <div class="cty-section-header">
            <h3 class="hdr-narrow">Features &amp; Amenities</h3>
          </div>

          <div class="cty-section-content">
            <ul class="cty-amenities-list">
              <li>Spacious landscaped courtyard and pool</li>
              <li>Fitness center</li>
              <li>Club room</li>
              <li>Resort style lobby</li>
              <li>Game room</li>
            </ul>
          </div>
        </div>

        <!-- Floor Plans -->
        <div class="cty-section">
          <div class="cty-section-header">
            <h3 class="hdr-narrow">Floor Plans</h3>
          </div>

          <div class="cty-section-content">
            <h4 class="cty-floor-plans-header">Studios</h4>

            <ul class="cty-floor-plans-list">
              <% 4.times do %>
                <li class="cty-floor-plan">
                  <%= image_tag 'http://placekitten.com/g/115/140' %>

                  <h5>Studio - A</h5>

                  <p>
                    <span class="cty-floor-plan-size">562 Sq Ft</span>
                    |
                    <span class="cty-floor-plan-price">$1,425</span>
                  </p>

                  <%= link_to 'Reserve', '#', :class => 'btn btn-small btn-black' %>
                </li>
              <% end %>
            </ul>

            <h4 class="cty-floor-plans-header">1 Bedrooms</h4>

            <ul class="cty-floor-plans-list">
              <% 7.times do %>
                <li class="cty-floor-plan">
                  <%= image_tag 'http://placekitten.com/g/115/140' %>

                  <h5>Studio - A</h5>

                  <p>
                    <span class="cty-floor-plan-size">562 Sq Ft</span>
                    |
                    <span class="cty-floor-plan-price">$1,425</span>
                  </p>

                  <%= link_to 'Reserve', '#', :class => 'btn btn-small btn-black' %>
                </li>
              <% end %>
            </ul>

            <h4 class="cty-floor-plans-header">2 Bedrooms</h4>

            <ul class="cty-floor-plans-list">
              <% 4.times do %>
                <li class="cty-floor-plan">
                  <%= image_tag 'http://placekitten.com/g/115/140' %>

                  <h5>Studio - A</h5>

                  <p>
                    <span class="cty-floor-plan-size">562 Sq Ft</span>
                    |
                    <span class="cty-floor-plan-price">$1,425</span>
                  </p>

                  <%= link_to 'Reserve', '#', :class => 'btn btn-small btn-black' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Recently Viewed Communities -->
        <div class="cty-recent">
          <h4 class="cty-recent-heading">
            Recently Viewed Communities
          </h4>

          <% 4.times do %>
            <div class="cty-recent-item">
              <% link_to '#' do %>
                <%= image_tag 'http://placekitten.com/55/55' %>

                <strong>Flats at Atlas</strong><br />
              <% end %>
              1600 Maryland Avenue<br />
              Washington, DC<br />
              (888) 821-6654
            </div>
          <% end %>
        </div>

        <!-- Bottom Text -->
        <div class="cty-footer">
          <h4 class="hdr-tertiary">Bozzuto Brings You Home</h4>

          <p>
            It&rsquo;s simple. We put our residents first. We work hard each and every day to ensure our resident&rsquo;s complete satisfaction and to make sure our communities are places people are proud to call home. That genuine concern for people who choose to live in a Bozzuto community is a cornerstone of our company.
          </p>

          <p>
            With more than 130 communities of all different types in eight states from Virginia to Massachusetts, you're sure to find a Bozzuto apartment home that&rsquo;s just right for you.
          </p>

          <p>
            When you choose a Bozzuto community, you&rsquo;re choosing the peace of mind that comes from leasing with a recognized leader in apartment management. In addition to winning myriad local awards, we have been named Property Management Company of the Year twice in the past ten years by the National Association of Home Builders and have been named one of the Best Places to Work in the DC region for the past give consecutive years.
          </p>
        </div>
      </div>

      <div class="cty-right-col">
        <div class="cty-sidebar">
          <div class="grid-row">
            <div class="cty-page-actions">
              <% black_hole do %>
                <% link_to '#', :class => 'cty-page-action-print' do %>
                  <i class="ico" aria-hidden="true">c</i> Print
                <% end %>
              <% end %>

              <% link_to '#', :class => 'cty-page-action-phone' do %>
                <i class="ico" aria-hidden="true">d</i> Send to<br />my phone
              <% end %>
            </div>

            <div class="cty-social-actions">
            </div>
          </div>

          <div class="cty-map">
            <%= image_tag 'http://placekitten.com/288/240' %>
          </div>

          <div class="cty-map-actions">
            <div class="grid-row">
              <div class="left-col">
                <%= link_to 'Larger Map/Directions', '#' %>
                <%= link_to 'Walk Score&trade;'.html_safe, '#' %>
              </div>

              <div class="right-col">
                <%= link_to 'Points of Interest', '#' %>
              </div>
            </div>
          </div>
        </div>

        <div class="cty-sidebar cty-get-info">
          <h4 class="cty-sidebar-heading hdr-narrow">
            Get Information on this Community
          </h4>

          <div class="cty-sidebar-content">
            <form>
              <p class="in-container">
                <%= label_tag :email, 'Email', :class => 'in-label' %>
                <%= text_field_tag :email, nil, :class => 'in-text' %>
              </p>

              <p>
                <button type="submit" class="btn btn-small btn-gray">Submit</button>

                <% link_to '/pages/privacy-policy' do %>
                  <i class="ico" aria-hidden="true">b</i>
                  Privacy Policy
                <% end %>
              </p>
            </form>
          </div>
        </div>

        <% if @community.nearby_communities.any? %>
          <div class="cty-sidebar cty-nearby">
            <h4 class="cty-sidebar-heading hdr-narrow">
              Nearby Apartment Communities
            </h4>

            <div class="cty-sidebar-content">
              <ul>
                <% @community.nearby_communities.each do |community| %>
                  <li><%= link_to community.title, community %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <% if @community.has_local_info? %>
          <div class="cty-sidebar">
            <h4 class="cty-sidebar-heading hdr-narrow">
              Local Info
            </h4>

            <div class="cty-sidebar-content">
              <ul>
                <% @community.local_info.take(5).each do |info| %>
                  <li class="cty-local-info-item">
                    <h5 class="cty-local-info-heading">
                      <%= link_to info.title.gsub(/on Yelp$/, ''), info.url %>
                    </h5>

                    <p class="cty-local-info-date">
                      <%= info.published_at.to_formatted_s(:month_day_year) %>
                    </p>

                    <p class="cty-local-info-summary">
                      <%= truncate_html(raw(info.description), :length => 75) %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <footer>
      <div class="col">
        <h3 class="f-header">About Us</h3>

        <ul>
          <% about_root_pages.each do |page| %>
            <li><%= link_to page.title, page_path(page.section, page), :class => 'arr-gray-medium' %></li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <h3 class="f-header">Our Services</h3>

        <ul>
          <% %w(Management Homebuilding Construction Development Acquisitions Land).each do |service| %>
            <li>
              <%= link_to service, "/services/#{service.downcase}", :class => 'arr-gray-medium' %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col">
        <h3 class="f-header">We Work In</h3>

        <ul>
          <li>
            <%= link_to 'Connecticut', '/regions/connecticut', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'Maryland', '/regions/maryland', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'Massachusetts', '/regions/massachusetts', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'New Jersey', '/regions/new-jersey', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'New York', '/regions/new-york', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'Pennsylvania', '/regions/pennsylvania', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'Virginia', '/regions/virginia', :class => 'arr-gray-medium' %>
          </li>
          <li>
            <%= link_to 'Washington, DC', '/regions/washington-dc', :class => 'arr-gray-medium' %>
          </li>
        </ul>
      </div>

      <div class="col">
        <h3 class="f-header">Get in Touch</h3>

        <p>
          301.220.0100
          <%= mail_to 'feedback@bozzuto.com', 'feedback@bozzuto.com', :class => 'arr-gray-medium' %>
          <%= link_to 'Careers', careers_path, :class => 'arr-gray-medium' %>
        </p>

        <p>
          7850 Walker Dr.<br />
          Suite 400<br />
          Greenbelt, MD 20770
        </p>
      </div>

      <div class="col col-wide">
        <h3 class="f-header">Connect with Us</h3>

        <form class="buzz-form" action="/bozzuto-buzz" method="GET">
          <label for="email">Enter your email address to stay connected.</label>
          <p class="fields grid-row">
            <%= text_field_tag :email, nil, :class => 'in-text' %>
            <button type="submit">Submit</button>
          </p>
        </form>

        <ul>
          <li class="f-ico f-ico-facebook">
            <%= link_to 'Follow us on Facebook', 'http://www.facebook.com/TheBozzutoGroup', :rel => 'external', 'data-track-social' => 'Facebook,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
          <li class="f-ico f-ico-twitter">
            <%= link_to 'Follow us on Twitter', 'http://twitter.com/TheBozzutoGroup', :rel => 'external', 'data-track-social' => 'Twitter,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
          <li class="f-ico f-ico-pinterest">
            <%= link_to 'Follow us on Pinterest', 'http://pinterest.com/thebozzutogroup/', :rel => 'external', 'data-track-social' => 'Pinterest,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
          <li class="f-ico f-ico-instagram">
            <%= link_to 'Follow us on Instagram', 'http://instagram.com/thebozzutogroup', :rel => 'external', 'data-track-social' => 'Instagram,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
          <li class="f-ico f-ico-tom-blog">
            <%= link_to raw('Read Tom Bozzuto&rsquo;s Blog'), 'http://tom.bozzuto.com', :rel => 'external', 'data-track-social' => 'Blog - Tom Bozzuto,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
          <li class="f-ico f-ico-beat-blog">
            <%= link_to 'Read Bozzuto Beat Blog', 'http://blog.bozzuto.com', :rel => 'external', 'data-track-social' => 'Blog - Bozzuto Beat,Outbound Click,Footer', :class => 'arr-gray-medium' %>
          </li>
        </ul>
      </div>
    </footer>
  </div>

  <div id="copyright">
    <div class="container">
      <p class="cr-copyright">
        &copy; <%= Time.now.year %> Bozzuto
      </p>

      <p class="cr-links">
        <%= link_to 'Privacy Policy', '/pages/privacy-policy' %>
        |
        <%= link_to 'Website Disclaimer', '/pages/website-disclaimer' %>
        |
        <%= link_to 'Employee Login', 'http://www.bozzutointranet.com/Pages/Home.aspx' %>

        <% if mobile_device? %>
          |
          <%= link_to 'Mobile Site', root_path(:full_site => 0) %>
        <% end %>
      </p>

      <p class="cr-eho">
        <%= link_to 'Equal Housing Opportunity', '/about-us/housing-for-all', :id => 'eho' %>
      </p>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= include_javascripts :redesign %>
</body>
</html>
