<% content_for :body_class do %>community property<% end %>
<% render_meta(@community) %>

<div class="row">
  <div id="content" class="col">
    <%= community_contact_callout(@community) %>

    <div id="overview">
      <%= property_icons(@community) %>

      <% if @community.overview_title.present? %>
        <h2><%= @community.overview_title %></h2>
      <% end %>

      <% if @community.overview_text.present? %>
        <div class="intro" id="intro-partial">
          <%= truncate_html(@community.overview_text, :length => 350, :omission => "&hellip;").try(:html_safe) %>
        </div>

        <% if @community.overview_text.length > 350 %>
          <div class="intro" id="intro-full">
            <% if @community.overview_text.present? -%>
              <%= @community.overview_text.try(:html_safe) %>
            <% end -%>
          </div>

          <p class="intro-link">
            <a href="#intro-full" class="expand-and-disappear" data-to-hide="#intro-partial">Read More</a>
          </p>
        <% end %>
      <% end %>

      <%= property_bullets %>

      <%= property_icon_descriptions %>
    </div>

    <% if @community.has_active_promo? %>
      <%= render :partial => 'shared/promo', :object => @community.promo %>
    <% end %>

    <div id="apartments">
      <h2>Apartments</h2>

      <table>
        <tbody>
          <% @community.floor_plans_by_group.each do |group, plans_in_group| %>
            <tr>
              <td>
                <% link_to apartment_community_floor_plan_groups_path(@community, :anchor => dom_id(group)) do %>
                  <%= floor_plan_group_pluralize(plans_in_group.count, group.name) %>
                <% end %>
              </td>
              <td>
                <%= pluralize(plans_in_group.count, 'Floor Plan') %>
              </td>
              <td>
                <%= square_feet_of_largest_floor_plan(plans_in_group) %>
              </td>
              <td>
                <% cheapest_price = price_of_cheapest_floor_plan(plans_in_group) %>
                <% if cheapest_price.present? %>
                  From <%= cheapest_price %>
                <% end %>
              </td>
              <td class="availability">
                <%= link_to "Availability", (@community.availability_url.presence || apartment_community_contact_path(@community)), :rel => 'external' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @community.featured_floor_plans.any? %>
      <div id="featured-floor-plans">
        <h2>Featured Floor Plans</h2>

        <ul class="row">
          <% @community.featured_floor_plans.non_zero_min_rent.take(3).each do |plan| %>
            <li class="floor-plan">
              <h4><%= plan.name %></h4>
              <p>
                <%= square_feet(plan) %> |
                <%= floor_plan_price(plan.min_rent) %>

                <% if plan.availability_url.present? %>
                  <br />
                  <%= link_to 'Reserve', plan.availability_url, :rel => 'external' %>
                <% end %>
              </p>

              <%= floor_plan_image(plan) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'sidebar' %>
</div>
