<% content_for :body_class do %>community property<% end %>
<% render_meta(@community) %>


<div class="row">
  <div id="content" class="col">
    <%= community_contact_callout(@community) %>

    <div id="overview">
      <%= property_icons(@community) %>

      <% if @community.overview_title.present? %>
        <h2><%= @community.overview_title %></h2>
      <% end %>

      <% if @community.overview_text.present? %>
        <div class="intro" id="intro-partial">
          <%= truncate_html(@community.overview_text, :length => 350, :omission => "&hellip;").try(:html_safe) %>
        </div>

        <% if @community.overview_text.length > 350 %>
          <div class="intro" id="intro-full">
            <% if @community.overview_text.present? -%>
              <%= @community.overview_text.try(:html_safe) %>
            <% end -%>
          </div>

          <p class="intro-link">
            <a href="#intro-full" class="expand-and-disappear" data-to-hide="#intro-partial">Read More</a>
          </p>
        <% end %>
      <% end %>

      <%= property_bullets %>
    </div>

    <% if @community.has_active_promo? %>
      <%= render :partial => 'shared/promo', :object => @community.promo %>
    <% end %>

    <% if floor_plan_presenter(@community).has_plans? %>
      <div id="apartments">
        <h2>Apartments</h2>

        <table>
          <tbody>
            <% floor_plan_presenter(@community).groups.each do |group| %>
              <% if group.has_plans? %>
                <tr>
                  <td>
                    <% link_to apartment_community_floor_plan_groups_path(@community, :anchor => dom_id(group)) do %>
                      <%= group.name.pluralize %>
                    <% end %>
                  </td>

                  <td>
                    <%= pluralize(group.plans.count, 'Floor Plan') %>
                  </td>

                  <td>
                    <%= square_feet(group.largest_square_footage) %>
                  </td>

                  <td>
                    <% group.cheapest_rent.if_present? do |price| %>
                      From <%= dollars(price) %>
                    <% end %>
                  </td>

                  <td class="availability">
                    <%= availability_link(@community,
                                          :rel               => 'external',
                                          :class             => 'fl-record-click',
                                          'data-cat'         => 'va01',
                                          'data-prop'        => @community.title,
                                          'data-track-event' => "Apartments,#{ga_escape(@community.title)},Availability") %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% @community.featured_floor_plans.available.non_zero_min_rent.if_present? do |plans| %>
      <div id="featured-floor-plans">
        <h2>Featured Floor Plans</h2>

        <ul class="row">
          <% plans.each do |plan| %>
            <li class="floor-plan">
              <h4><%= plan.name %></h4>

              <p>
                <%= square_feet(plan.min_square_feet) %> |
                <%= dollars(plan.min_rent) %>

                <% if plan.availability_url.present? %>
                  <br />
                  <%= reserve_link(plan, :class => 'floor-plan-reserve', :rel => 'external', 'data-track-event' => "Apartments,#{ga_escape(@community.title)},Reserve") %>
                <% end %>
              </p>

              <% if plan.actual_image.present? %>
                <%= floor_plan_image(plan, pinterest_button(request.url, image_path(plan.actual_image))) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'sidebar' %>
</div>
