<% render_meta(@community) %>
<% account = if @community.apartment?
      APP_CONFIG[:callsource]['apartment']
    elsif community.home?
      APP_CONFIG[:callsource]['home']
    end
    customer = @community.dnr_configuration.try(:customer_code)
%>

<div class="section page-title">
  <div class="content">
    <h2><%= @community.title %></h2>

    <%= link_to 'Find an Apartment', '/apartments/search', :class => 'go-back' %>
  </div>
</div>

<div class="section community-overview">
  <div class="content">
    <% if @community.slideshow.present? %>
      <div class="banner owl-carousel <%= 'scavenger-hunt' if @code.present? %>">
        <% @community.slideshow.slides.each do |thumbnail| %>
          <%= image_tag thumbnail.image.url(:slide) %>
        <% end %>
      </div>
    <% end %>

    <p class="address"><%= link_to @community.address, mobile_map_url(@community) %></p>

    <ul class="contact contact-list">
      <%= if_present?(@community.mobile_phone_number) do |phone_number| %>
        <li>
          <%= link_to_phone_number phone_number, :class => 'btn call-us phonenumber phone-number dnr-replace tel-link', :'data-account' => "#{account}", :'data-customer' => "#{customer}" do %>
            <span>Call Us</span><span class="display_phonenumber"><%= format_phone_number(phone_number) %></span>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to mobile_map_url(@community), :class => 'btn directions' do %>
          <span>Directions</span> <%= @community.city %>
        <% end %>
      </li>

      <%- if @community.show_lead_2_lease? || @community.under_construction? -%>
        <li>
          <%= link_to apartment_community_contact_path(@community), :class => 'btn request-info' do %>
            <span>Request Info</span>
          <% end %>
        </li>
      <%- end -%>

      <li>
        <%= link_to schedule_tour_community_path(@community), :class => 'btn schedule-tour' do %>
          <span>Schedule a Tour</span>
        <% end %>
      </li>

      <% if @community.availability_url.present? %>
        <li>
          <%= link_to @community.availability_url,
            :class             => 'btn availability fl-record-click',
            'data-cat'         => 'va01',
            'data-prop'        => @community.title,
            'data-track-event' => "Apartments,#{ga_escape(@community.title)},Availability" do %>
              <span>Check Availability</span>
          <% end %>
        </li>
      <% end %>

      <% if @community.video_url.present? %>
        <li>
          <%= link_to @community.video_url, :class => 'btn watch-video' do %>
            <span>Watch Video</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="section community-info">
  <div class="content">
    <h3>Community Info</h3>

    <ul>
      <%- if @community.features_page? -%>
        <li>
        <%= link_to 'Features & Amenities', apartment_community_features_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <%- if @community.photos.any? || @community.tours360s.any? -%>
        <li>
        <%= link_to 'Photos', apartment_community_media_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <%- if @community.floor_plans.any? -%>
        <li>
        <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <%- if @community.neighborhood_page? -%>
        <li>
        <%= link_to 'Neighborhood', apartment_community_neighborhood_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <%- if @community.contact_page? -%>
        <li>
          <%= link_to 'Office Hours', apartment_community_office_hours_path(@community), :class => 'btn' %>
        </li>
      <%- end -%>
      <% if @community.has_active_promo? %>
        <li>
          <%= link_to 'Specials', apartment_community_specials_path(@community), :class => 'btn' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
