<% content_for :special_nav do %>
  <ul id="special-nav">
    <li>
      <a href="#" class="find-apartment-link">Lease an Apartment</a>
      <div id="find-apartment-form" class="popup">
        <% form_for :search, :url => apartment_communities_path, :html => {:method => :get} do |form| -%>
          <div class="left-col">
            <p class="field">
              <select multiple="multiple" name="location[]">
                <optgroup label="Choose Location">
                  <% State.all.each do |state| -%>
                    <option value="<%= state.id %>"><%= state.name %></option>
                  <% end -%>
                </optgroup>
              </select>
            </p>
          </div>

          <div class="right-col">
            <p class="field">
              <%= form.select :with_min_price, [['Choose Minimum Price...', '']] + search_prices %>
            </p>

            <p class="field">
              <%= form.select :with_max_price, [['Choose Maximum Price...', '']] + search_prices %>
            </p>

            <p class="advanced-search">
              <%= link_to "Advanced Search", apartment_communities_path %>
            </p>

            <p class="submit">
              <button type="submit">Search</button>
            </p>
          </div>
        <% end -%>
      </div>
    </li>
    <li>
      <%= link_to "Buy a Home", home_communities_path %>
    </li>
  </ul>
<% end %>
