<div class="section main">
  <div class="content">
    <div class="intro">
      <% if @home_page.mobile_title? %>
        <h2><%= @home_page.mobile_title %></h2>
      <% end %>

      <% if @home_page.mobile_banner_image? %>
        <%= image_tag @home_page.mobile_banner_image.url, :width => 280, :height => 85 %>
      <% end %>

      <% if @home_page.mobile_body? %>
        <%= @home_page.mobile_body.try(:html_safe) %>
      <% end %>
    </div>

    <ul class="starting-points">
      <li>
        <%= link_to 'Lease an Apartment', '/apartments', :class => 'btn apartments' %>
      </li>
      <li>
        <%= link_to 'Buy a Home', home_communities_path, :class => 'btn new-homes' %>
      </li>
      <li>
        <%= link_to 'About Us', '/about-us', :class => 'btn about-us' %>
      </li>
      <li>
        <%= link_to 'Our Services', '/services', :class => 'btn about-us' %>
      </li>
    </ul>
  </div>
</div>
