<% content_for :body_class do %>home<% end %>
<% render_meta(@home_page) %>

<% content_for :meta do %>
  <meta property="fb:admins" content="524378309" />
<% end %>

<%= render :partial => 'special_nav' %>

<% if @home_page %>
  <div id="masthead">
    <% if @home_page.slides.any? %>
      <div id="masthead-fg">
        <div class="container">
          <div id="slideshow">
            <div class="header">
              <ul class="slideshow-navigation">
                <li>
                  <a class="prev" href="#">Previous</a>
                </li>
                <li>
                  <a class="next" href="#">Next</a>
                </li>
              </ul>
            </div>

            <ul class="slides">
              <% @home_page.slides.each do |slide| %>
                <li class="slide">
                  <% if slide.link_url.present? %>
                    <%= link_to image_tag(slide.image.url), slide.link_url %>
                  <% else %>
                    <%= image_tag slide.image.url %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="main-content">
    <div class="container">

      <div id="content" class="row">
        <% if @home_page.carousel.present? && @home_page.carousel.panels.any? %>
          <%= render 'pages/carousel', :carousel => @home_page.carousel %>
        <% end %>

        <div class="row">
          <div id="welcome" class="col">
            <%= @home_page.body.try(:html_safe) %>
          </div>

          <% if latest_awards.any? %>
            <div class="latest-award article">
              <h3><%= link_to 'Awards', awards_path(@section) %></h3>

              <% latest_awards.each do |award| %>
                <div class="row">
                  <% if award.image? %>
                    <p class="figure">
                      <%= link_to image_tag(award.image.url(:thumb)), award_path(@section, award) %>
                    </p>
                  <% end %>

                  <div class="section">
                    <h4><%= link_to award.title, award_path(@section, award) %></h4>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="row">
          <% latest_news.if_present? do |post| %>
            <div class="latest-news article">
              <h3><%= link_to 'Featured News', news_posts_path(@section) %></h3>

              <% link_to section_news_post_path(@section, post), :class => 'post-link' do %>
                <%= image_tag post.home_page_image.url, :width => '380', :height => '150' %>

                <span class="title"><%= post.title%></span>
              <% end %>
            </div>
          <% end %>

          <% @latest_blog_post.if_present? do |post| %>
            <div class="bozzuto-blog article">
              <h3><%= link_to post.header_title.presence || 'Bozzuto Blog', post.header_url %></h3>

              <% link_to post.url, :class => 'post-link', :rel => 'external' do %>
                <%= image_tag post.image.url, :width => 380, :height => 150 %>

                <span class="title"><%= post.title %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>


<div id="social">
  <div class="container">
    <h2>Bozzuto Social</h2>

    <div class="facebook">
      <div class="fb-like" data-href="http://www.facebook.com/TheBozzutoGroup" data-send="true" data-width="340" data-show-faces="true"></div>
    </div>

    <div class="twitter">
      <a href="https://twitter.com/TheBozzutoGroup" class="twitter-follow-button" data-show-count="true">Follow @TheBozzutoGroup</a>
      <script type="text/javascript" charset="utf-8">
        window.twttr = (function (d,s,id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
          js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
      </script>
    </div>

    <div class="rss">
      <p><%= link_to 'Get RSS Feed', section_news_posts_path('about', :format => :rss), 'data-track-social-delay' => 'RSS,Get Feed,{current url}' %></p>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
