<% content_for :body_class do %>home<% end %>
<% render_meta(@home_page) %>

<%= render :partial => 'special_nav' %>

<div id="masthead">
  <% if @home_page.slides.any? %>
    <div id="masthead-fg">
      <div class="container">
        <div id="slideshow">
          <div class="header">
            <ul class="slideshow-navigation">
              <li>
                <a class="prev" href="#">Previous</a>
              </li>
              <li>
                <a class="next" href="#">Next</a>
              </li>
            </ul>
          </div>

          <ul class="slides">
            <% @home_page.slides.each do |slide| %>
              <li class="slide"><%= image_tag slide.image.url %></li> 
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="main-content">
  <div class="container">

    <div id="content" class="row">
      <div id="welcome" class="col">
        <%= @home_page.body.try(:html_safe) %>
      </div>

      <div class="social-updates col">
        <p class="facebook">
          <a href="#">
            Follow us on Facebook
          </a>          
        </p>
        
        <div class="twitter-update" <%= twitter_data_attr('TheBozzutoGroup') %>></div>
      </div>

      <% if @featured_property.present? %>
        <div id="featured-property" class="col">
          <h2>
            <%= link_to 'Featured Property', property_path(@featured_property) %>
          </h2>

          <% if @featured_property.mini_slideshow.present? %>
            <%= render :partial => 'properties/mini_slideshow', :locals => { :slideshow => @featured_property.mini_slideshow } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div id="news">
  <div class="container">
    <h2>Latest Bozzuto News</h2>

    <% if @news_post.present? %>
      <div class="col">
        <h3><%= @latest_news.published_at.to_formatted_s(:home_news) %></h3>
        <p><%= @latest_news.title %></p>
      </div>

      <ul>
        <li>
          <%= link_to 'Read More', section_news_post_path('about', @latest_news) %>
        </li>
        <li class="rss">
          <%= link_to 'Get RSS Feed', section_news_posts_path('about', :format => :rss) %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
