<% if Rails.env.production? %>
  <% content_for :top_of_head do %>
    <!-- Google Analytics Content Experiment code -->
      <script>function utmx_section(){}function utmx(){}(function(){var k='37780445-1',d=document,l=d.location,c=d.cookie; if(l.search.indexOf('utm_expid='+k)>0)return; function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c. indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c. length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write( '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl': '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+ '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date(). valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+ '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})(); </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
  <% end %>
<% end %>

<% content_for :body_class do %>home<% end %>
<% render_meta(@home_page) %>

<% content_for :meta do %>
  <meta property="fb:admins" content="524378309" />
<% end %>

<% content_for :javascript do %>
  <%= mediaplex_rocket_fuel_tracking_pixel %>
<% end %>

<%= render :partial => 'special_nav' %>

<% if @home_page %>
  <div id="masthead">
    <% if @home_page.slides.any? %>
      <div id="masthead-fg">
        <div class="container">
          <div id="slideshow">
            <div class="header">
              <ul class="slideshow-navigation">
                <li>
                  <a class="prev" href="#">Previous</a>
                </li>
                <li>
                  <a class="next" href="#">Next</a>
                </li>
              </ul>
            </div>

            <ul class="slides">
              <% @home_page.slides.each do |slide| %>
                <li class="slide">
                  <% if slide.link_url.present? %>
                    <%= link_to image_tag(slide.image.url), slide.link_url %>
                  <% else %>
                    <%= image_tag slide.image.url %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="main-content">
    <div class="container">

      <div id="content" class="row">
        <% if @home_page.carousel.present? && @home_page.carousel.panels.any? %>
          <%= render 'pages/carousel', :carousel => @home_page.carousel %>
        <% end %>

        <div class="row">
          <div id="welcome">
            <%= @home_page.body.try(:html_safe) %>
          </div>
        </div>

        <div class="row -centered">
          <%= if_present?(featured_news) do |post| %>
            <div class="latest-news article">
              <h3><%= link_to 'Featured News', news_posts_path(@section) %></h3>

              <%= link_to featured_news_url, :class => 'post-link' do %>
                <%= image_tag post.home_page_image.url, :width => '380', :height => '150' %>

                <span class="title"><%= post.title%></span>
              <% end %>
            </div>
          <% end %>

          <%= if_present?(@latest_blog_post) do |post| %>
            <div class="bozzuto-blog article">
              <h3><%= link_to post.header_title.presence || 'Bozzuto Blog', post.header_url %></h3>

              <%= link_to post.url, :class => 'post-link', :rel => 'external' do %>
                <%= image_tag post.image.url, :width => 380, :height => 150 %>

                <span class="title"><%= post.title %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
