<% if Rails.env.production? %>
  <% content_for :top_of_head do %>
    <!-- Hotjar Tracking Code -->
    <script>
      (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:359444,hjsv:5}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code -->
  <% end %>
<% end %>

<% content_for :body_class do %>home<% end %>
<% render_meta(@home_page) %>

<% content_for :meta do %>
  <meta name="robots" content="noindex">
  <meta property="fb:admins" content="524378309">
  <link rel="canonical" href="https://www.bozzuto.com/">
<% end %>

<% neighborhoods_assets %>

<%= render :partial => 'special_nav' %>

<% if @home_page %>
  <div id="masthead">
    <% if @home_page.slides.any? %>
      <div id="masthead-fg">
        <div class="container">
          <div id="slideshow">
            <ul class="slides -featured">
              <% @home_page.slides.each do |slide| %>
                <li class="slide">
                  <div class="slide__background-image" style="background-image: url(<%= slide.image.url %>)"></div>
                  <div class="featured-slide-cta">
                    <% if slide.description.present? && slide.link_url.present? %>
                      <p>
                        <%= link_to slide.description, slide.link_url, class: 'text -serif' %>
                      </p>
                    <% elsif slide.description.present? && !slide.link_url.present? %>
                        <p class="text -serif"><%= slide.description %></p>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="main-content">
    <div class="home-welcome">
      <div class="container">
        <h2 class="home-welcome-heading heading -huge -condensed -uppercase -narrow"><%= @home_page.headline %></h2>
        <div class="home-welcome-text">
          <%= @home_page.body.try(:html_safe) %>
        </div>
      </div>
    </div>
    <section class="home-featured container nh-container">
      <div class="home-featured-section">
        <p class="home-featured-section-subtitle heading -condensed -narrow">Where Are You Moving?</p>
        <h2 class="home-featured-section-title heading -serif"><%= @home_page.apartment_subheadline %></h2>
        <div class="nh-tiles row">
          <% metros.in_groups_of(3, false).each do |group| %>
            <div class="row">
              <% group.each do |metro| %>
                <div class="nh-tile">
                  <%= link_to metro_path(metro), :class => 'nh-listing-image' do %>
                    <div class="nh-tile-title">
                      <p><%= metro %></p>
                    </div>
                    <%= image_tag metro.listing_image.url, :width => 300, :height => 234 %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if @home_page.home_section_slides.any? %>
        <div class="home-featured-section">
          <p class="home-featured-section-subtitle heading -condensed -narrow">Putting Down Roots?</p>
          <h2 class="home-featured-section-title heading -serif"><%= @home_page.home_subheadline %></h2>
          <div class="nh-tiles row" id="slideshow">
            <ul class="slides">
              <% @home_page.home_section_slides.each do |slide| %>
                <li class="slide nh-tile -full">
                  <%= link_to slide.link_url, class: 'nh-listing-image' do %>
                    <div class="nh-tile-title">
                      <p><%= slide.text %></p>
                    </div>
                    <%= image_tag slide.image.url, width: 1100, height: 375 %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </section>
  </div>
<% end %>

<%= render :partial => 'shared/facebook' %>
