<div class="section">
  <h4><%= link_to 'Work With Bozzuto', contact_path_with_topic %></h4>

  <p>
    Interested in the work we did on this project? We’d love to hear more from you. 
    <%= link_to 'Contact Us', contact_path_with_topic %> about working with Bozzuto.
  </p>
</div>

<% if @project.mappable? %>
  <% content_for :javascript do %>
    <%= google_maps_javascript_tag %>

    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {
          if (GBrowserIsCompatible()) {
            var point = new GLatLng(<%= @project.latitude %>, <%= @project.longitude %>);
            var map = new GMap2(document.getElementById("map-canvas"));
            map.setCenter(point, 13);
            map.setUIToDefault();
            map.addOverlay(new GMarker(point));
          }
        });
      })(jQuery);
    </script>
  <% end %>

  <div class="map">
    <div id="map-canvas"></div>
    <p class="call-to-action">
      <%= link_to 'View Larger', '#', :id => 'map-lightbox' %>
    </p>
  </div>
<% end %>

<div class="similar-projects">
  <h4>
    <a href="#">Similar Projects</a>
  </h4>
  <ul>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
    <li>
      <p class="photo">
        <a href="#"><img src="/images/project-adtl.jpg" alt="FPO" /></a>
      </p>
      <p class="date">
        MAR. 2010
      </p>
      <p>
        <a href="#">Meropointe, Wheaton, MD</a>
      </p>
      <p>
        275 apartment homes with 20,000 sf ground floor retail space.
      </p>
    </li>
  </ul>
  <p>
    <a href="#">View More</a>
  </p>
</div>
