<div class="section">
  <h4><%= link_to 'Work With Bozzuto', contact_path_with_topic %></h4>

  <p>
    Interested in the work we did on this project? We’d love to hear more from you. 
    <%= link_to 'Contact Us', contact_path_with_topic %> about working with Bozzuto.
  </p>
</div>

<% if @project.mappable? %>
  <% content_for :javascript do %>
    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {
          if (GBrowserIsCompatible()) {
            var point = new GLatLng(<%= @project.latitude %>, <%= @project.longitude %>);
            var map = new GMap2(document.getElementById("map-canvas"));
            map.setCenter(point, 13);
            map.setUIToDefault();
            map.addOverlay(new GMarker(point));

            $('<div id="map-large">').appendTo("body").css({width: '80%', height: '80%'}).hide();
            var largeMap = new GMap2(document.getElementById("map-large"));
            largeMap.setCenter(point, 13);
            largeMap.setUIToDefault();
            var marker = new GMarker(point);
            largeMap.addOverlay(marker);
            GEvent.addListener(marker, 'click', function() {
              marker.openInfoWindowHtml("<h4><%= @project.title %></h4>");
            });

            $("#map-lightbox").click(function (e) {
              e.preventDefault();
              $("#map-large").lightbox_me({
                onLoad: function () {
                  largeMap.checkResize();
                  largeMap.setCenter(point, 13);
                }
              });
            });            
          }
        });
      })(jQuery);
    </script>
  <% end %>

  <div class="map">
    <div id="map-canvas"></div>
    <p class="call-to-action">
      <%= link_to 'View Larger', "#", :id => 'map-lightbox' %>
    </p>
  </div>
<% end %>

<% if @related_projects.any? %>
  <div class="similar-projects">
    <h4><%= link_to 'Similar Projects', projects_path(@section) %></h4>
    <ul>
      <% @related_projects.each do |project| %>
        <li>
          <% if project.listing_image? %>
            <p class="photo">
              <%= link_to image_tag(project.listing_image.url(:rect)), project_path(@section, project) %>
            </p>
          <% end %>

          <% if project.completion_date.present? %>
            <p class="date">
              <%= project.completion_date.to_formatted_s(:related_project).upcase %>
            </p>
          <% end %>

          <p>
            <% link_to project_path(@section, project) do %>
              <%= project.short_title || project.title %>, <%= project.city %>
            <% end %>
          </p>
          <% if project.listing_title.present? %>
            <p><%= project.listing_title %></p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <p><%= link_to 'View More', projects_path(@section) %></p>
  </div>
<% end %>
