<% content_for :body_class do %>services project property<% end %>

<% breadcrumb_item(link_to 'Projects', projects_path(@section)) %>
<% breadcrumb_item(@project.title) %>

<% if @project.mappable? %>
  <% content_for :javascript do %>
    <%= google_maps_javascript_tag %>

    <script type="text/javascript">
      (function($) {
        $(document).ready(function() {
          if (GBrowserIsCompatible()) {
            var point = new GLatLng(<%= @project.latitude %>, <%= @project.longitude %>);
            var map = new GMap2(document.getElementById("map-canvas"));
            map.setCenter(point, 13);
            map.setUIToDefault();
            map.addOverlay(new GMarker(point));
          }
        });
      })(jQuery);
    </script>
  <% end %>
<% end %>


<h2>Lorem Bozzuto Construction Ipsum</h2>

<div class="intro">
  <%= @project.overview_text.html_safe %>
</div>


<% unless @project.data_points.empty? %>
  <ul class="data">
    <% @project.data_points.each do |point| %>
      <li>
        <h3><%= point.name %></h3>
        <p><%= point.data %></p>
      </li>
    <% end %>
  </ul>
<% end %>


<h2>Project Updates</h2>

<% unless @updates.empty? %>
  <ul class="project-updates">
    <% @updates.each do |update| %>
      <li>
        <h3><%= update.published_at.to_formatted_s(:project_update) %></h3>
        <%= update.body.html_safe %>
      </li>
    <% end %>
  </ul>
<% end%>

<%= will_paginate(@updates) %>
