<% content_for :body_class do %>services project property<% end %>
<% render_meta(@project) %>

<% breadcrumb_item(link_to 'Our Work', projects_path(@section)) %>
<% breadcrumb_item(@project.title) %>


<h2><%= @project.page_header.presence || @section.title %></h2>

<div class="intro">
  <%= @project.overview_text.try(:html_safe) %>
</div>


<% unless @project.data_points.empty? %>
  <ul class="data">
    <% @project.data_points.each do |point| %>
      <li>
        <h3><%= point.name %></h3>
        <p><%= point.data %></p>
      </li>
    <% end %>
  </ul>
<% end %>


<% unless @updates.empty? %>
  <h2>Project Updates</h2>

  <ul class="project-updates">
    <%= render :partial => 'projects/update', :collection => @updates %>
  </ul>

  <%= will_paginate(@updates) %>
<% end%>

