<% content_for :javascript do %>
  <%= double_click_community_floor_plans_script(community) %>
<% end %>

<!-- Floor Plans -->
<div class="cty-section">
  <div class="cty-section-header">
    <h3 class="hdr-narrow">Floor Plans</h3>
  </div>

  <div class="cty-section-content">
    <% floor_plan_presenter(community).groups.each do |group| %>
      <% if group.has_plans? %>
        <h4 class="cty-floor-plans-header">
          <%= group.name.pluralize %>
        </h4>

        <% group.plans.in_groups_of(4, false).each do |plans| %>
          <ul class="cty-floor-plans-list">
            <% plans.each do |plan| %>
              <li class="cty-floor-plan">
                <h5><%= plan.name %></h5>

                <p>
                  <% if plan.min_square_feet.present? %>
                    <span class="cty-floor-plan-size"><%= square_feet(plan.min_square_feet) %></span>
                  <% end %>
                  |
                  <% if plan.min_rent.present? %>
                    <span class="cty-floor-plan-price"><%= dollars(plan.min_rent) %></span>
                  <% end %>
                </p>

                <% if plan.availability_url.present? %>
                  <%= link_to 'Reserve', plan.availability_url, :class => 'btn btn-small btn-black' %>
                <% end %>

                <% if plan.actual_image.present? %>
                  <% link_to plan.actual_image, :class => 'cty-floor-plan-image-link' do %>
                    <%= image_tag plan.actual_thumb, :width => 115 %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
