<!-- Intro Content -->
<div class="cty-intro">
  <div class="grid-row">
    <div class="grid-12">
      <h4 class="cty-intro-headline">
        <%= community.title %>
      </h4>

      <p class="cty-intro-address">
        <%= community.address('<br />').html_safe %>
        <% community.zip_code.if_present? do |zip| %>
          <%= zip %>
        <% end %>
        <br />

        <strong><%= format_phone_number(community.phone_number) %></strong>
      </p>

      <p class="cty-intro-links">
        <% links = [] %>

        <% if community.website_url.present? %>
          <% links << link_to('Visit the Website', website_url(community.website_url),
                              { :rel => 'external' }.merge(double_click_data_attrs(community.title, 'visit764'))) %>
        <% end %>

        <% if community.resident_link_text.present? && community.resident_link_url.present? %>
          <% links << link_to(community.resident_link_text, website_url(community.resident_link_url), :rel => 'external') %>
        <% end %>

        <%= links.join(' | ').html_safe %>
      </p>
    </div>

    <% if community.contact_page? || community.show_lead_2_lease || community.under_construction? %>
      <div class="grid-offset-1 grid-7">
        <%= link_to 'Request Info', apartment_community_contact_path(community), :class => 'btn btn-large-blue' %>
      </div>
    <% end %>
  </div>
</div>
