<!-- Key Features -->
<div class="cty-features">
  <div class="grid-row">
    <div class="grid-9 grid-offset-r-1">
      <h4 class="cty-features-headline">Key Features</h4>

      <%= property_bullets %>
    </div>

    <% @community.videos.if_present? do |videos| %>
      <div class="grid-6">
        <h4 class="cty-features-headline">Watch the Videos</h4>

        <div class="cty-features-videos">
          <% videos.take(2).each do |video| %>
            <% link_to video.url, :class => 'video' do %>
              <%= image_tag video.image.url(:thumb) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% community.property_features.if_present? do |features| %>
      <div class="grid-4">
        <ul>
          <% features.each do |feature| %>
            <li><%= feature.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<!-- Page Links -->
<p class="cty-page-links">
  <%= link_to('Apartments Overview', community, :class => 'current') %>

  <% if community.features_page? %>
    | <%= link_to 'Features & Amenities', apartment_community_features_path(community) %>
  <% end %>

  <% if community.floor_plans.present? %>
    | <%= link_to 'Floor Plans', apartment_community_floor_plan_groups_path(community) %>
  <% end %>

  <% if community.contact_page? || community.show_lead_2_lease || community.under_construction? %>
    | <%= link_to 'Request Information', apartment_community_contact_path(community) %>
  <% end %>
</p>
