<!-- Apartments Overview -->
<div class="cty-section">
  <div class="cty-section-header">
    <h3 class="hdr-narrow">Apartments Overview</h3>
  </div>

  <div class="cty-section-content">
    <% if floor_plan_presenter(community).has_plans? %>
      <table class="cty-table">
        <tr>
          <th class="cty-table-bedrooms" scope="col">
            Bedrooms
          </th>
          <th class="cty-table-floor-plans" scope="col">
            Floor Plans
          </th>
          <th class="cty-table-size" scope="col">
            Size
          </th>
          <th class="cty-table-price" scope="col">
            Amount
          </th>
          <th class="cty-table-avail" scope="col"></th>
        </tr>

        <% floor_plan_presenter(community).groups.each do |group| %>
          <% if group.has_plans? %>
            <tr>
              <td class="cty-table-bedrooms">
                <% link_to apartment_community_floor_plan_groups_path(community, :anchor => dom_id(group)) do %>
                  <%= group.name.pluralize %>
                <% end %>
              </td>
              <td class="cty-table-floor-plans">
                <%= pluralize(group.plans.count, 'Floor Plan') %>
              </td>
              <td class="cty-table-size">
                <%= square_feet(group.largest_square_footage) %>
              </td>
              <td class="cty-table-price">
                <% group.cheapest_rent.if_present? do |price| %>
                  From <%= dollars(price) %>
                <% end %>
              </td>
              <td class="cty-table-avail">
                <%= link_to 'Check Availability', (community.availability_url.presence || apartment_community_contact_path(community)) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>

    <% if community.overview_text.present? %>
      <%= community.overview_text.html_safe %>
    <% end %>
  </div>
</div>
