<% if recently_viewed.present? -%>
  <!-- Recently Viewed Communities -->
  <div class="cty-recent">
    <h4 class="cty-recent-heading">
      Recently Viewed Communities
    </h4>

    <% recently_viewed.in_groups_of(4, false) do |communities| %>
      <div class="grid-row">
        <% communities.each do |community| %>
          <div class="cty-recent-item">
            <%= link_to community do %>
              <%= image_tag community.listing_image.url(:square), :width => 55, :height => 55 %>

              <strong><%= community.title %></strong><br />

              <%= community.address('<br />').html_safe %>
              <br />
              <%= format_phone_number(community.phone_number) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<!-- Bottom Text -->
<div class="cty-footer">
  <h4 class="hdr-tertiary">Bozzuto Brings You Home</h4>

  <p>
    It&rsquo;s simple. We put our residents first. We work hard each and every day to ensure our resident&rsquo;s complete satisfaction and to make sure our communities are places people are proud to call home. That genuine concern for people who choose to live in a Bozzuto community is a cornerstone of our company.
  </p>

  <p>
    With more than 130 communities of all different types in eight states from Virginia to Massachusetts, you're sure to find a Bozzuto apartment home that&rsquo;s just right for you.
  </p>

  <p>
    When you choose a Bozzuto community, you&rsquo;re choosing the peace of mind that comes from leasing with a recognized leader in apartment management. In addition to winning myriad local awards, we have been named Property Management Company of the Year twice in the past ten years by the National Association of Home Builders and have been named one of the Best Places to Work in the DC region for the past give consecutive years.
  </p>
</div>
