<div class="cty-sidebar">
  <div class="grid-row">
    <div class="cty-page-actions">
      <% black_hole do %>
        <% link_to '#', :class => 'cty-page-action-print' do %>
          <%= icon('c') %> Print
        <% end %>
      <% end %>

      <% link_to '#', :class => 'cty-page-action-phone' do %>
        <%= icon('d') %> Send to<br />my phone
      <% end %>
    </div>

    <div class="cty-social-actions">
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_twitter" tw:text="Check out the brand new @CrosswindsATC Luxury Apartments in #Annapolis! http://www.bozzuto.com/apartments/communities/286-crosswinds-at-annapolis-towne-centre/rentnow"></a>
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_google_plusone_share"></a>
        <a class="addthis_button_email"></a>
      </div>
      <% content_for :javascript do %>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520177a744fb168f"></script>
      <% end %>
    </div>
  </div>

  <div class="cty-map">
    <div id="map-canvas"></div>
    <div id="map-side-bar" style="display:none;">
      <div class="map-location" <%= jmapping(community) %>>
        <div class="info-box">
          <div class="map-point">
            <h4 class="hdr-tertiary"><%= h community.title %></h4>

            <p><%= raw(community.address('<br />')) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cty-map-actions">
    <div class="grid-row">
      <div class="left-col">
        <%= link_to 'Larger Map/Directions', directions_url(community.address), :rel => 'external' %>
        <%= link_to 'Walk Score&trade;'.html_safe, '#', :class => 'cty-walkscore-action' %>
      </div>

      <div class="right-col">
        <%= link_to 'Points of Interest', '#', :id => 'map-lightbox' %>
        <%= render 'communities/sidebar_interactive_map' %>
      </div>
    </div>
  </div>
</div>


<div class="cty-sidebar cty-get-info">
  <h4 class="cty-sidebar-heading hdr-narrow">
    Request Information on this Community
  </h4>

  <div class="cty-sidebar-content">
    <% form_for :submission, double_click_data_attrs(community.title, 'short170').merge(:url => [community, :contact]) do |f| %>
      <p class="in-container">
        <%= f.label :email, 'Email', :class => 'in-label' %>
        <%= f.text_field :email, :class => 'in-text' %>
      </p>

      <p>
        <button type="submit" class="btn btn-small btn-gray">Submit</button>

        <% link_to '/pages/privacy-policy' do %>
          <%= icon('b') %> Privacy Policy
        <% end %>
      </p>
    <% end %>
  </div>
</div>


<% if community.nearby_communities.any? %>
  <div class="cty-sidebar cty-nearby">
    <h4 class="cty-sidebar-heading hdr-narrow">
      Nearby Apartment Communities
    </h4>

    <div class="cty-sidebar-content">
      <ul>
        <% community.nearby_communities.each do |community| %>
          <li><%= link_to community.title, community %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<% if community.has_local_info? %>
  <div class="cty-sidebar">
    <h4 class="cty-sidebar-heading hdr-narrow">
      Local Info
    </h4>

    <div class="cty-sidebar-content">
      <ul>
        <% community.local_info.take(5).each do |info| %>
          <li class="cty-local-info-item">
            <h5 class="cty-local-info-heading">
              <%= link_to info.title.gsub(/on Yelp$/, ''), info.url %>
            </h5>

            <p class="cty-local-info-date">
              <%= info.published_at.to_formatted_s(:month_day_year) %>
            </p>

            <p class="cty-local-info-summary">
              <%= truncate_html(info.description.html_safe, :length => 75) %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<% content_for :end_of_body do %>
  <!-- Send to Phone modal -->
  <div class="cty-send-to-phone-modal modal modal-padding">
    <h4 class="hdr-tertiary">Send To My Phone</h4>

    <% form_tag [community, :sms_message], :class => (flash[:send_to_phone_errors] ? 'errors' : nil) do %>
      <p class="in-container">
        <label for="phone_number" class="in-label">
          Enter your phone number <%= community.short_name %> info
        </label>

        <%= text_field_tag 'phone_number', nil, :class => 'in-text' %>
      </p>

      <p class="in-submit">
        <button type="submit" class="btn btn-small btn-gray">Send</button>

        <em>Standard messaging rates apply</em>
      </p>
    <% end %>
  </div>


  <!-- Walkscore modal -->
  <div class="cty-walkscore-modal modal modal-padding">
    <%= walkscore_map_script(community, :width => 500, :height => 400) %>
  </div>
<% end %>
