<div class="cty-slideshow">
  <h2 class="cty-slideshow-title"><%= community.short_name %></h2>

  <div class="cty-slideshow-images">
    <% community.slideshow.slides.each_with_index do |slide, i| %>
      <%= image_tag slide.image.url, :style => ("display: none;" unless i == 0) %>
    <% end %>
  </div>

  <div class="cty-slideshow-track">
    <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-prev' %>
    <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-next' %>

    <div class="cty-slideshow-thumbs">
      <div class="cty-slideshow-thumbs-inner">
        <% community.slideshow.slides.each do |slide| %>
          <%= link_to image_tag(slide.image.url(:thumb)), '#' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
