<div class="cty-slideshow cty-slideshow-big">
  <h2 class="cty-slideshow-title"><%= community.short_name %></h2>

  <div class="cty-slideshow-shadow"></div>

  <div class="cty-slideshow-images">
    <% 1.upto(14).each do |i| %>
      <%= image_tag "redesign/crosswinds/crosswinds-#{i}.jpg", :style => ("display: none;" unless i == 1) %>
    <% end %>
  </div>

  <div class="cty-slideshow-track">
    <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-prev' %>
    <%= link_to '', '#', :class => 'cty-slideshow-arr cty-slideshow-next' %>

    <div class="cty-slideshow-thumbs">
      <div class="cty-slideshow-thumbs-inner">
        <% 1.upto(14).each do |i| %>
          <%= link_to image_tag("redesign/crosswinds/crosswinds-#{i}-thumb.jpg"), '#' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
