<li>
  <div class="home">
    <% link_to home_community_home_floor_plans_path(community, home), :class => 'info' do %>
      <span class="name"><%= home.name %></span>
      <span class="pricing">
        <%= bedrooms(home) %> | <%= bathrooms(home) %>
        <%= "| #{home.square_feet} sq. ft." if home.square_feet %>
      </span>
    <% end %>

    <% @community.mobile_phone_number.if_present? do |phone_number| %>
      <%= link_to_phone_number(format_phone_number(phone_number), phone_number, :class => 'tel') %>
    <% end %>
  </div>
</li>
