<div class="nh-tile">
  <% link_to area_path(metro, area), :class => 'nh-listing-image' do %>
    <div class="nh-tile-title">
      <h2><%= area %></h2>
    </div>

    <%= image_tag area.listing_image.url, :width => 300, :height => 234 %>
  <% end %>

  <div class="nh-tile-content">
    <p class="nh-tile-community-count">
      <%= pluralize(area.apartment_communities_count, 'Apartment Community') %>
    </p>

    <% area.description.if_present? do |description| %>
      <p class="nh-tile-description">
        <%= description.html_safe %>
      </p>
    <% end %>

    <%= render 'areas/floor_plans', :thing => area %>
  </div>
</div>
