<% neighborhoods_assets %>
<% render_meta(area) %>

<%= render 'metros/breadcrumb',
           :title => area.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      area],
           :description => area.detail_description %>

<div id="main-content">
  <div class="nh-container">
    <%= render 'metros/banner_image', :place => area %>

    <%= render 'metros/map',
               :places      => area.shows_neighborhoods? ? neighborhoods : [],
               :communities => area.communities %>

    <div class="nh-tiles row">
      <% if area.shows_neighborhoods? %>

        <% neighborhoods.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |neighborhood| %>
              <%= render 'neighborhoods/listing', neighborhood.lineage_hash %>
            <% end %>
          </div>
        <% end %>

      <% else %>

        <% area.communities.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |community| %>
              <%= render 'neighborhoods/community_listing', :community => community %>
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

  <% if nearby_areas.any? %>
    <div class="nh-nearby nh-container">
      <h2 class="nh-nearby-title">You may also like&hellip;</h2>

      <%= render 'metros/map', :places => nearby_areas, :communities => nearby_communities %>

      <div class="nh-tiles row">
        <% nearby_areas.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |area| %>
              <%= render 'listing', area.lineage_hash %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
