<% content_for :javascript do %>
  <% if filterer.current_filter.try(:amenity) %>
    <%= double_click_amenities_filter_script(filterer.current_filter.amenity) %>
  <% else %>
    <%= double_click_neighborhood_view_script(area) %>
  <% end %>
<% end %>

<% neighborhoods_assets %>

<% render_meta(area) %>

<%= render 'metros/breadcrumb',
           :title => area.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      area],
           :description => area.detail_description %>

<div id="main-content">
  <div class="nh-container">
    <% if area.tier_1_community_slides.any? %>
      <%= render 'neighborhoods/slideshow', :place => area %>
    <% else %>
      <%= render 'metros/banner_image', :place => area %>
    <% end %>

    <% if area.shows_neighborhoods? %>
      <%= render 'neighborhoods', :area => area, :neighborhoods => neighborhoods %>
    <% else %>
      <%= render 'communities', :filterer => filterer %>
    <% end %>
  </div>

  <% if nearby_areas.any? %>
    <div class="nh-nearby nh-container">
      <h2 class="nh-nearby-title">You may also like&hellip;</h2>

      <%= render 'metros/map', :places => nearby_areas, :communities => nearby_communities %>

      <div class="nh-tiles row">
        <% nearby_areas.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |area| %>
              <%= render_neighborhoods_listing(area) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
