<% neighborhoods_assets %>
<% render_meta(area) %>

<%= render 'metros/breadcrumb',
           :title => area.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      area],
           :description => area.detail_description %>

<%= render 'metros/banner_image', :place => area %>

<%= render 'metros/map',
           :places      => area.shows_neighborhoods? ? neighborhoods : [],
           :communities => area.communities %>

<div id="main-content">
  <div class="container nh-container">
    <div class="nh-tiles row">
      <% if area.shows_neighborhoods? %>

        <% neighborhoods.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |neighborhood| %>
              <%= render 'neighborhoods/listing', :metro => metro, :area => area, :neighborhood => neighborhood %>
            <% end %>
          </div>
        <% end %>

      <% else %>

        <% area.communities.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |community| %>
              <%= render 'neighborhoods/community_listing', :community => community %>
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
