<% content_for :javascript do %>
  <% if filterer.current_filter.try(:amenity) %>
    <%= double_click_amenities_filter_script(filterer.current_filter.amenity) %>
  <% else %>
    <%= double_click_neighborhood_view_script(area) %>
  <% end %>
  <%= mediaplex_rocket_fuel_tracking_pixel %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2><%= area %></h2>

    <%= link_to metro, metro_path(metro), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <% if area.shows_neighborhoods? %>
    <div class="content pill-list">
      <ul>
        <% neighborhoods.each do |neighborhood| %>
          <%= render_neighborhoods_listing(neighborhood) %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="content property-list">
      <ul>
        <% area.communities.each do |community| %>
          <%= render 'apartment_communities/listing', :community => community %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% if nearby_areas.any? %>
  <div class="section">
    <div class="content pill-list">
      <h2 class="nh-nearby-title">You may also like&hellip;</h2>

      <ul>
        <% nearby_areas.each do |area| %>
          <%= render_neighborhoods_listing(area) %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
