<% content_for :body_class do %>community<% end %>

<%= render :partial => 'apartment_communities/breadcrumb' %>

<%= render :partial => 'apartment_communities/masthead' %>

<div id="main-content">
  <div class="container">
    <% @groups.each do |group| %>
      <div id="<%= dom_id(group) %>" class="floor-plan-group">
        <h2><%= group.name %></h2>

        <% group.floor_plans.in_groups_of(4, false) do |plans_group| %>
          <ul class="row">
            <% plans_group.each do |plan| %>
              <li class="floor-plan">
                <h4><%= plan.name %></h4>

                <p>
                  <%= square_feet(plan) %> |
                  <%= floor_plan_price(plan.min_rent) %><br />
                  <%= link_to 'Reserve', plan.availability_url %>
                </p>
                <% if plan.image.present? %>
                  <%= link_to image_tag(plan.image, :width => 160), plan.image %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

      </div>
    <% end %>

    <%= render :partial => 'apartment_communities/sub_content' %>
  </div>
</div>

<%= render :partial => 'apartment_communities/special_nav' %>
