<% content_for :body_class do %>search boss-search<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to 'Bozzuto', '/' %></li>
      <li>Search</li>
    </ul>
    <h1>Search Results for &ldquo;<%= @query %>&rdquo;</h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        &nbsp;
      </div>

      <div id="content" class="col">
        <% if @results.any? -%>
          <div class="header">
            <p>
              Showing <%= @search.start + 1 %>-<%= @search.start + @search.count %>
              of <%= @search.totalresults %>
              results
            </p>
          </div>

          <div class="results">
            <ul>
              <% @results.each do |result| -%>
                <li>
                  <h4><%= link_to raw(result.title), result.url %></h4>

                  <p><%= raw(result.abstract) %></p>
                </li>
              <% end -%>
            </ul>

            <div class="boss-pagination">
              <p>
                <%= paginate_search(@search) %>
              </p>
            </div>
          </div>
        <% else -%>
          <div class="results">
            <p>
              There were no results for the search term <strong><%= @query %></strong>.
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
