<% content_for :body_class do %>search boss-search<% end %>

<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to 'Bozzuto', '/' %></li>
      <li>Search</li>
    </ul>
    <h1>Search Results for &ldquo;<%= query %>&rdquo;</h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        &nbsp;
      </div>

      <div id="content" class="col">
        <% if search_results.any? -%>
          <div class="header">
            <p>
              Showing <%= search_results.first_result_num %>&ndash;<%= search_results.last_result_num %>
              of <%= number_with_delimiter(search_results.total_count) %> results
            </p>
          </div>

          <div class="results">
            <ul>
              <% search_results.each do |result| -%>
                <li>
                  <h4><%= link_to result.to_s, route_for_result(result) %></h4>

                  <%- if result.respond_to?(:description) -%>
                    <p><%== result.description %></p>
                  <%- end -%>
                </li>
              <% end -%>
            </ul>

            <div class="boss-pagination">
              <p><%= paginate search_results %></p>
            </div>
          </div>
        <% else -%>
          <div class="results">
            <p>
              There were no results for the search term <strong><%= query %></strong>.
            </p>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
