<% description ||= '' %>

<div id="breadcrumb">
  <div class="container wide">
    <ul>
      <li><%= link_to 'Apartments', '/apartments' %></li>
      <li><%= link_to_unless(request.path == metros_path, 'Find An Apartment', metros_path) %></li>

      <% if defined?(items) %>
        <% items.each do |item| %>
          <li><%= item.to_s.html_safe %></li>
        <% end %>
      <% end %>
    </ul>

    <h1 class="bc-title"><%= title %></h1>

    <% if description.present? %>
      <p class="bc-description"><%= description.html_safe %></p>
    <% end %>

    <div class="bc-add-this">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520177a744fb168f"></script>
      <!-- AddThis Button END -->
    </div>
  </div>
</div>
