<% if places.any? || memberships.any? %>
  <div class="nh-map container">
    <div class="nh-map-canvas"></div>

    <div class="nh-map-controls">
      <%= link_to 'Show All Communities On Map', '#', :class => 'nh-map-controls-show-all' %>

      <div class="nh-map-controls-legend">
        <% if memberships.any? %>
          <span class="nh-map-controls-legend-c">
            <%= image_tag '/images/neighborhoods/cty-marker.png', :width => 24, :height => 24 %>
            Community
          </span>
        <% end %>

        <% if places.any? %>
          <span class="nh-map-controls-legend-n">
            <%= image_tag '/images/neighborhoods/nh-marker.png', :width => 24, :height => 24 %>
            Neighborhood
          </span>
        <% end %>
      </div>
    </div>

    <div class="nh-map-data">
      <% places.each do |place| %>
        <div class="nh-map-location" <%= jmapping(place) %>></div>
      <% end %>

      <% memberships.each do |membership| %>
        <div class="nh-map-membership" <%= jmapping(membership) %>></div>
      <% end %>
    </div>
  </div>
<% end %>
