<% neighborhoods ||= [] %>
<% communities   ||= [] %>

<% if neighborhoods.any? || communities.any? %>
  <div class="nh-map container">
    <div class="nh-map-canvas"></div>

    <% if neighborhoods.any? && communities.any? %>
      <div class="nh-map-controls">
        <%= link_to 'Show All Communities On Map', '#', :class => 'nh-map-controls-show-all' %>

        <div class="nh-map-controls-legend">
          <span class="nh-map-controls-legend-cty">
            <%= image_tag '/images/neighborhoods/cty-marker.png', :width => 24, :height => 24 %>
            Community
          </span>

          <span class="nh-map-controls-legend-nh">
            <%= image_tag '/images/neighborhoods/nh-marker.png', :width => 24, :height => 24 %>
            Neighborhood
          </span>
        </div>
      </div>
    <% end %>

    <div class="nh-map-data">
      <% neighborhoods.each do |neighborhood| %>
        <div class="nh-map-neighborhood" <%= jmapping(neighborhood) %>>
          <div class="nh-map-info-window">
            <h2><%= neighborhood %></h2>
          </div>
        </div>
      <% end %>

      <% communities.each do |community| %>
        <div class="nh-map-community" <%= jmapping(community) %>>
          <div class="nh-map-info-window">
            <h2><%= community.title %></h2>

            <% if community.under_construction? %>
              <p class="nh-map-info-window-coming-soon">Coming Soon</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
