<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'metros', :media => 'screen' %>
<% end %>

<%= render 'breadcrumb', :title => 'Find An Apartment' %>

<div id="main-content">
  <div class="container">
    <div class="nh-tiles row">
      <% metros.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |metro| %>
            <%= render 'metros/listing', :metro => metro %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="nh-states">
      <% states.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |state| %>
            <div class="nh-state">
              <h3 class="nh-state-title"><%= state %></h3>

              <ul class="nh-arrow-list">
                <% state.neighborhoods.each do |neighborhood| %>
                  <li><%= link_to "#{neighborhood} (#{neighborhood.apartment_communities_count})", neighborhood_path(neighborhood.area.metro, neighborhood.area, neighborhood) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
