<% content_for :javascript do %>
  <%= double_click_neighborhood_view_script(metro) %>
  <%= mediaplex_rocket_fuel_tracking_pixel %>
<% end %>

<% neighborhoods_assets %>

<% render_meta(metro) %>

<%= render 'breadcrumb',
           :title       => metro.full_name,
           :items       => [metro],
           :description => metro.detail_description %>

<div id="main-content">
  <div class="nh-container">
    <%= render 'banner_image', :place => metro %>

    <%= render 'map', :places => areas, :communities => metro.communities %>

    <div class="nh-tiles row">
      <% areas.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |area| %>
            <%= render_neighborhoods_listing(area) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
