<div id="content" class="col">
  <div class="header">
    <ul>
      <li class="current">
        <%= link_to 'View as List', community_search_path(:search => params[:search]), :class => 'list' %>
      </li>
      <li>
        <%= link_to 'View on Map', map_community_search_path(:search => params[:search]), :class => 'map' %>
      </li>
    </ul>
    <p>
      <%= pluralize(@search.results.size, 'Apartment Community') %>
    </p>
  </div>

  <% if @search.no_results? %>
    <div id="no-results">
      <p>
        We&rsquo;re sorry, there aren&rsquo;t any properties matching those criteria.
        <%= link_to community_search_path do %>
          Click here to start a new search.
        <% end %>
      </p>
    </div>
  <% else %>
    <% if @search.showing_relevant_results? %>
      <div id="relevant-results">
        <p>
          There were no properties matching those criteria.
          However, we were able to identify some relevant properties close to your criteria.
        </p>
      </div>
    <% end %>

    <ul class="results">
      <% first = true %>

      <% @search.states.each do |state| %>
        <% communities = @search.results_with(state: state) %>

        <% unless geographic_filter && communities.count == 0 -%>
          <li class="<%= 'closed' unless first && communities.count > 0 %>">
            <% first = false -%>
            <div class="header">
              <h2><%= state.name %></h2>

              <p><%= pluralize communities.count, 'Apartment Community' %></p>
            </div>
            <ul class="location-filters">
              <li class="<%= 'open' if params[:search][:city_id_eq].present? %>">
                <div class="header">
                  <h3>Cities</h3>
                </div>
                <ul>
                  <% index = 0 -%>
                  <% state.cities.ordered_by_name.each do |city| %>
                    <% count = communities.select { |c| c.city_id == city.id }.count %>
                    <% if count > 0 -%>
                      <li class="<%= 'alt' if (index+1)%4 == 0 %>">
                        <%= link_to(raw("<strong>#{city.name}</strong> <em>#{count}</em>"), community_search_path(:search => params[:search].merge({:city_id_eq => city.id, :county_id_eq => nil}))) %>
                      </li>
                      <% index += 1 -%>
                    <% end -%>
                  <% end %>
                </ul>
              </li>
              <li class="<%= 'open' if params[:search][:county_id_eq].present? %>">
                <div class="header">
                  <h3>Counties</h3>
                </div>
                <ul>
                  <% index = 0 -%>
                  <% state.counties.ordered_by_name.each do |county| %>
                    <% count = communities.select { |c| c.county_id == county.id }.count %>
                    <% if count > 0 -%>
                      <li class="<%= 'alt' if (index+1)%4 == 0 %>">
                        <%= count > 0 ? link_to(raw("<strong>#{county.name}</strong> <em>#{count}</em>"), community_search_path(:search => params[:search].merge({:county_id_eq => county.id, :city_id_eq => nil}))) : raw("<span><strong>#{county.name}</strong> <em>#{count}</em></span>") %>
                      </li>
                      <% index += 1 -%>
                    <% end -%>
                  <% end %>
                </ul>
              </li>
            </ul>
            <div class="results">
              <ul>
                <%= render_apartments_listings(communities) %>
              </ul>
            </div>
          </li>
        <% end -%>
      <% end %>
    </ul>
  <% end %>
</div>
