<% content_for :body_class do %>search<% end %>


<% content_for :special_nav do %>
  <ul id="special-nav">
    <li class="search-results-action">
      <a href="#">Email these search results</a>

      <div class="popup">
        <%= form_for RecurringEmail.new, :url => email_search_results_url, :html => { :class => (flash[:search_results_errors] ? 'errors' : nil) } do |f| %>
          <p>
            <label>
              <strong>
                Enter your email address and we will send you the details and contact information for these properties.
              </strong>
            </label>
          </p>

          <p class="checkbox">
            <%= check_box_tag :bozzuto_buzz %>
            <%= label_tag :bozzuto_buzz, "Sign me up for Bozzuto's e-newsletter" %>
          </p>

          <p class="fields">
            <%= f.text_field :email_address, :type => :email %>
            <button type="submit">Send</button>
          </p>

          <div class="search-results-hidden-inputs">
            <% @search.result_ids.each do |id| %>
              <%= hidden_field_tag 'recurring_email[property_ids][]', id %>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
<% end %>


<div id="breadcrumb">
  <div class="container">
    <ul>
      <li><%= link_to 'Apartments', '/apartments' %></li>
      <% if geographic_filter -%>
        <li><%= link_to 'Search All Communities', community_search_path %></li>
        <li><%= geographic_filter.name %> <%= 'County' if geographic_filter.is_a?(County) %></li>
      <% else -%>
        <li>Search All Communities</li>
      <% end -%>
    </ul>
    <h1>
      Search All Communities
      <% if geographic_filter -%>
        in <%= geographic_filter.name %> <%= "County" if geographic_filter.is_a?(County) %>
      <% end -%>
    </h1>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row">
      <div id="sidebar" class="col">
        <h2>
          Search By
          <%= image_tag 'spinner.gif', :style => 'display: none', :id => 'spinner' %>
        </h2>
        <%= form_for @search.query, :url => community_search_path, :method => :get, :html => {:id => 'apartment-search-form'} do |f| %>
          <fieldset id="bedrooms" class="">
            <h3>Bedrooms</h3>
            <ul>
              <% apartment_floor_plan_groups.each do |fpg| %>
                <li>
                  <%= f.check_box :with_any_floor_plan_groups, {:name => 'search[with_any_floor_plan_groups][]', :id => fpg.name.tableize}, fpg.id.to_s, nil %>
                  <label for="<%= fpg.name.tableize %>"><%= fpg.name.pluralize %></label>
                </li>
              <% end %>
            </ul>
          </fieldset>

          <fieldset id="price" class="">
            <h3>Price</h3>
            <ul>
              <li>
                <%= f.select :with_min_price, [['Choose Minimum...', '']] + search_prices %>
              </li>
              <li>
                <%= f.select :with_max_price, [['Choose Maximum...', '']] + search_prices %>
              </li>
            </ul>
          </fieldset>

          <fieldset id="features_amenities" class="">
            <h3>Most Searched Features &amp; Amenities</h3>
            <ul>
              <% PropertyFeature.all(:conditions => {:show_on_search_page => true}).each do |feature| -%>
                <li>
                  <%= f.check_box :with_any_property_features, {:name => 'search[with_any_property_features][]', :id => feature.name.tableize}, feature.id.to_s, nil %>
                  <label for="<%= feature.name.tableize %>"><%= feature.name %></label>
                </li>
              <% end -%>
            </ul>
          </fieldset>
        <% end %>
      </div>

      <%= render :partial => "community_searches/#{@partial_template}" %>

    </div>


    <div id="sub-content" class="row">
      <div class="row">
        <div id="why-is-bozzuto-the-leader" class="col">
          <%= snippet("Why is Bozzuto the Leader?") %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('#apartment-search-form').attachSearchForm();
  </script>
<% end %>
