<div class="cty-tile">
  <% link_to apartment_community_path(community), :class => 'nh-listing-image' do %>
    <div class="cty-tile-title">
      <h2><%= community.title %></h2>

      <% if community.property_features.any? %>
        <ul class="cty-tile-amenities">
          <% community.property_features.take(8).each do |feature| %>
            <li><%= feature.name.gsub(/\band\b/, '&amp;').html_safe %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if community.neighborhood_listing_image? %>
      <%= image_tag community.neighborhood_listing_image.url, :width => 300, :height => 234 %>
    <% end %>
  <% end %>

  <div class="nh-tile-content">
    <% community.neighborhood_description.if_present? do |description| %>
      <p class="nh-tile-description">
        <%= description %>
      </p>
    <% end %>

    <%= render 'areas/floor_plans', :thing => community %>
  </div>

  <div class="cty-tile-actions row">
    <% community.availability_url.if_present? do |url| %>
      <%= link_to 'Availability', url, :class => 'cty-tile-actions-availability' %>
    <% end %>

    <%= link_to 'More Info', apartment_community_path(community), :class => 'cty-tile-actions-info' %>
  </div>
</div>
