<% content_for :javascript do %>
  <% if filterer.current_filter.try(:amenity) %>
    <%= double_click_amenities_filter_script(filterer.current_filter.amenity) %>
  <% else %>
    <%= double_click_neighborhood_view_script(neighborhood) %>
  <% end %>
<% end %>

<% neighborhoods_assets %>

<% render_meta(neighborhood) %>

<%= render 'metros/breadcrumb',
           :title => neighborhood.full_name,
           :items => [link_to(metro, metro_path(metro)),
                      link_to(area, area_path(metro, area)),
                      neighborhood],
           :description => neighborhood.detail_description %>

<div id="main-content">
  <div class="nh-container">
    <% if neighborhood.tier_1_community_slides.any? %>
      <%= render 'neighborhoods/slideshow', :place => neighborhood %>
    <% else %>
      <%= render 'metros/banner_image', :place => neighborhood %>
    <% end %>

    <%= render 'metros/map', :map_id => 'nh-map', :communities => filterer.filtered_communities %>

    <%= render 'filters', :filterer => filterer %>

    <div class="nh-tiles row">
      <% filterer.filtered_communities.in_groups_of(3, false).each do |group| %>
        <div class="row">
          <% group.each do |community| %>
            <%= render_neighborhoods_listing(community) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if nearby_neighborhoods.any? %>
    <div class="nh-nearby nh-container">
      <h2 class="nh-nearby-title">You may also like&hellip;</h2>

      <%= render 'metros/map', :places => nearby_neighborhoods, :communities => nearby_communities %>

      <div class="nh-tiles row">
        <% nearby_neighborhoods.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |neighborhood| %>
              <%= render_neighborhoods_listing(neighborhood) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
