<% content_for :javascript do %>
  <% if filterer.current_filter.try(:amenity) %>
    <%= double_click_amenities_filter_script(filterer.current_filter.amenity) %>
  <% else %>
    <%= double_click_neighborhood_view_script(neighborhood) %>
  <% end %>
  <%= mediaplex_rocket_fuel_tracking_pixel %>
<% end %>

<div class="section page-title">
  <div class="content">
    <h2><%= neighborhood %></h2>

    <%= link_to area, area_path(metro, area), :class => 'go-back' %>
  </div>
</div>

<div class="section">
  <div class="content property-list">
    <ul>
      <% neighborhood.communities.each do |community| %>
        <%= render 'apartment_communities/listing', :community => community %>
      <% end %>
    </ul>
  </div>
</div>

<% if nearby_neighborhoods.any? %>
  <div class="section">
    <div class="content pill-list">
      <h2 class="nh-nearby-title">You may also like&hellip;</h2>

      <ul>
        <% nearby_neighborhoods.each do |neighborhood| %>
          <%= render_neighborhoods_listing(neighborhood) %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
