<% content_for :body_class do %>home<% end %>
<% render_meta(@home_page) %>

<% content_for :meta do %>
  <meta name="robots" content="noindex">
  <meta property="fb:admins" content="524378309">
  <link rel="canonical" href="https://www.bozzuto.com/">
<% end %>

<% content_for :javascript do %>
  <%= mediaplex_rocket_fuel_tracking_pixel %>
<% end %>

<% neighborhoods_assets %>

<%= render :partial => '/home_pages/special_nav' %>

<% if @home_page %>
  <div id="masthead" class="ab-testing">
    <% if @home_page.slides.any? %>
      <div id="masthead-fg">
        <div class="container">
          <div id="slideshow">
            <div class="header">
              <ul class="slideshow-navigation">
                <li>
                  <a class="prev" href="#">Previous</a>
                </li>
                <li>
                  <a class="next" href="#">Next</a>
                </li>
              </ul>
            </div>

            <ul class="slides">
              <% @home_page.slides.each do |slide| %>
                <li class="slide">
                  <% if slide.link_url.present? %>
                    <%= link_to image_tag(slide.image.url), slide.link_url %>
                  <% else %>
                    <%= image_tag slide.image.url %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="main-content" class="ab-testing">
    <div class="container nh-container">
      <div class="nh-tiles row">
        <% metros.in_groups_of(3, false).each do |group| %>
          <div class="row">
            <% group.each do |metro| %>
              <div class="nh-tile">
                <%= link_to metro_path(metro), :class => 'nh-listing-image' do %>
                  <div class="nh-tile-title">
                    <h2><%= metro %></h2>
                  </div>
                  <%= image_tag metro.listing_image.url, :width => 300, :height => 234 %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div id="welcome" class="col ab-testing">
          <%= @home_page.body.try(:html_safe) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render :partial => 'shared/facebook' %>
