<% content_for :body_class do %>community property videos-and-photos<% end %>

<% content_for :javascript do %>
  <%= lasso_tracking_js(@community) %>
<% end %>

<% render_meta(@community, :media) %>

<%= community_contact_callout(@community) %>

<% unless @community.videos.empty? %>
  <div class="media-group">
    <h2>Videos</h2>

    <ul class="row">
      <% @community.videos.each do |video| %>
        <li class="media-link watch-video">
          <% link_to video.url do %>
            <%= image_tag(video.image.url, :width => 55, :height => 55) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% unless @community.photo_set.nil? %>

  <% slide_index = 1 %>
  <% @community.photo_groups_and_photos.each do |group, photos| %>
    <% unless photos.empty? %>
      <div class="media-group">
        <h2><%= group.title %></h2>

        <ul class="row">
          <% photos.each do |photo| %>
            <li class="media-link">
              <% link_to "#slideshow-slide-#{slide_index}", :class => 'set-slideshow' do %>
                <%= image_tag(photo.image.url(:thumb), :width => 55, :height => 55) %>
              <% end %>
            </li>

            <% slide_index += 1 %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<% end %>
