<% content_for :javascript do %>
<%= javascript_include_tag 'jmapping/jquery.jmapping.min', 'jmapping/jquery.metadata', 'jmapping/mapiconmaker', 'jmapping/markermanager' %>

<script type="text/javascript">
function updateMap() {
  $('#large-map').data('jMapping').update();
}

function search(categories) {
  var returned = 0;
  $.each(categories, function(category_index, category) {
    $.get('http://api.yelp.com/business_review_search?' +
      $.param({
        category: category,
        ywsid: '<%= APP_CONFIG[:yelp_api_key] %>',
        lat: <%= @community.latitude %>,
        long: <%= @community.longitude %>,
        limit: 10,
        radius: 10
      }), {},
      function(data, status) {
        template = '<div class="map-location biz" data-jmapping=\'{{json}}\'><div class="info-box"><h4>{{name}}</h4></div></div>';
        $.each(data.businesses, function(index, biz) {
          var div = template;
          biz_object = {
            category: category,
            id: ((category_index*1000)+(index)+2),
            point: {
              lat: biz.latitude,
              lng: biz.longitude
            },
          };
          div = div.replace('{{json}}', JSON.stringify(biz_object));
          div = div.replace('{{name}}', biz.name);

          $('#large-map-side-bar').append(div);
        });
        updateMap();
      }, 'jsonp'
    );
  });
}

$(document).ready(function() {
  $('#map-canvas').jMapping({
    default_zoom_level: 13
  });

  $("#map-lightbox").click(function (e) {
    e.preventDefault();
    $("#large-map-container").lightbox_me({
      onLoad: function () {
        $('#large-map').css({height:'420px',width:'100%'});

        $('#large-map').jMapping({
          category_icon_options: function(category) {
            switch(category) {
              case 'restaurants':
                return 'http://google-maps-icons.googlecode.com/files/restaurant.png';
                break;
              case 'nightlife':
                return 'http://google-maps-icons.googlecode.com/files/cocktail.png';
                break;
              case 'childcare':
                return 'http://google-maps-icons.googlecode.com/files/daycare.png';
                break;
              case 'arts':
                return 'http://google-maps-icons.googlecode.com/files/theater.png';
                break;
              default:
                return 'http://google-maps-icons.googlecode.com/files/home.png';
            }
          },
          default_zoom_level: 13,
          side_bar_selector: '#large-map-side-bar:first'
        });

        var categories = new Array;
        $('#large-map-controls input[name=categories]:checked').map(function() {
          categories.push($(this).val());
        });
        search(categories);

        $('#large-map-controls input').click(function(e) {
          $('#large-map-side-bar .biz').remove();
          categories = new Array;
          $('#large-map-controls input[name=categories]:checked').map(function() {
            categories.push($(this).val());
          });

          search(categories);
        });
      }
    });
  });

});
</script>
<% end %>

<div id="sidebar" class="col">
  <div id="community-info" class="article row">
    <ul class="nav row">
      <li>
        <%= link_to 'View Map', '#map' %>
      </li>
      <li>
        <%= link_to 'Walk Score&trade;'.html_safe, '#walk-score' %>
      </li>
      <% if @community.has_local_info? %>
        <li class="last">
          <%= link_to 'Local Info', '#local-info' %>
        </li>
      <% end %>
    </ul>

    <div id="map" class="section">
      <div id="map-canvas"></div>
      <div id="map-side-bar" style="display:none;">
        <div class="map-location" data-jmapping="{id:1, point: {lat:<%= @community.latitude %>, lng:<%= @community.longitude %>}}">
          <div class="info-box">
          <h4><%= h @community.title %></h4>
          </div>
        </div>
      </div>
      <p class="call-to-action">
        <%= link_to 'View Larger', "#", :id => 'map-lightbox' %>
      </p>
    </div>

    <div id="walk-score" class="section">
      <%= walkscore_map_script(@community) %>
    </div>

    <% if @community.has_local_info? %>
      <div id="local-info" class="section">
        <% @community.local_info.take(5).each do |info| %>
          <div class="local-info">
            <h4><%= link_to info.title.gsub(/on Yelp$/, ''), info.url %></h4>

            <p class="date">
              <%= info.published_at.to_formatted_s(:month_day_year) %>
            </p>

            <p>
              <%= truncate_html(raw(info.description), :length => 75) %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= yield :sidebar %>

  <div class="social-updates">
    <%= facebook_like_link(request.url) %>

    <% if @community.facebook_url.present? %>
      <p class="facebook-link">
        <%= link_to 'Follow on Facebook', @community.facebook_url, :rel => 'external' %>
      </p>
    <% end %>

    <% if @community.twitter_handle.present? %>
      <div class="twitter-update" <%= twitter_data_attr(@community.twitter_handle) %>></div>
    <% end %>

    <%= share_this_link %>
  </div>
</div>

<% content_for :end_of_body do %>

  <div id="large-map-container">
    <div id="large-map">

    </div>
    <div id="large-map-controls">
      <h3>Points of Interest</h3>
      <div class="row">
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" name="categories" value="restaurants" checked="checked" />
              Restaurants
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" name="categories" value="arts" checked="checked" />
              Arts &amp; Entertainment
            </label>
          </li>
        </ul>
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" name="categories" value="childcare" checked="checked" />
              Daycare
            </label>
          </li>
        </ul>
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" name="categories" value="nightlife" checked="checked" />
              Nightlife
            </label>
          </li>
        </ul>
      </div>

      <div id="large-map-side-bar">
        <div class="map-location" data-jmapping="{id:1, point: {lat:<%= @community.latitude %>, lng:<%= @community.longitude %>}}">
          <div class="info-box">
            <h4><%= h @community.title %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
