<% content_for :javascript do %>
<%= javascript_include_tag 'jmapping/jquery.jmapping.min', 'jmapping/jquery.metadata', 'jmapping/mapiconmaker', 'jmapping/markermanager' %>

<script type="text/javascript">
$(document).ready(function() {
  $('#map-canvas').jMapping({
    default_zoom_level: 13
  });

  $("#map-lightbox").click(function (e) {
    e.preventDefault();
    $("#large-map-container").lightbox_me({
      onLoad: function () {
        $('#large-map').css({height:'420px',width:'100%'});
        $('#large-map').jMapping({
          category_icon_options: function(category) {
            return 'http://google-maps-icons.googlecode.com/files/home.png';
          },
          default_zoom_level: 13,
          side_bar_selector: '#large-map-side-bar:first'
        });
      }
    });
  });

});
</script>
<% end %>

<div id="sidebar" class="col">
  <div id="community-info" class="article row">
    <ul class="nav row">
      <li>
        <%= link_to 'View Map', '#map' %>
      </li>
      <li>
        <%= link_to 'Walk Score&trade;'.html_safe, '#walk-score' %>
      </li>
      <% if @community.has_local_info? %>
        <li class="last">
          <%= link_to 'Local Info', '#local-info' %>
        </li>
      <% end %>
    </ul>

    <div id="map" class="section">
      <div id="map-canvas"></div>
      <div id="map-side-bar" style="display:none;">
        <div class="map-location" data-jmapping="{id:1, point: {lat:<%= @community.latitude %>, lng:<%= @community.longitude %>}}">
          <div id="info-box">
          <h4><%= h @community.title %></h4>
          </div>
        </div>
      </div>
      <p class="call-to-action">
        <%= link_to 'View Larger', "#", :id => 'map-lightbox' %>
      </p>
    </div>

    <div id="walk-score" class="section">
      <%= walkscore_map_script(@community) %>
    </div>

    <% if @community.has_local_info? %>
      <div id="local-info" class="section">
        <% @community.local_info.take(5).each do |info| %>
          <div class="local-info">
            <h4><%= link_to info.title.gsub(/on Yelp$/, ''), info.url %></h4>

            <p class="date">
              <%= info.published_at.to_formatted_s(:month_day_year) %>
            </p>

            <p>
              <%= truncate_html(raw(info.description), :length => 75) %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= yield :sidebar %>

  <div class="social-updates">
    <%= facebook_like_link(request.url) %>

    <% if @community.facebook_url.present? %>
      <p class="facebook-link">
        <%= link_to 'Follow on Facebook', @community.facebook_url, :rel => 'external' %>
      </p>
    <% end %>

    <% if @community.twitter_handle.present? %>
      <div class="twitter-update" <%= twitter_data_attr(@community.twitter_handle) %>></div>
    <% end %>

    <%= share_this_link %>
  </div>
</div>

<% content_for :end_of_body do %>

  <div id="large-map-container">
    <div id="large-map">

    </div>
    <div id="large-map-controls">
      <h3>Points of Interest</h3>
      <div class="row">
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
        </ul>
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
        </ul>
        <ul class="col">
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" />
              Point of interest
            </label>
          </li>
        </ul>
      </div>

      <div id="large-map-side-bar" style="display:none;">
        <div class="map-location" data-jmapping="{id:1, point: {lat:<%= @community.latitude %>, lng:<%= @community.longitude %>}}">
          <div id="info-box">
            <h4><%= h @community.title %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
