<% content_for :javascript do %>
  <script type="text/javascript">
    bozzuto.yelpApiKey = <%= APP_CONFIG[:yelp_api_key].inspect.html_safe %>;
    bozzuto.communityLatitude = <%= @community.latitude %>;
    bozzuto.communityLongitude = <%= @community.longitude %>;
  </script>
<% end %>

<% content_for :end_of_body do %>
  <div id="large-map-container" class="modal">
    <div id="large-map"></div>

    <div id="large-map-controls">
      <a href="http://www.yelp.com/" id="large-map-yelp-logo">
        <%= image_tag('structure/yelp_logo_50x25.png', width: 50, height: 25) %>
      </a>

      <h3>Points of Interest</h3>

      <p class="select-links">
        Select:
        <a href="#" class="select-all">All</a>
        <a href="#" class="select-none">None</a>
      </p>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/school.png" />
        <input type="checkbox" name="categories" value="education" checked="checked" />
        Education
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/coffee.png" />
        <input type="checkbox" name="categories" value="coffee" checked="checked" />
        Coffee and Tea
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/grocery.png" />
        <input type="checkbox" name="categories" value="grocery" checked="checked" />
        Grocery
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/fitnesscenter.png" />
        <input type="checkbox" name="categories" value="fitness" checked="checked" />
        Fitness / Instruction
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/bus.png" />
        <input type="checkbox" name="categories" value="transport" checked="checked" />
        Transportation
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/bar.png" />
        <input type="checkbox" name="categories" value="bars" checked="checked" />
        Bars
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/shoppingmall.png" />
        <input type="checkbox" name="categories" value="shopping" checked="checked" />
        Shopping
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/aestheticscenter.png" />
        <input type="checkbox" name="categories" value="beautysvc" checked="checked" />
        Beauty and Spas
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/music-classical.png" />
        <input type="checkbox" name="categories" value="arts" checked="checked" />
        Arts / Entertainment
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/restaurant.png" />
        <input type="checkbox" name="categories" value="restaurants" checked="checked" />
        Restaurants
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/clothes.png" />
        <input type="checkbox" name="categories" value="drycleaninglaundry" checked="checked" />
        Dry Cleaning / Laundry
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/hospital.png" />
        <input type="checkbox" name="categories" value="hospitals" checked="checked" />
        Hospitals
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/park-urban.png" />
        <input type="checkbox" name="categories" value="parks" checked="checked" />
        Parks
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/hotel.png" />
        <input type="checkbox" name="categories" value="hotels" checked="checked" />
        Hotels
      </label>

      <label>
        <img width="24" src="//google-maps-icons.googlecode.com/files/pets.png" />
        <input type="checkbox" name="categories" value="petservices" checked="checked" />
        Pet Services
      </label>

      <div id="large-map-side-bar">
        <div class="map-location" data-jmapping="{id:1, point: {lat:<%= @community.latitude %>, lng:<%= @community.longitude %>}}">
          <div class="info-box">
            <h4 class="hdr-tertiary"><%= h @community.title %></h4>

            <p><%= @community.address('<br />').html_safe %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
