<% content_for :javascript do %>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function() {
        if (GBrowserIsCompatible()) {
          var latitude = <%= @community.latitude %>;
          var longitude = <%= @community.longitude %>;
          var point = new GLatLng(latitude, longitude);
          var map = new GMap2(document.getElementById("map-canvas"));
          map.setCenter(point, 13);
          map.setUIToDefault();
          map.addOverlay(new GMarker(point));

          $('<div id="map-large">').appendTo("body").css({width: '80%', height: '80%'}).hide();
          var largeMap = new GMap2(document.getElementById("map-large"));
          largeMap.setCenter(point, 13);
          largeMap.setUIToDefault();
          var icon = new GIcon();
          icon.image = 'http://google-maps-icons.googlecode.com/files/home.png';
          icon.iconAnchor = new GPoint(18, 32);
          icon.infoWindowAnchor = new GPoint(10, 10);
          var marker = new GMarker(point, {icon: icon});
          largeMap.addOverlay(marker);
          GEvent.addListener(marker, 'click', function() {
                  marker.openInfoWindowHtml("<h4><%= @community.title %></h4>");
                });

          var populateMapFunction = function (search) {
            return function (data) {
              $(data.ResultSet.Result).each(function () {
                var result = this;
                var point = new GLatLng(result.Latitude, result.Longitude);
                var marker = new GMarker(point, {icon: icons[search]});
                GEvent.addListener(marker, 'click', function() {
                  marker.openInfoWindowHtml('<h4><a href="' + result.BusinessUrl + '">' + result.Title + '</a></h4>' +
                      '<p>' + result.Distance + ' miles<br />' + result.Address + '<br />' + result.City + ', ' + result.State + '</p>');
                });
                largeMap.addOverlay(marker);
              });
            }
          }

          var queries = {
            restaurant: 'http://google-maps-icons.googlecode.com/files/restaurant.png',
            school: 'http://google-maps-icons.googlecode.com/files/school.png'
          }
          var icons = [];

          for (var query in queries) {
            window["populateMap_" + query] = populateMapFunction(query);
            icons[query] = new GIcon();
            icons[query].image = queries[query];
          }

          for (var icon in icons) {
            icons[icon].iconAnchor = new GPoint(18, 32);
            icons[icon].infoWindowAnchor = new GPoint(10, 10);
          }

          for (var query in queries) {
            $.getScript("http://local.yahooapis.com/LocalSearchService/V3/localSearch?" + $.param({
              appid: <%= raw(APP_CONFIG[:yahoo_api_key].inspect) %>,
              latitude: latitude,
              longitude: longitude,
              query: query,
              output: 'json',
              callback: 'window.populateMap_' + query
            }));
          }

          $("#map-lightbox").click(function (e) {
            e.preventDefault();
            $("#map-large").lightbox_me({
              onLoad: function () {
                largeMap.checkResize();
                largeMap.setCenter(point, 13);
              }
            });
          });
        }
      })
    })(jQuery);
  </script>
<% end %>

<div id="sidebar" class="col">
  <div id="community-info" class="article row">
    <ul class="nav row">
      <li>
        <%= link_to 'View Map', '#map' %>
      </li>
      <li>
        <%= link_to 'Walk Score&trade;'.html_safe, '#walk-score' %>
      </li>
      <% if @community.has_local_info? %>
        <li class="last">
          <%= link_to 'Local Info', '#local-info' %>
        </li>
      <% end %>
    </ul>

    <div id="map" class="section">
      <div id="map-canvas"></div>
      <p class="call-to-action">
        <%= link_to 'View Larger', "#", :id => 'map-lightbox' %>
      </p>
    </div>

    <div id="walk-score" class="section">
      <%= walkscore_map_script(@community) %>
    </div>

    <% if @community.has_local_info? %>
      <div id="local-info" class="section">
        <% @community.local_info.take(5).each do |info| %>
          <div class="local-info">
            <h4><%= link_to info.title.gsub(/on Yelp$/, ''), info.url %></h4>

            <p class="date">
              <%= info.published_at.to_formatted_s(:month_day_year) %>
            </p>

            <p>
              <%= truncate_html(raw(info.description), :length => 75) %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= yield :sidebar %>

  <div class="social-updates">
    <%= facebook_like_link(request.url) %>

    <% if @community.facebook_url.present? %>
      <p class="facebook-link">
        <%= link_to 'Follow on Facebook', @community.facebook_url %>
      </p>
    <% end %>

    <% if @community.twitter_handle.present? %>
      <div class="twitter-update" <%= twitter_data_attr(@community.twitter_handle) %>></div>
    <% end %>

    <%= share_this_link %>
  </div>
</div>
