<% content_for :special_nav do %>
  <ul id="special-nav">
    <li>
      <a href="#">Send to friend</a>

      <div class="popup">
        <% form_tag send_to_friend_path(@community), :class => (flash[:send_to_friend_errors] ? 'errors' : nil) do %>
          <p>
            <label>
              <strong>Input your friend&rsquo;s email address</strong> to
              send <%= @community.short_title || @community.title %> info
            </label>
          </p>

          <p class="fields">
            <%= text_field_tag :email %>
            <button type="submit">Send</button>
          </p>
        <% end %>
      </div>
    </li>
    <li>
      <a href="#">Send to phone</a>

      <div class="popup">
        <% form_tag send_me_updates_path(@community), :class => (flash[:send_to_phone_errors] ? 'errors' : nil) do %>
          <% content_tag :label, :for => 'phone_number' do %>
            <strong>Input your phone number</strong> for <%= @community.short_title || @community.title %> info. Std msg
            rates apply.
          <% end %>
          <p class="fields">
            <%= text_field_tag 'phone_number' %>
            <button type="submit">Send</button>
          </p>
        <% end %>
      </div>
    </li>

    <% if @community.ufollowup_id.present? %>
      <li>
        <a href="#">Send me updates</a>
        <div class="popup">
          <% form_tag ufollowup_path(@community), :method => 'get' do -%>
            <label>
              <strong>Input your email address</strong> to stay informed
              about <%= @community.short_title || @community.title %> incentives and events.
            </label>

            <p class="fields">
              <%= text_field_tag :email %>            
              <button type="submit">Send</button>
            </p>
          <% end -%>
        </div>
      </li>
    <% end -%>
  </ul>
<% end %>
