<% content_for :body_class do %>community property features<% end %>
<% render_meta(@community, :contact) %>

<% if flash[:email_sent] -%>
<div class="notice">
  Thanks for contacting us about <%= @community.title %>! We will reply to you soon.  
</div>
<% end -%>

<div id="community-contact-text">
  <%= @community.contact_text.try(:html_safe) %>  
</div>

<% if @community.show_lead_2_lease? -%>
  <div id="community-contact-form">
    <%= error_messages_for :submission %>
    
    <% form_for :submission, :url => contact_apartment_community_path do |f| -%>      
      <fieldset>
        <legend>Contact Information</legend>
        <%= f.text_input :first_name %>
        <%= f.text_input :last_name %>
        <%= f.text_input :address_1 %>
        <%= f.text_input :address_2 %>
        <%= f.text_input :city %>
        <%= f.text_input :state %>
        <%= f.text_input :zip_code, :label => "ZIP Code" %>
        <%= f.text_input :primary_phone, :label => "Primary Phone" %>
        <%= f.text_input :secondary_phone, :label => "Secondary Phone" %>
        <%= f.text_input :email %>
      </fieldset>

      <fieldset>
        <legend>Move In Information</legend>
        <p>
          <%= f.label :move_in_date, "Desired Move-In Date" %><br />
          <%= f.date_select :move_in_date %>
        </p>

        <p>
          <%= f.label :bedrooms, "Number of Bedrooms" %>
          <%= f.select :bedrooms, (1..5) %>
        </p>
        
        <p>
          <%= f.label :bathrooms, "Number of Bathrooms" %>
          <%= f.select :bathrooms, (1..5) %>
        </p>

        <p>
          <%= f.label :pets, "Will you have pets?" %>
          <%= f.check_box :pets %>          
        </p>

        <p>
          <%= f.label :comments %><br />
          <%= f.text_area :comments %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      </fieldset>

    <% end -%>
  </div>
<% end -%>
