<% if %w(index edit).include? params[:action] %>
  <div class="module">
    <h2>External Feeds</h2>

    <% if params[:action] == 'index' %>
      <ul class="external-feeds">
        <% Bozzuto::ExternalFeed::Feed.feed_types.each do |type| %>
          <% loader = Bozzuto::ExternalFeed::Loader.loader_for_type(type) %>
          <li>
            <h3><%= loader.feed_name %></h3>

            <%= link_to 'View All', :external_cms_type => type %><br />

            <% if loader.can_load? %>
              <%= link_to 'Refresh Feed', {
                    :controller => 'admin/external_feeds',
                    :action     => :load,
                    :feed_type  => loader.feed_type
                  },
                  :class => 'refresh-feed' %>

              <span class="external-cms-message please-wait">
                <%= image_tag 'spinner.gif' %>
                Refreshing feed, please wait (this may take awhile)&hellip;
              </span>
            <% else %>
              <span class="external-cms-message">
                <%= distance_of_time_in_words(Time.now, loader.next_load_at).capitalize %> until next refresh
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>

      <p class="refresh-interval">
        <em>Feeds can be refreshed once every two hours.</em>
      </p>
    <% end %>


    <% if params[:action] == 'edit' %>
      <ul>
        <% if @item.managed_externally? %>
          <li>
            <span class="external-cms-message">
              Managed by <%= @item.external_cms_name %>.
            </span>
          </li>
          <li>
            <%= link_to 'Disconnect from feed',
                        { :action => :disconnect, :id => @item.id },
                        :confirm => "This community will no longer receive updates from the #{@item.external_cms_name} feed.\n\nAre you sure you want to disconnect it?" %>
          </li>
        <% else %>
          <li><%= link_to 'Merge with a feed property', :action => :merge, :id => @item.id %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if params[:action] == 'edit' %>
    <div class="module">
      <h2>Custom Actions</h2>
      <ul class="external-feeds">
        <li>
          <%= link_to 'Delete all Floor Plans', { :action => :delete_floor_plans, :id => @item.id }, :confirm => "Are you sure you want to delete all the floor plans for this community?" %>
        </li>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == 'index' %>
    <div class="module">
      <h2>Feed Downloads</h2>
      <ul class="external-feeds">
        <% Bozzuto::ExternalFeed::Ftp.types.each do |type| %>
          <% ftp = type.new %>

          <li>
            <h3><%= ftp.ftp_name %></h3>

            <p>Includes <%= ftp.feed_types.map(&:titleize).to_sentence %> <%= ftp.feed_types.size > 1 ? 'feeds' : 'feed' %>.</p>

            <% if ftp.can_load? %>
              <%= link_to 'Download Feeds to Server',
                :controller => 'admin/external_feeds',
                :action     => :download_feeds,
                :ftp_type   => type %>

              <span class="external-cms-message please-wait">
                <%= image_tag 'spinner.gif' %>
                Downloading feed files, please wait (this may take awhile)&hellip;
              </span>
            <% else %>
              <span class="external-cms-message">
                <%= distance_of_time_in_words(Time.now, ftp.next_load_at).capitalize %> until feeds can be downloaded again.
              </span>
            <% end %>
          </li>
        <% end %>

        <p class="refresh-interval">
          <em>Feed files can be downloaded via FTP once every 2 hours.</em>
        </p>
      <ul>
    </div>

    <div class="module">
      <h2>Apartments Export</h2>
      <ul class="external-feeds">
        <li>
          <%= link_to 'Rebuild & Re-Send Apartments Export',
            {
              :controller => 'admin/external_feeds',
              :action     => :rebuild_and_resend_export,
            },
            :class => 'refresh-feed'
          %>

          <span class="external-cms-message please-wait">
            <%= image_tag 'spinner.gif' %>
            Rebuilding and re-sending apartments export. Please wait (this may take awhile)&hellip;
          </span>
        </li>
      <ul>
    </div>
  <% end %>
<% end %>
