<% feed_name = @external_community.external_cms_name %>
<% feed_letter = feed_name.chars.first %>

<% content_for :breadcrumb do %>
  <%= link_to @resource[:pluralized], :action => 'index' %> &rsaquo;
  <span><%= _("Merge with external community") %></span>
<% end %>

<div id="flash" class="notice">
  <p style="line-height: 1.5;">
    You're merging &ldquo;<%= @item.title %>&rdquo; with a <%= feed_name %> community.
    <br />
    <%= link_to 'Do you want to cancel?', url_for_action(:edit) %>
  </p>
</div>

<p>
  Here&rsquo;s what will happen:
</p>

<ol>
  <li>
    The <%= feed_name %>-managed community (<em><%= feed_letter %></em>) fields will be copied to this apartment community (<em>A</em>)
  </li>
  <li>
    <em>A</em> will be changed so its fields will update when then the <%= feed_name %> feed loads.
  </li>
  <li>
    <em><%= feed_letter %></em> will be deleted from the CMS
  </li>
</ol>

<p>
  The following fields will be changed:
</p>

<table class="merge-table">
  <thead>
    <tr>
      <th class="property" scope="col">Field</th>
      <th class="old-value" scope="col">Old Value</th>
      <th class="new-value" scope="col">New Value</th>
    </tr>
  </thead>

  <tbody>
    <% ApartmentCommunity.external_cms_attributes.reject { |a| a == :floor_plans }.each do |attr| %>
      <tr>
        <td class="property"><%= ApartmentCommunity.human_attribute_name(attr) %></td>

        <td class="old-value"><%= @item.send(attr) %></td>

        <td class="new-value"><%= @external_community.send(attr) %></td>
      </tr>
    <% end %>

    <tr>
      <td class="property">Floor Plans</td>

      <td class="old-value">
        <% @item.floor_plans.each do |plan| %>
          <%= plan.name %><br />
        <% end %>
      </td>

      <td class="new-value">
        <% @external_community.floor_plans.each do |plan| %>
          <%= plan.name %><br />
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


<% form_tag url_for_action(:end_merge) do %>
  <%= hidden_field_tag 'external_community_id', @external_community.id %>

  <p>
    Are you sure you want to merge these two communities?
  </p>

  <p>
    <%= submit_tag 'Merge' %>
    &nbsp;
    or
    &nbsp;
    <%= link_to 'Cancel', url_for_action(:edit) %>
  </p>
<% end %>

