<div id="footer" class="footer">
  <div class="container">
    <div class="col">
      <h4>About Us</h4>

      <ul>
        <% about_root_pages.each do |page| %>
          <li><%= link_to page.title, page_path(page.section, page) %></li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h4>Our Services</h4>

      <ul>
        <% services.each do |service| %>
          <li><%= link_to service.title, page_path(service) %></li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h4>We Work In</h4>

      <ul>
        <% states.each do |state| %>
          <li><%= link_to state.name, state %></li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h4>Get in Touch</h4>

      <p>
        301.220.0100
        <a href="mailto:feedback@bozzuto.com">feedback@bozzuto.com</a>
      </p>

      <p>
        7850 Walker Dr.<br />
        Suite 400<br />
        Greenbelt, MD 20770
      </p>
    </div>

    <div class="col wide">
      <h4>Connect with Us</h4>

      <form class="search-form">
        <label for="search-input">Enter your email address to stay connected.</label>
        <p class="fields">
          <input type="text" name="q" id="search-input" />
          <button type="submit">Submit</button>
        </p>
      </form>

      <ul>
        <li class="facebook"><a href="#">Follow us on Facebook</a></li>
        <li class="twitter"><a href="#">Follow us on Twitter</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="copyright">
  <div class="container">
    <p>
      &copy; <%= Time.now.year %> Bozzuto
    </p>

    <p class="links">
      <a href="#">Privacy Policy</a>
      |
      <a href="#">Website Disclaimer</a>
      |
      <a href="#">Employee Login</a>
    </p>

    <a href="#" id="eho">
      Equal Housing Opportunity
    </a>
  </div>
</div>

<%= render :partial => 'layouts/javascript' %>
