<div id="header" class="header">
  <div class="container">
    <div id="logo">
      <%= link_to 'Bozzuto', '#' %>
    </div>

    <div>
      <div class="nav">
        <ul id="main-nav">
          <li class="apartments-nav">
            <%= link_to 'Apartments', '/apartments' %>
          </li>
          <li class="homes-nav">
            <%= link_to 'Apartments', '/new-homes' %>
          </li>
          <li class="about-nav">
            <%= link_to 'About Us', '/about' %>
          </li>
          <li class="services-nav">
            <%= link_to 'Our Services', services_path %>
          </li>
        </ul>

        <% if home? %>
          <ul id="home-nav">
            <% Section.services.each do |service| %>
              <li><%= link_to service.title, page_path(service) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="section">
        <form action="search-results.html" class="search-form">
          <p class="fields">
            <input type="text" name="q" />
            <button type="submit">Submit</button>
          </p>
        </form>

        <div class="aside">
          <ul>
            <li>
              <%= link_to 'Careers', section_page_path('about', 'careers') %>
            </li>
            <li>
              <%= link_to 'Contact Us', contact_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield :special_nav %>
    
  </div>
</div>
