<%= clicktale_top unless viget_ip? %>
<%= yield(:mediaplex_code) %>

<div id="header" class="header">
  <div class="container">
    <div id="logo">
      <%= link_to root_path do %>
        <%= raw(Rails.application.assets.find_asset('logo.svg').to_s) %>
      <% end %>
    </div>

    <div>
      <div class="nav">
        <ul id="main-nav" class="<%= request.path.split('/')[1] %>">
          <li class="apartments-nav">
            <%= link_to 'Apartments', '/apartments' %>
          </li>
          <li class="homes-nav">
            <%= link_to 'New Homes', '/new-homes' %>
          </li>
          <li class="about-nav">
            <%= link_to 'About Us', '/about-us' %>
            <div class="dropdown">
              <ul class="col">
                <li class="first"><a href="/about-us/values">Values</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/about-us/leadership">Leadership</a></li>
              </ul>
              <ul class="col">
                <li class="first"><a href="/about-us/news-and-press">News &amp; Press</a></li>
                <li><a href="/about-us/testimonials">Testimonials</a></li>
                <li><a href="/about-us/news-and-press/awards">Awards</a></li>
              </ul>
            </div>
          </li>
          <li class="services-nav">
            <%= link_to 'Our Services', '/services' %>
            <div class="dropdown">
              <ul class="col">
                <li class="first"><%= link_to 'Management', '/services/management' %></li>
                <li><%= link_to 'Homebuilding', '/services/homebuilding' %></li>
                <li><%= link_to 'Construction', '/services/construction' %></li>
              </ul>
              <ul class="col">
                <li class="first"><%= link_to 'Development', '/services/development' %></li>
                <li><%= link_to 'Acquisitions', '/services/acquisitions' %></li>
                <li><%= link_to 'Land', '/services/land' %></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="section">
        <form action="/search" class="search-form">
          <p class="fields">
            <input type="text" name="q" value="<%= params[:q] %>"/>
            <button type="submit">Submit</button>
          </p>
        </form>

        <div class="aside">
          <ul>
            <li>
              <%= link_to 'Careers', '/careers' %>
            </li>
            <li>
              <%= link_to 'Contact Us', contact_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield :special_nav %>

  </div>
</div>
