<head>
  <title>
    <% if yield(:meta_title).present? %>
      <%= yield(:meta_title) %> -
    <% elsif yield(:page_title).present? %>
      <%= yield(:page_title) %> -
    <% end %>
    The Bozzuto Group
  </title>

  <meta charset="utf-8" />
  <% if yield(:meta_description).present? %>
    <meta name="description" content="<%= yield :meta_description %>" />
  <% end %>
  <% if yield(:meta_keywords).present? %>
    <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <% end %>

  <%= stylesheet_link_tag 'screen', :media => 'screen' %> 
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'ie6-7', :media => 'screen' %> 
  <![endif]-->


  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <%= javascript_include_tag 'lookup' %>
    
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= auto_discovery_link_tag :rss, section_news_posts_url('about', :format => :rss), :title => 'Latest Bozzuto News' %>
</head>
