<%= render 'shared/google_tag_manager' %>
<%= yield(:mediaplex_code) %>

<header class="site-header">
  <div class="refresh-container">
    <nav class="site-header__main-nav">
      <div class="site-header__logo">
        <%= link_to root_path do %>
          <%= inline_svg 'logo.svg' %>
        <% end %>
      </div>
      <ul class="site-header__main-nav__list js-mainNav">
        <li class="site-header__main-nav__item">
          <%= link_to 'Apartments', '/apartments' %>
        </li>
        <li class="site-header__main-nav__item">
          <%= link_to 'New Homes', '/new-homes' %>
        </li>
        <li class="site-header__main-nav__item">
          <%= link_to 'Our Services', '/services' %>
        </li>
        <li class="site-header__main-nav__item">
          <%= link_to 'About Us', '/about-us' %>
        </li>
        <li class="site-header__main-nav__item">
          <%= link_to 'Careers', '/careers' %>
        </li>
        <li class="site-header__main-nav__item">
          <%= link_to 'Contact', contact_path %>
        </li>
        <li class="site-header__main-nav__search js-headerSearchFormToggle">
          <button class="interactive-icon-button site-header__main-nav__search__icon js-headerSearchFormButton">
            <span class="screenreader-only">Search</span>
            <%= render 'shared/svg/search' %>
          </button>
          <button aria-hidden="true" class="interactive-icon-button site-header__main-nav__search__icon -hidden js-headerSearchFormButton">
            <span class="screenreader-only">Close Search</span>
            <%= render 'shared/svg/close' %>
          </button>
          <form action="/search" class="site-header__main-nav__search__form js-headerSearchForm">
            <input class="input-refresh -thin" type="text" name="q" value="<%= params[:q] %>"/>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>
