<head>
  <title>
    <% if yield(:meta_title).present? %>
      <%= yield(:meta_title) %> -
    <% elsif yield(:page_title).present? %>
      <%= yield(:page_title) %> -
    <% end %>
    Bozzuto
  </title>

  <meta charset="utf-8" />

  <% if Rails.env.production? %>
    <meta name="google-site-verification" content="z8aGriUyw1rozhnubJxR1pNhX2yL-QwTujrkif6shaU" />
  <% end %>
  <% if yield(:meta_description).present? %>
    <meta name="description" content="<%= yield :meta_description %>" />
  <% end %>
  <% if yield(:meta_keywords).present? %>
    <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <% end %>

  <%= yield(:meta) %>

  <%= stylesheet_link_tag 'index', :media => 'screen' %>
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'ie6-7', :media => 'screen' %>
  <![endif]-->
  <!--[if gte IE 8]>
    <%= stylesheet_link_tag 'ie', :media => 'screen' %>
  <![endif]-->

  <%= yield :stylesheet %>

  <script type="text/javascript">
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js');})(document.documentElement);
  </script>

  <%= javascript_include_tag 'application' %>

  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= auto_discovery_link_tag :rss, news_posts_url('about-us', :format => :rss), :title => 'Latest Bozzuto News' %>

  <!-- DoubleClick DART Natural Search Standard Tracking Tag for DS3
  DFA Network - The Search Agency - DFA (7050) : DS Agency - The Search Agency (20100000000000944) : DS Advertiser - Bozzuto (21700000000017573)
  Please do not remove
  Tag should be placed at the top of the page, after opening body tag and before DoubleClick Spotlight or Floodlight tag(s)
  Creation Date: 03-11-2013 -->
  <script type='text/javascript'>
    // DoubleClick DART Natural Search Tracking Code
    if (document.referrer){
      var ord = Math.random()*1000000000000;
      document.write('<SCRIPT language="JavaScript1.1" SRC="//ad.doubleclick.net/adj/N7050.197812.NSO.CODESRV/B7514557;dcadv=4077176;sz=1x2;ord=' + ord + '?"><\/SCRIPT>');
    }
  </script>

  <%= double_click_community_landing_script %>
  <script src="//cdn.optimizely.com/js/3520491636.js"></script>
</head>
