<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html lang="en">
  <%= render :partial => "layouts/mobile/head" %>
<body>
  <%= render :partial => 'shared/google_tag_manager.html.erb' %>
  <%= render :partial => "layouts/mobile/header" %>
  <div class="main-content">
    <%= yield %>
  </div>
  <%= render :partial => "layouts/mobile/footer" %>
  <%= render :partial => "layouts/mobile/scripts" %>
</body>
</html>
