<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render :partial => 'layouts/head' %>
<body class="<% unless home? %>secondary<% end %> <%= yield :body_class %>">
  <%= render :partial => 'layouts/header' %>

  <%= yield %>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
