<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render :partial => 'layouts/header' %>
<body class="<%= yield :body_class %>">

<div id="header" class="header">
  <div class="container">
    <div id="logo">
      <%= link_to 'Bozzuto', '/' %>
    </div>

    <div>
      <div class="nav">
        <ul id="main-nav">
          <li class="apartments-nav"><a href="#">Apartments</a></li>
          <li class="homes-nav"><a href="#">New Homes</a></li>
          <li class="about-nav"><a href="about.html">About Us</a></li>
          <li class="services-nav"><a href="#">Our Services</a></li>
        </ul>

        <ul id="home-nav">
          <li><%= link_to 'Acquisitions', '#' %></li>
          <li><%= link_to 'Construction', '#' %></li>
          <li><%= link_to 'Development', '#' %></li>
          <li><%= link_to 'Homebuilding', '#' %></li>
          <li><%= link_to 'Land', '#' %></li>
          <li><%= link_to 'Management', '#' %></li>
        </ul>
      </div>

      <div class="section">
        <form action="search-results.html" class="search-form">
          <p class="fields">
            <input type="text" name="q" />
            <button type="submit">Submit</button>
          </p>
        </form>

        <div class="aside">
          <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <ul id="special-nav">
      <li>
        <a href="#" class="find-apartment-link">Find an Apartment</a>
        <div id="find-apartment-form" class="popup">
          <form>
            <div class="left-col">
              <p class="field">
                <select multiple="multiple" name="location">
                  <optgroup label="Choose Location">
                    <option>Anywhere</option>
                    <option>Alexandria City</option>
                    <option>Fairfax County</option>
                    <option>Arlington County</option>
                    <option>Loudoun County</option>
                    <option>Prince William County</option>
                    <option>Prince Georges County</option>
                  </optgroup>
                </select>
              </p>
            </div>

            <div class="right-col">
              <p class="field">
                <select name="min_price">
                  <option value="">Choose Minimum Price&hellip;</option>
                </select>
              </p>

              <p class="field">
                <select name="max_price">
                  <option value="">Choose Maximum Price&hellip;</option>
                </select>
              </p>

              <p class="advanced-search">
                <a href="#">Advanced Search</a>
              </p>

              <p class="submit">
                <button type="submit">Search</button>
              </p>
            </div>
          </form>
        </div>
      </li>
      <li><a href="#">View our Homes</a></li>
    </ul>
    
  </div>
</div>

<%= yield %>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
