<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render 'layouts/head' %>
<body class="secondary page <%= yield :body_class %>">
  <%= render 'layouts/header' %>

  <% if @page.present? && @page.masthead_slideshow.try(:present?) %>
    <%= render 'pages/masthead_slideshow', :slideshow => @page.masthead_slideshow %>
  <% else %>
    <%= render 'pages/masthead' %>
  <% end %>

  <div id="main-content">
    <div class="container">
      <div id="sidebar" class="col">
        <% if request.path =~ /^\/services\/?$/ %>
          <%= render 'pages/services_nav' %>
        <% else %>
          <%= render 'pages/secondary_nav' %>
        <% end %>
      </div>

      <div id="content" class="col">
        <% if @page.present? && @page.body_slideshow.present? %>
          <%= render 'pages/body_slideshow', :slideshow => @page.body_slideshow %>
        <% end %>

        <% if @page.present? && @page.carousel.present? && @page.carousel.panels.any? %>
          <%= render 'pages/carousel', :carousel => @page.carousel %>
        <% end %>

        <div class="row">
          <div class="column-main col">
            <%= yield %>
          </div>

          <% if @page.try(:show_sidebar?) %>
            <div id="aside" class="col">
              <%= render_aside %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
