<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render :partial => 'layouts/head' %>
<body class="secondary <%= yield :body_class %>">
  <%= render :partial => 'layouts/header' %>

  <div id="masthead">
    <%= render :partial => 'pages/breadcrumb' %>

    <% if @section.montage? %>
      <div id="montage">
          <%= image_tag @section.left_montage_image.url %><%= image_tag @section.middle_montage_image.url %><%= image_tag @section.right_montage_image.url %>
      </div>
    <% end %>
  </div>

  <div id="main-content">
    <div class="container">
      <div id="sidebar" class="col">
        <%= render :partial => 'pages/secondary_nav' %>
      </div>

      <div id="content" class="col">
        <%= yield %>
      </div>

      <div id="aside" class="col">
        <%= render_aside %>
      </div>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
