<!DOCTYPE html>
<html lang="en" class="no-js">
<%= render :partial => 'layouts/head' %>
<body class="secondary page <%= yield :body_class %>">
  <%= render :partial => 'layouts/header' %>

  <% if @page.present? && @page.masthead_slideshow.try(:present?) %>
    <%= render :partial => 'pages/masthead_slideshow', :locals => { :slideshow => @page.masthead_slideshow } %>
  <% else %>
    <%= render :partial => 'pages/masthead' %>
  <% end %>

  <div id="main-content">
    <div class="container">
      <div id="sidebar" class="col">
        <% if request.path =~ /^\/services\/?$/ %>
          <%= render :partial => 'pages/services_nav' %>
        <% else %>
          <%= render :partial => 'pages/secondary_nav' %>
        <% end %>
      </div>

      <div id="content" class="col">
        <% if @page.present? && @page.body_slideshow.try(:present?) %>
          <%= render :partial => 'pages/body_slideshow', :locals => { :slideshow => @page.body_slideshow } %>
        <% end %>

        <div class="row">
          <div class="column-main col">
            <%= yield %>
          </div>

          <div id="aside" class="col">
            <%= render_aside %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
